<app-home>
</app-home>
<div class="wrapper">
    <div class="content">
        <div class="carousel-holder">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img alt="" title="slide.title" style="	background-image: url('./../../assets/home/1.jpg')">
                </ng-template>
                <ng-template carouselSlide>
                    <img alt="" title="slide.title" style="	background-image: url('./../../assets/home/2.jpg')">
                </ng-template>
                <ng-template carouselSlide>
                    <img alt="" title="slide.title" style="	background-image: url('./../../assets/home/3.jpg')">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="quick-links">
            <p>Quick Links</p>
            <br>
            <div *ngFor="let number of [0,1,2,3]" class="links">
                <div class="link-images">
                    <img src="../../../assets/iloilo-seal.png">
                </div>
                <div class="link-text">
                    <div class="placeholder-line"></div>
                    <div class="placeholder-line"></div>
                    <div class="placeholder-line"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>