.statistics-component {
    width: 100%;
    min-height: 100%;
    padding: 10px 0px;
    background: var(--bg1);
    display: flexbox;
    font-family: Raleway;
    padding-left: 30px;
}
.nav1 {
    width: 100%;
    border-radius: 30px;
    background: rgba(150, 150, 150, .1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        flex: 1;
    }
    .btn {
        color: white !important
    }
}