<app-home>
</app-home>
<div class="wrapper">
    <div class="animated fadeInLeftBig">
        <br><br><br><br>
        <h2>COMPREHENSIVE POPULATION DATA BANKING AND MANAGEMENT PROJECT</h2>
        <br>
        <p>

            The Population Office is mandated to establish and maintain an updated population data bank for program operations, development planning, and an educational program to ensure people’s participation in and understanding of population development.
        </p>

        <ul>
            <li>
                The Barangay Service Point Officers
                <p>(insert activities and description)
                </p>
            </li>
        </ul>
    </div>
</div>