<app-home>
</app-home>
<div class="wrapper">
    <br><br> <br><br>
    <div class="animated fadeInLeft">
        <h2 class="center">CORE VALUES</h2>
        <hr>

        <div style="padding: 0 20vw;">
            <p> <span>We</span> the constituents of the Provincial Population Office (PPO), commit ourselves to the following core values and endeavours to LIVE IT:
            </p>
            <br>
            <p>
                <span>L</span>ove of Service – Love of fellowmen expressed through service beyond self is the over-arching principle that guides all other actions and endeavours.
            </p>

            <p>
                <span>I</span>nnovation – We believe that the creation of new ideas ad initiative in the context of our cultural heritage, is the noblest response to the challenge of change in our communities.
            </p>

            <p>
                <span>V</span>igor and Enthusiasm will be our most profound expression of our commitment to our vision, mission, and goals.
            </p>
            <p>
                <span>E</span>xcellence – Our efforts and actions will be guided by the highest standards of quality and excellence.
            </p>
            <br> <br>
            <p>
                <span>I</span>ntegrity – We uphold the principle of truth and honesty, realizing that in our dealings, we are accountable to each other and to our clients, partners, and stakeholders.
            </p>

            <p>
                <span>T</span>eam Work – Given our diverse talent and skills, we will work together to achieve PPO goals.
            </p>
        </div>


    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>