@media only screen and (max-width: 600px) {
    .quick-links-component {
        background: var(--bg);
    }
    .list {
        height: 170px;
        width: 100px;
        margin: 5px;
        .texts {
            height: 100%;
            display: block !important;
            background: rgba(251, 251, 251, 0.1) !important;
            backdrop-filter: blur(0px) !important;
        }
    }
    p {
        font-size: 14px;
    }
    small {
        display: none;
    }
    h3 {
        font-size: 20px;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}