.toast-component {
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 99999999999999999999;
    display: flexbox;
}

.toast {
    opacity: 1;
    width: 250px;
    background: var(--bg);
}

.toast-header {
    background: var(--bg1);
}

.toast-body {
    word-break: normal;
    background: var(--bg);
}