<div *ngIf="isLoading" class="loader"></div>
<div class="admin-status-component">
    <i [routerLink]="['/admin-accounts']" routerLinkActive="router-link-active" class="fa fa-chevron-left" style="font-size: 25px;margin-bottom: 30px;cursor: pointer;margin-left: 7px;transform: translateY(2px);margin-bottom: -20px;"></i>
    <div class="row">
        <div class="col-md-4 container">
            <div class="card" style="padding: 20px;">
                <div class="image-container">
                    <img [src]="imgSrc" alt="" *ngIf="imgSrc != ''">
                    <div *ngIf="imgIsLoading" class="img-loader">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div tooltip="Change Profile Picture" placement="right" show-delay="100" [theme]="theme" *ngIf="myAccount.user.id == admin.id" (click)="triggerInput()" class="icon-container">
                        <i style="font-size: 25px;" class="bi bi-camera-fill"></i>
                        <input (change)="readURL($event.target.files,$event)" accept="image/*" type="file" class="hidden" id="profile-picture">
                    </div>
                </div>
                <p class="name">{{ admin.fullname }} <br>
                    <span class="role">
                <i class="bi bi-app-indicator"></i>&nbsp;&nbsp;{{ admin.roles[0].name }}
                </span>
                </p>
                <p class="distict">District {{ admin.distict }}</p>
                <p class="municipality"><span>Municipality</span> {{ admin.municipality }} </p>
                <p class="barangay"><span>Barangay</span> {{ admin.barangay }}</p>
            </div>
        </div>

        <div class="col-md-4 container status-option">
            <div class="card" style="padding: 20px;">
                <h4>Status</h4>
                <br>
                <p>Number of tries left <span class="badge badge-warning"> 3 </span> </p>
                <p>Administrator status <span class="badge" [class.badge-danger]="admin.blocked" [class.badge-success]="!admin.blocked"> {{ !admin.blocked ? "Active" : "Blocked" }} </span></p>
                <p>Active status <span class="badge badge-success">Online</span></p>
                <hr>
                <h4>Settings</h4>
                <div *ngIf="!changeRole">
                    <p (click)="changeRole = true" class="clickable">
                        <i style="color:orange " class="bi bi-app-indicator"></i> Change Role
                    </p>
                    <p (click)="blockAdmin()" class="clickable" [class.disabled]="admin.blocked || admin.role == 'Super Admin'">
                        <i title="Block" class="bi bi-slash-circle-fill"></i> Block
                    </p>
                    <p (click)="deleteAdmin()" [class.disabled]="admin.role == 'Super Admin'" class="clickable">
                        <i title="Delete " title="red " style="color:red " class="bi bi-shield-fill-x"></i> Delete
                    </p>
                    <p (click)="reactivate()" [class.disabled]="!admin.blocked == true" class="clickable">
                        <i style="color:#81D340 " class="bi bi-shield-fill-check"></i> Reactivate
                    </p>
                </div>
                <div *ngIf="changeRole" class="role-container">
                    <label>From {{ admin.role }} to</label>
                    <select [(ngModel)]="newRole" type="text" class="form-control">                   
                    <option>PPOI</option>
                    <option>PPOII</option>
                    <option>FOD</option>
                    <option>TRD</option>
                    <option>Super Admin</option>
                </select>
                    <br>
                    <div style="display: flex;">
                        <button (click)="saveChanges()" class="btn btn-primary">Save</button>
                        <button style="width:auto;;margin-left: 20px;" (click)="changeRole = false" class="btn btn-dark">Cancel</button>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>

</div>