<div class="card row" style="position: relative;">
    <div class="card-header">
        <h5 class="d-flex">
            <p class="card-title" style="margin-top: 10px;">Population Profile</p>
        </h5>
    </div>
    <div class="card-body ">
        <div class="container">
            <div class="row">
                <div *ngFor="let item of data;let i = index " class="col-6 d-flex align-items-start">
                <div class="icon">
                    <i class="bi bi-geo-alt-fill"></i>
                </div>
                <div class="ms-2 me-auto list">
                    <div class="fw-bold">{{name[i]}}</div>
                    <h5 style="color:#FD582C">{{filteredData[item] || 'N/A'}}</h5>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
