<ul class="list-group" *ngFor="let data of data" >
    <li  class="list-group-item">
        <h5>{{data.name_of_household_member}}| &nbsp; {{data.barangay + ' ' +  data.municipality}}, Zone {{data.zone}}</h5>
        <p><span style="color:gray">{{data.created_at | date : 'MMM dd, yyyy'}} —  </span> Household Number: {{data.household_number}}, Date of Birth: {{data.date_of_birth | date : 'MMMM dd, yyyy'}}, Religion: {{data.religious_affiliation}}</p>
    </li>
    <br>
</ul>


<nav>
    <ul>
        <p *ngFor="let page of pagination.totalPages | paginate: { itemsPerPage: 1, currentPage: pagination.currentPage, totalItems: pagination.totalPages.length  }"></p>
    </ul>
    <pagination-controls (pageChange)="paginate($event)" maxSize="15" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</nav>


<div class="loader-holder">
    <div *ngIf="isPaginating" class="spinner-border text-light  spinner-border-sm fast" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>