<div class="dropdown-component container">
    <div class="title">Approval Requests</div>

    <div class="approval new " *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1] ">
        <div class="approval-container">
            <div class="icon">
                <img src="../../../../assets/avatars/boy-blue.png">
            </div>
            <div class="message">
                <p> <span style="font-weight: 900;">Daniel Padilla</span> wants to add data in CPDB</p>
            </div>
        </div>
        <div class="approval-actions">
            <div class="approve">
                <button class="button btn-primary">Approve</button>
            </div>
            <div class="reject">
                <button class="clickable btn-danger">Reject</button>
            </div>
        </div>
    </div>

</div>