<div class="pin-component">
    <div class="pin-panel">
        <div class="header">
            <h4> Login with Pin</h4>
            <span (click)="closeModal()">
                <i class="im im-x-mark"></i>
            </span>
        </div>
        <hr>
        <div class="body">

            <div *ngIf="isLoading" class="flex-container">
                <div class="spinner-border text-warning fast" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div *ngIf="!isLoading" class="credentials-container">
                <br>
                <div class="col-md-12 mb-3 input-container">
                    <label for="name">Choose Your Security Question</label>
                    <div class="input-wrapper">
                        <select [(ngModel)]="account.question" class="form-control w-50" id="securityq" required>
                            <option selected disabled></option>
                            <option *ngFor="let question of securityQuestions">{{ question }}</option>
                        </select>
                    </div>
                    <br>
                    <label for="name">Your answer</label>
                    <div class="input-wrapper">
                        <input [(ngModel)]="account.answer" class="form-control w-50" id="name" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-12 mb-3 input-container">
                    <label for="name">Input 6 digit pin here</label>

                    <div class="dots-container" [class.animate]="isValid==false">
                        <div class="dot" [class.is-colored]="account.pin.length>=1" [class.is-invalid]="isValid==false"></div>
                        <div class="dot" [class.is-colored]="account.pin.length>=2" [class.is-invalid]="isValid==false"></div>
                        <div class="dot" [class.is-colored]="account.pin.length>=3" [class.is-invalid]="isValid==false"></div>
                        <div class="dot" [class.is-colored]="account.pin.length>=4" [class.is-invalid]="isValid==false"></div>
                        <div class="dot" [class.is-colored]="account.pin.length>=5" [class.is-invalid]="isValid==false"></div>
                        <div class="dot" [class.is-colored]="account.pin.length>=6" [class.is-invalid]="isValid==false"></div>
                    </div>
                    <div class="input-wrapper">
                        <input maxlength="6" [(ngModel)]="account.pin" (keyup)="pinHandler()" [class.is-invalid]="isValid==false" class="form-control w-50" type="password" style="-webkit-text-security: disc;font-size: 1em;">
                    </div>
                    <!-- <div *ngIf="isValid==false" id="pin" class="invalid">
                        Invalid Pin {{tries}} tries left
                    </div>
                    <div *ngIf="tries==0" id="pin" class="invalid">
                        Account has been blocked
                    </div> -->
                </div>
                <br>
                <br>
                <br>
            </div>


        </div>
    </div>
</div>