<div class="pin-component">
    <div class="pin-panel">
        <div class="header">
            <h4> Login with Pin</h4>
            <span (click)="closeModal()">
                <i class="im im-x-mark"></i>
            </span>
        </div>
        <hr>
        <div class="body">
            <div class="col-md-12 mb-3 input-container">
                <label for="name">What is the name of your favorite movie?</label>

                <div class="input-wrapper">
                    <input [(ngModel)]="account.securityQuestion" class="form-control w-50" id="name" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <br>
            <hr>
            <div class="col-md-12 mb-3 input-container">
                <label for="name">Input 6 digit pin here</label>

                <div class="dots-container" [class.animate]="isValid==false">
                    <div class="dot" [class.is-colored]="account.pin.length>=1" [class.is-invalid]="isValid==false"></div>
                    <div class="dot" [class.is-colored]="account.pin.length>=2" [class.is-invalid]="isValid==false"></div>
                    <div class="dot" [class.is-colored]="account.pin.length>=3" [class.is-invalid]="isValid==false"></div>
                    <div class="dot" [class.is-colored]="account.pin.length>=4" [class.is-invalid]="isValid==false"></div>
                    <div class="dot" [class.is-colored]="account.pin.length>=5" [class.is-invalid]="isValid==false"></div>
                    <div class="dot" [class.is-colored]="account.pin.length>=6" [class.is-invalid]="isValid==false"></div>
                </div>
                <div class="input-wrapper">
                    <input [(ngModel)]="account.pin" (keyup)="pinHandler()" [class.is-invalid]="isValid==false" class="form-control w-50" type="password" style="-webkit-text-security: disc;font-size: 1em;">
                </div>
                <div *ngIf="isValid==false" id="pin" class="invalid">
                    Invalid Pin {{tries}} tries left
                </div>
                <div *ngIf="tries==0" id="pin" class="invalid">
                    Account has been blocked
                </div>
            </div>
        </div>
    </div>
</div>