<div class="search-container">
    <input type="text" class="form-control w-30" placeholder="Search">
    <button class="button">Download Table in Excel Format</button>
</div>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Options</th>
            <th scope="col">Status</th>
            <th scope="col">Sorting Number</th>
            <th scope="col">Municipality</th>
            <th scope="col">Barangay</th>
            <th scope="col">Household Number</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Case Number</th>
            <th scope="col">Month OF Migration</th>
            <th scope="col">Name of Household Member</th>
            <th scope="col">Sex of Outmigrant</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Age of HH Member</th>
            <th scope="col">Age in Months</th>
            <th scope="col">Age Bracket</th>
            <th scope="col">Complete Educational Attainment</th>
            <th scope="col">Actual Occupation</th>
            <th scope="col">Major Occupation of Outmigrant</th>
            <th scope="col">Monthly Income</th>
            <th scope="col">Skills Acquired</th>
            <th scope="col">Actual Place of Origin</th>
            <th scope="col">Reasons for Out-Migrating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
            <th scope="row">
                <i title="Delete" style="color:red;font-size: 14px;margin-right: 10px;" class="im im-minus-circle"></i>
                <i style="color:#00C34F;font-size: 14px;margin-right: 10px" class="im im-thumb-up"></i>
                <i style="color:orange;font-size: 14px;margin-right: 10px" class="im im-thumb-down"></i>
                <i style="color:#F30091;font-size: 14px;margin-right: 10px" class="im im-pencil"></i>
            </th>
            <td>Validated</td>
            <td>1</td>
            <td>Barotac</td>
            <td>Cruz</td>
            <td>1</td>
            <td>3</td>
            <td>Ott5o</td>
            <td>January</td>
            <td>John</td>
            <td>Male</td>
            <td>First Born</td>
            <td>Government Hospital</td>
            <td>Jane</td>
            <td>25</td>
            <td>25-29</td>
            <td>Chef</td>
            <td>Gainful</td>
            <td>R.Catholic</td>
            <td>Maried</td>
            <td>Yes</td>
            <td>Maried</td>
        </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>