<div class="birth-stat-component">

    <div class="front col-md-8">
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <button *ngIf="hasData" (click)="hasData = false; hasSelectedData = false" class="button rounded"><i class="fa fa-plus"></i></button>
                <button *ngIf="!hasData" (click)="hasData = true" class="button rounded"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <h3 class="tl-center pop2">PROVINCE OF ILOILO (DEATHS)</h3>


        <div *ngIf="!hasData" class="!hasData container">
            <h2 class="pop2">Add Death Statistics Data</h2>
            <hr>
            <div class="filters">
                <div class="row">
                    <div class="col-md-4">
                        <label for="municipality">
                            <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Municipality
                        </label>
                        <select (load)="getBarangays($event)" (change)="getBarangays($event)" type="text" class="form-control">                       
                            <option  *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="barangay">
                            <div *ngIf="barangayIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Barangay</label>
                        <select [(ngModel)]="data.barangay" type="text" class="form-control">                       
                            <option *ngFor="let barangay of barangays" [value]="barangay.name">{{ barangay.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Select Year</label>
                        <select [(ngModel)]="data.year" type="text" class="form-control">                       
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Total Deaths</label>
                        <input [(ngModel)]="data.total" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="">Crud Death Rate</label>
                        <input [(ngModel)]="data.crude_death_rate" type="text" class="form-control">
                    </div>
                </div><br><br>
                <div style="display:flex;align-items: center;justify-content: center;">
                    <button (click)="save()" class="button">Save</button>
                </div>
            </div><br>
        </div>

        <div class="hasData" *ngIf="hasData">
            <div class="row container" style="margin-left: 0px;">
                <div class="col-md-4">
                    <label for="municipality">
                        <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Municipality
                    </label>
                    <select (load)="getBarangays($event)" (change)="getBarangaysandGet($event)" type="text" class="form-control">                       
                        <option  *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="barangay">
                        <div *ngIf="barangayIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Barangay</label>
                    <select [(ngModel)]="getDataParams.barangay" type="text" class="form-control">                       
                        <option *ngFor="let barangay of barangays">{{ barangay.name }}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="">Select Year</label>
                    <select [(ngModel)]="getDataParams.year" type="text" class="form-control">                       
                        <option *ngFor="let year of years">{{year}}</option>
                    </select>
                </div>
                <div class="col-md-2 mt-3 d-flex">
                    <button (click)="fetchData()" class="button rounded" style="height: 40px;">
                        <i class="fa fa-search"></i>
                    </button>
                    <button (click)="fetchData()" class="button rounded" style="height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                            <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                        </svg>
                    </button>
                </div>

            </div>

            <p *ngIf="deathStatistics == null" style="text-align: center;">No data to show....</p>
            <div class="showAfterFilter container" *ngIf="hasSelectedData && deathStatistics != null">
                <button (click)="showMap = true" *ngIf="!showMap" class="button rounded"><i class="fa fa-map-marker-alt"></i></button>
                <button (click)="showMap = false" *ngIf="showMap" class="button">Hide Map</button>
                <app-dynamic-mapping *ngIf="showMap"></app-dynamic-mapping>

                <div *ngIf="editChartData" class="flex-container d-flex" style="align-items: center;justify-content: center;">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input (change)="check('male')" [checked]="checked.male" type="checkbox" class="custom-control-input" id="defaultInline1">
                        <label class="custom-control-label" for="defaultInline1">Male</label>
                    </div>

                    <!-- Default inline 2-->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input (change)="check('female')" [checked]="checked.female" type="checkbox" class="custom-control-input" id="defaultInline2">
                        <label class="custom-control-label" for="defaultInline2">Female</label>
                    </div>

                </div>
                <br><br>
                <div class="chart" *ngIf="!editChartData">
                    <canvas baseChart [datasets]="MONTHbarChartData" [labels]="MONTHbarChartLabels" [options]="MONTHbarChartOptions" [legend]="MONTHbarChartLegend" [chartType]="MONTHbarChartType">
                    </canvas>
                </div>

                <div style="display: flex;align-items: center;justify-content: center;">
                    <button (click)="editChartData = true" *ngIf="!editChartData" class="button">Edit Chart Data</button>
                </div>

                <div *ngIf="editChartData" class="row" style="padding-top: 30px;">
                    <br>
                    <div class="form-group col-md-3">
                        <label for="January">January</label>
                        <input [(ngModel)]="data[getChecked()].January" type="text" class="form-control" id="January">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="February">February</label>
                        <input [(ngModel)]="data[getChecked()].February" type="text" class="form-control" id="February">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="March">March</label>
                        <input [(ngModel)]="data[getChecked()].March" type="text" class="form-control" id="March">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="April">April</label>
                        <input [(ngModel)]="data[getChecked()].April" type="text" class="form-control" id="April">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="May">May</label>
                        <input [(ngModel)]="data[getChecked()].May" type="text" class="form-control" id="May">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="June">June</label>
                        <input [(ngModel)]="data[getChecked()].June" type="text" class="form-control" id="June">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="July">July</label>
                        <input [(ngModel)]="data[getChecked()].July" type="text" class="form-control" id="July">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="August">August</label>
                        <input [(ngModel)]="data[getChecked()].August" type="text" class="form-control" id="August">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="September">September</label>
                        <input [(ngModel)]="data[getChecked()].September" type="text" class="form-control" id="September">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="October">October</label>
                        <input [(ngModel)]="data[getChecked()].October" type="text" class="form-control" id="October">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="November">November</label>
                        <input [(ngModel)]="data[getChecked()].November" type="text" class="form-control" id="November">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="December">December</label>
                        <input [(ngModel)]="data[getChecked()].December" type="text" class="form-control" id="December">
                    </div>
                    <div class="col-md-12">
                        <div style="display: flex;align-items: center;justify-content: center;padding-left: 20px;">
                            <button (click)="updateChart()" class="button">Save</button> &nbsp;
                            <button (click)="editChartData = false" *ngIf="editChartData" class="clickable">Cancel</button>
                        </div>
                    </div>
                </div>

                <div style="padding-left: 20px;">
                    <br><br> <br><br> <br><br>
                    <div>
                        <p style="display: flex;" class="center "><span style="margin-left: auto;font-weight: 900;">TOTAL POPULATION</span>
                            <span style="margin-left: auto;opacity: 0;pointer-events: none;" class=" btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cuurentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        </p>
                        <h1 class="center text-primary">{{deathStatistics.profile || 0}}</h1>
                    </div>
                    <br>
                    <div *ngIf="!totalDeaths">
                        <p style="display: flex;" class=" center"><span style="margin-left: auto;font-weight: 900;">TOTAL DEATHS</span>
                            <span style="margin-left: auto;" *ngIf="!totalDeaths" (click)="totalDeaths = true" class=" btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        </p>
                        <h1 class="center text-primary">{{deathStatistics.total}}</h1>
                    </div>
                    <div *ngIf="totalDeaths" class="row flex-container">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px; " for="Total Deaths">Total Deaths</label>
                            <input style="margin-left: 30px;" [(ngModel)]="deathStatistics.total" type="text" class="form-control" id="Total Deaths">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <div class=" flex-container">
                                <button (click)="update()" class="clickable">
                                    <i class="fa fa-check text-success"></i>
                                </button> &nbsp;
                                <button (click)="totalDeaths = false" class="clickable">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div *ngIf="!deathRate">
                        <p style="display: flex;" class=" center"><span style="margin-left: auto;font-weight: 900;">CRUDE DEATH RATE</span>
                            <span style="margin-left: auto;" *ngIf="!deathRate" (click)="deathRate = true" class=" btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cuurentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        </p>
                        <h1 class="center text-primary">{{deathStatistics.crude_death_rate}}</h1>
                    </div>

                    <div *ngIf="deathRate" class="row flex-container">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px;" for="CRUDE DEATH RATE">CRUDE DEATH RATE</label>
                            <input style="margin-left: 30px;" [(ngModel)]="deathStatistics.crude_death_rate" type="text" class="form-control" id="CRUDE DEATH RATE">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <div class=" flex-container">
                                <button (click)="update()" class="clickable">
                                    <i class="fa fa-check text-success"></i>
                                </button> &nbsp;
                                <button (click)="deathRate = false" class="clickable">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="chart" *ngIf="!DeathRateData">
                        <canvas baseChart [datasets]="DEATHRATEbarChartData" [labels]="DEATHRATEbarChartLabels" [options]="DEATHRATEbarChartOptions" [legend]="DEATHRATEbarChartLegend" [chartType]="DEATHRATEbarChartType">
                         </canvas>
                    </div>
                    <br>
                    <div class="flex-container">
                        <button (click)="DeathRateData = true" *ngIf="!DeathRateData" class="button">Edit Crud Death Rate Data</button>
                    </div>
                    <div class="row" style="padding-top: 40px;" *ngIf="DeathRateData">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px; " for="First">Select Year</label>
                            <select style="margin-left: 30px;" [(ngModel)]="crudeDeathRateData.years" multiple type="text" class="form-control" id="First">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px; " style="margin-left: 30px;" for="Second">Value of Crude Death Rate on chosen Year/s</label>
                            <input [(ngModel)]="crudeDeathRateData.value" type="number" class="form-control" id="Second">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <button (click)="saveCrudDEathRate()" class="button">Save</button> &nbsp;
                            <button (click)="DeathRateData = false" class="clickable">Cancel</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="pop2">Provincial Officials</h3>

        <app-provincial-officials></app-provincial-officials>
        <br> <br>
        <app-sb-members></app-sb-members>
        <br><br><br>
        <h3 class="pop2">TECHNICAL NOTES</h3>
        <hr>
        <p><span class="fw-bold">Mortality</span> - refers to death within a population</p>

        <p><span class="fw-bold">Crude Death Rate</span> - the number of deaths per 1,000 population in a given year</p>
    </div>
</div>