<div *ngIf="isLoading" class="loader"></div>
<br><br>
<div class="search-container">
    <input type="text" class="form-control w-50" placeholder="Search">
    <button class="button">Download Table in Excel Format</button>
</div>
<br>
<div class="admin-accounts container">
    <table class="table table-striped  table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Fullname</th>
                <th scope="col">Role</th>
                <th scope="col">District</th>
                <th scope="col">Municipality</th>
                <th scope="col">Barangay</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of admins">
                <td><img src=" ../../../assets/iloilo-seal.png "></td>
                <td>{{ admin.fullname }}</td>
                <td>{{ admin.role }}</td>
                <td>{{ admin.district }}</td>
                <td>{{ admin.municipality }}</td>
                <td>{{ admin.barangay }}</td>
                <td>

                    <i [routerLink]="['/admin/' + admin.id]" routerLinkActive="router-link-active" title="Status " style="color:orange " class="im im-radar "></i>

                    <i *ngIf="admin.iterations >= 4" [class.hide]="admin.role != 'Super Admin'" (click)="blockAdmin(admin.id)" title="Block" class="fas fa-user-slash"></i>

                    <i *ngIf="admin.role != 'Super Admin'" (click)="deleteAdmin(admin.id)" title="Delete " title="red " style="color:red " class="im im-minus-circle "></i>

                    <span *ngIf="admin.iterations >= 5" class="badge badge-danger">Blocked</span>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="... ">
    <ul class="pagination ">
        <li class="page-item " [class.disabled]="pagination.currentPage == 1">
            <a class="page-link " (click)="paginate( pagination.currentPage - 1 ) " tabindex="-1 " aria-disabled="true " style="color:gray !important ">Previous</a>
        </li>

        <li (click)="paginate(page) " *ngFor="let page of pagination.totalPages " class="page-item " [class.active]='pagination.currentPage == page'>
            <a *ngIf="page !=0 " style="color:gray " class="page-link ">{{ page }}</a>
        </li>


        <li class="page-item " [class.disabled]="pagination.currentPage==pagination.lastPage ">
            <a class="page-link " (click)="paginate( pagination.currentPage + 1 ) " tabindex="-1 " aria-disabled="true " style="color:gray !important ">Next</a>
        </li>
    </ul>
</nav>
<br><br><br><br><br><br><br>