<th scope="row">
    <i tooltip="Approve this data" placement="top" show-delay="100" [theme]="theme" style="color:#00C34F" class="im im-thumb-up"></i>
    <i tooltip="Comment on this data" placement="top" show-delay="100" [theme]="theme" class="far fa-comment-alt"></i>
    <i tooltip="Disapprove this data" placement="top" show-delay="100" [theme]="theme" style="color:orange" class="im im-thumb-down"></i>
    <i tooltip="Edit this data" placement="top" show-delay="100" [theme]="theme" style="color:#F30091" class="im im-pencil"></i>
    <i tooltip="Mark as noted" placement="top" show-delay="100" [theme]="theme" style="color:#4285F4" class="fas fa-bell"></i>
</th>