<div style="margin-top: -20px;"></div>
<button (click)="addTeam = true" *ngIf="!addTeam && !isUser" class="button">Add AHYD Team</button> &nbsp;
<button (click)="addFocalPerson = true" *ngIf="!addFocalPerson && !isUser" class="button">Add Focal Person</button>

<div class="row container" *ngIf="addTeam">
    <div class="form-group col-md-12">
        <label for="Name">New AHYD Team Member Name</label>
        <input (keyup.enter)="createTeam();addTeam = false" [(ngModel)]="ahydTeam.name" type="text" id="Name" class="form-control">
    </div>
    <!-- <div class="form-group col-md-12">
        <label for="Position">Position</label>
        <input (keyup.enter)="createTeam();addTeam = false" [(ngModel)]="ahydTeam.posotion" type="text" id="Position" class="form-control">
    </div> -->
    <div class="form-group col-md-12 flex-container">
        <button (click)="createTeam();addTeam = false" class="button">Save</button>
        <button (click)="addTeam = false" class="clickable">Back</button>
    </div>
</div>

<div class="row container" *ngIf="addFocalPerson">
    <div class="form-group col-md-12">
        <label for="Name">Name</label>
        <input (keyup.enter)="createFocalPerson();addFocalPerson = false" [(ngModel)]="focalPerson.name" type="text" id="Name" class="form-control">
    </div>
    <div class="form-group col-md-12 flex-container">
        <button (click)="createFocalPerson();addFocalPerson = false" class="button">Save</button>
        <button (click)="addFocalPerson = false" class="clickable">Back</button>
    </div>
</div>


<div *ngIf="!addTeam" [class.hide]="addFocalPerson">
    <h3 class="pop2"> AHYD TEAM</h3>
    <div *ngFor="let ahydTeam of ahydTeams" class="container" style="margin-bottom: -0px;">
        <div class="flex absolute">
            <div class="absolute flex" style="margin-right: 20px;margin-top: -10px;">
                <div *ngIf="!activeTeams[ahydTeam.id] && !isUser" (click)="toggleTeams(ahydTeam.id)" class="edit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </div>
                <div *ngIf="activeTeams[ahydTeam.id] && !isUser" (click)="toggleTeams(ahydTeam.id)" class="edit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
                <div *ngIf="!isUser" (click)="deleteTeam(ahydTeam.id)" class="remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
                        <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div *ngIf="activeTeams[ahydTeam.id]" class="flex-container row" style="min-height: 50px;padding: 10px;">
            <label (keyup.enter)="updateTeam(ahydTeam);toggleTeams(ahydTeam.id)" style="margin-left: -50px;transform: translateY(-50px);" class="mr-2" for="Name">Name</label>
            <input (keyup.enter)="updateTeam(ahydTeam);toggleTeams(ahydTeam.id)" style="margin-left: -30px;margin-right: 30px;" [(ngModel)]="ahydTeam.name" type="text" class="form-control w-50" id="Name">
            <button (click)="updateTeam(ahydTeam);toggleTeams(ahydTeam.id)" class="clickable">
                <i class="fa fa-check text-success"></i>
            </button>
        </div>
        <div *ngIf="!activeTeams[ahydTeam.id]" class="person-name">{{ahydTeam.name}}</div>
        <!-- <p *ngIf="!activeTeams[ahydTeam.id]">{{ahydTeam.position}}</p> -->
    </div>
    <br>
    <p class="pop2" *ngIf="focalPersons.length != 0">AHYD Focal Persons</p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let focalPerson of focalPersons;let i = index">
            <div *ngIf="!isUser" class="flex absolute">
                <div *ngIf="!acitveFocalPersons[focalPerson.id]" class="absolute flex">
                    <div (click)="toggleFocalPersons(focalPerson.id)" class="edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                    </div>
                    <div (click)="deleteFocalPerson(focalPerson.id)" class="remove">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
                            <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                        </svg>
                    </div>

                </div>
            </div>
            <p *ngIf="!acitveFocalPersons[focalPerson.id]">{{focalPerson.name}}</p>
            <div class="row" *ngIf="acitveFocalPersons[focalPerson.id]">
                <div class="form-group col-md-12">
                    <label class="mr-2" for="name">Name</label>
                    <input class="form-control" type="text" id="name" [(ngModel)]="focalPerson.name">
                </div>
                <div class="form-group col-md-12">
                    <button (click)="updateTFocalPerson(focalPerson);toggleFocalPersons(focalPerson.id)" class="button">Save Changes</button>
                    <button (click)="toggleFocalPersons(focalPerson.id)" class="clickable">Cancel</button>
                </div>
            </div>
        </li>
    </ul>
</div>