<button (click)="addTeam = true" *ngIf="!addTeam" class="button">Add AHYD Team</button> &nbsp;
<button (click)="addFocalPerson = true" *ngIf="!addFocalPerson" class="button">Add Focal Person</button>
<br>
<br>
<div class="row" *ngIf="addTeam">
    <div class="form-group col-md-12">
        <label for="Name">Name</label>
        <input [(ngModel)]="ahydTeam.name" type="text" id="Name" class="form-control">
    </div>
    <div class="form-group col-md-12">
        <label for="Position">Position</label>
        <input [(ngModel)]="ahydTeam.posotion" type="text" id="Position" class="form-control">
    </div>
    <div class="form-group col-md-12">
        <button (click)="createTeam()" class="button">Save</button>
        <button (click)="addTeam = false" class="clickable">Back</button>
    </div>
</div>

<div class="row" *ngIf="addFocalPerson">
    <div class="form-group col-md-12">
        <label for="Name">Name</label>
        <input [(ngModel)]="focalPerson.name" type="text" id="Name" class="form-control">
    </div>
    <div class="form-group col-md-12">
        <button (click)="createFocalPerson()" class="button">Save</button>
        <button (click)="addFocalPerson = false" class="clickable">Back</button>
    </div>
</div>


<div *ngIf="!addTeam" [class.hide]="addFocalPerson">
    <h3>
        AHYD TEAM
    </h3>
    <hr>
    <div *ngFor="let ahydTeams of ahydTeams">
        <div class="person-name">{{ahydTeams.name}}</div>
        <p>{{ahydTeams.position}}</p>
    </div>
    <br>
    <p *ngIf="focalPersons.length != 0">AHYD Focal Persons</p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let focalPerson of focalPersons;let i = index">
            <div class="flex absolute">
                <div *ngIf="!acitveFocalPersons[focalPerson.id]" class="absolute flex">
                    <div (click)="toggleFocalPersons(focalPerson.id)" class="edit">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-vector-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                            <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                          </svg>
                    </div>
                    <div (click)="deleteFocalPerson(focalPerson.id)" class="remove">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </div>

                </div>
            </div>
            <p *ngIf="!acitveFocalPersons[i]"> JOHN DOE</p>
            <div class="row" *ngIf="acitveFocalPersons[i]">
                <div class="form-group col-md-12">
                    <label for="name">New Focal Person Name</label>
                    <input type="text" id="name" [(ngModel)]="focalPerson.name">
                </div>
                <div class="form-group col-md-12">
                    <button class="button">Save Changes</button>
                    <button (click)="toggleFocalPersons(focalPerson.id)" class="clickable">Cancel</button>
                </div>
            </div>
        </li>
    </ul>
</div>