.pmc-component {
    display: flex;
    width: 100%;
    padding: 40px;
}

.chart {
    width: 100%;
    border-radius: 5px;
    background: var(--bg) !important;
    padding: 40px
}

.front {
    width: 60%;
}

.side {
    width: 30%;
    padding: 0 1rem;
    margin-left: 50px;
}

h5 {
    font-size: .9rem;
    font-weight: 300;
}

h3,
h4,
.person-name {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

.flex {
    position: relative;
    svg {
        position: absolute;
        right: 0;
        cursor: pointer;
        margin-top: 5px;
    }
}

.bottom {
    margin-bottom: 50px;
    max-width: 100px;
}

.list-group-item {
    display: flex;
    .municipality-name {
        width: 70%;
    }
    cursor: pointer;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        align-self: center;
    }
}

.municipality-name {
    display: flex;
}