<div class="pmc-component row">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
            <button (click)="wantsToAdd = true" *ngIf="!wantsToAdd" class="button rounded"><i class="fa fa-plus"></i></button>
            <button (click)="wantsToAdd = false" *ngIf="wantsToAdd" class="button rounded"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <br>
    <div class="col-md-8">
        <h4 class="pop2">PRE-MARRIAGE ORIENTATION AND COUNSELLING</h4>
        <div class="wantsToAdd" *ngIf="wantsToAdd ">
            <div class="row container" style="margin-left: 0 !important;">
                <h5 class="pop2" style="font-weight: 900;">ADD PRE-MARRIAGE ORIENTATION AND COUNSELLING RECORD</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label for="municipality">
                            <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Municipality</label>
                        <select (change)="getBarangays($event)" type="text" class="form-control">                      
                            <option  *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="">Year</label>
                        <select [(ngModel)]="data.year" type="text" class="form-control">                       
                            <option *ngFor="let year of years">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Number of Sessions Conducted</label>
                        <input [(ngModel)]="PMCData.sessions" type="text" class="form-control">

                    </div>
                    <div class="col-md-4">
                        <label for="">Number of Couples Oriented</label>
                        <input [(ngModel)]="PMCData.oriented_couples" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="">Number of Individuals Interview</label>
                        <input [(ngModel)]="PMCData.individuals_interviewed" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 flex-container">
                        <button (click)="save()" class="button">Save</button>
                    </div>
                </div>
            </div>


        </div>

        <div class="!wantsToAdd" *ngIf="!wantsToAdd">
            <br>
            <div class="filters">
                <div class="row container" style="margin-left: 0 !important;">
                    <div class="col-md-6">
                        <label for="municipality">
                            <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Municipality</label>
                        <select (change)="getBarangays($event)" type="text" class="form-control">                      
                            <option  *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="year">Year</label>
                        <select [(ngModel)]="data.year" class="form-control " id="year">
                            <option selected disabled>Choose Year</option>
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                    </div>
                    <div class="col-md-2  d-flex" style="margin-top: 2rem;">
                        <button (click)="fetchData()" class="button rounded" style="height: 40px;">
                            <i class="fa fa-search"></i>
                        </button>
                        <button (click)="fetchData()" class="button rounded" style="height: 40px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                                <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                              </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- paslak diri sa dalom -->
            <!-- *ngIf="hasData" -->
            <div *ngIf="hasData" class="hasData">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="municipality-name">
                            <svg style="margin-right: 20px;" *ngIf="!numberOfSessions" (click)="numberOfSessions = true" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            <svg style="margin-right: 20px;" *ngIf="numberOfSessions" (click)="numberOfSessions = false" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg> Number of Sessions Conducted
                        </p>
                        <h1 (click)="numberOfSessions = true" class="text-primary" *ngIf="!numberOfSessions">{{PMCData.sessions || 0}}</h1> <input [(ngModel)]="PMCData.sessions" (keyup.enter)="numberOfSessions = false;save()" *ngIf="numberOfSessions" type="text"> &nbsp;
                        <svg style="margin-top:5px;margin-left: 15px;" *ngIf="numberOfSessions" (click)="numberOfSessions = false;save()" xmlns="http://www.w3.org/2000/svg" width="23px" height="23px" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                                <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
                            </svg>
                    </li>
                    <li class="list-group-item">
                        <p class="municipality-name">
                            <svg style="margin-right: 20px;" *ngIf="!couplesOrriented" (click)="couplesOrriented = true" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            <svg style="margin-right: 20px;" *ngIf="couplesOrriented" (click)="couplesOrriented = false" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg> Number of Couples Oriented
                        </p>
                        <h1 (click)="couplesOrriented = true" class="text-primary" *ngIf="!couplesOrriented">{{PMCData.oriented_couples || 0}}</h1> <input [(ngModel)]="PMCData.oriented_couples" (keyup.enter)="couplesOrriented = false;save()" *ngIf="couplesOrriented" type="text">&nbsp;
                        <svg style="margin-top:5px;margin-left: 15px;" *ngIf="couplesOrriented" (click)="numberOfSessions = false;save()" xmlns="http://www.w3.org/2000/svg" width="23px" height="23px" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                                <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
                            </svg>
                    </li>
                    <li class="list-group-item">
                        <p class="municipality-name">
                            <svg style="margin-right: 20px;" *ngIf="!individualInterview" (click)="individualInterview = true" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            <svg style="margin-right: 20px;" *ngIf="individualInterview" (click)="individualInterview = false" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg> Number of Individuals Interview
                        </p>
                        <h1 (click)="individualInterview = true" class="text-primary" *ngIf="!individualInterview">{{PMCData.individuals_interviewed || 0}}</h1> <input [(ngModel)]="PMCData.individuals_interviewed" (keyup.enter)="individualInterview = false;save()" *ngIf="individualInterview" type="text">&nbsp;
                        <svg style="margin-top:5px;margin-left: 15px;" *ngIf="individualInterview" (click)="numberOfSessions = false;save()" xmlns="http://www.w3.org/2000/svg" width="23px" height="23px" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                            <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
                        </svg>
                    </li>
                </ul>
                <br>
                <div class="container" *ngIf="!editChartData">
                    <h4 class="d-flex">
                        <span class="ml-auto" style="transform: translate(15px);"> Number of Couples</span>
                        <span (click)="editChartData = true" *ngIf="!editChartData" class="ml-auto">
                            <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </span>
                    </h4>
                    <canvas baseChart [datasets]="MONTHbarChartData" [labels]="MONTHbarChartLabels" [options]="MONTHbarChartOptions" [legend]="MONTHbarChartLegend" [chartType]="MONTHbarChartType">
                    </canvas>
                </div>
                <div class="flex-container">

                </div>
                <div *ngIf="editChartData" class="row container" style="padding-top: 30px;margin-left: 0;">
                    <br>
                    <div class="form-group col-md-3">
                        <label for="January">January</label>
                        <input [(ngModel)]="data.months.January" type="number" class="form-control" id="January">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="February">February</label>
                        <input [(ngModel)]="data.months.February" type="number" class="form-control" id="February">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="March">March</label>
                        <input [(ngModel)]="data.months.March" type="number" class="form-control" id="March">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="April">April</label>
                        <input [(ngModel)]="data.months.April" type="number" class="form-control" id="April">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="May">May</label>
                        <input [(ngModel)]="data.months.May" type="number" class="form-control" id="May">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="June">June</label>
                        <input [(ngModel)]="data.months.June" type="number" class="form-control" id="June">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="July">July</label>
                        <input [(ngModel)]="data.months.July" type="number" class="form-control" id="July">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="August">August</label>
                        <input [(ngModel)]="data.months.August" type="number" class="form-control" id="August">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="September">September</label>
                        <input [(ngModel)]="data.months.September" type="number" class="form-control" id="September">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="October">October</label>
                        <input [(ngModel)]="data.months.October" type="number" class="form-control" id="October">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="November">November</label>
                        <input [(ngModel)]="data.months.November" type="number" class="form-control" id="November">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="December">December</label>
                        <input [(ngModel)]="data.months.December" type="number" class="form-control" id="December">
                    </div>
                    <div class="flex-container col-md-12">
                        <button (click)="editChartData = false;updateChart()" class="button">Save</button> &nbsp;
                        <button (click)="editChartData = false" *ngIf="editChartData" class="clickable">Cancel</button>
                    </div>
                </div>
            </div>


            <div *ngIf="hasData" class="container">
                <h4></h4>
                <h4 class="d-flex">
                    <span class="ml-auto" style="transform: translate(15px);">PMC Couple Applicants by Age Group (%)</span>
                    <span (click)="coupleByAgeGroupEdit = true" *ngIf="!coupleByAgeGroupEdit" class="ml-auto">
                        <svg  style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span (click)="coupleByAgeGroupEdit = false" *ngIf="coupleByAgeGroupEdit" class="ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </h4>
                <canvas *ngIf="!coupleByAgeGroupEdit" baseChart [datasets]="coupleByAgeGroup.data" [labels]="coupleByAgeGroup.labels" [options]="coupleByAgeGroup.options" [legend]="coupleByAgeGroup.legend" [chartType]="coupleByAgeGroup.type">
                </canvas>
                <div *ngIf="coupleByAgeGroupEdit" class="row flex-container">
                    <div class="col-md-12">
                        <div class="flex-container">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                <label style="padding-top: 5px;" class="custom-control-label" for="defaultInline2">Female</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="defaultInline1">
                                <label style="padding-top: 5px;" class="custom-control-label" for="defaultInline1">Male</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br> <br>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="January">15-19 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['15_to_19_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">15-19 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['15_to_19_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">20-24 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['20_to_24_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">20-24 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['20_to_24_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">25-29 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['25_to_29_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">25-29 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['25_to_29_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">30-34 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['30_to_34_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">30-34 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['30_to_34_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">35-39 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['35_to_39_male']" type="number" class="form-control" id="January">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="January">35-39 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['35_to_39_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">40-44 (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['40_to_44_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">40-44 (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData['40_to_44_female']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">45 & UP (Males)</label>
                        <input [(ngModel)]="coupleByAgeGroupData.data['45_and_above_male']" type="number" class="form-control" id="January">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="January">45 & UP (Females)</label>
                        <input [(ngModel)]="coupleByAgeGroupData.data['45_and_above_female']" type="number" class="form-control" id="January">
                    </div>


                    <div class="col-md-12">
                        <div class="flex-container">
                            <button (click)="coupleByAgeGroupDataSave()" class="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hasData" class="container">
                <h4 class="d-flex">
                    <span class="ml-auto" style="transform: translate(15px);">PMC Applicants by Employment Status and Sex (%)</span>
                    <span (click)="employmentStatusEdit = true" *ngIf="!employmentStatusEdit" class="ml-auto">
                        <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span (click)="employmentStatusEdit = false" *ngIf="employmentStatusEdit" class="ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </h4>
                <canvas *ngIf="!employmentStatusEdit" baseChart [datasets]="applicantsByEmploymentStatus.data" [labels]="applicantsByEmploymentStatus.labels" [options]="applicantsByEmploymentStatus.options" [legend]="applicantsByEmploymentStatus.legend" [chartType]="applicantsByEmploymentStatus.type">
                </canvas>
                <div *ngIf="employmentStatusEdit" class="row flex-container">
                    <div class="form-group col-md-6">
                        <label for="Student">Male Students</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.student_male" type="text" class="form-control" id="Student">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Student">Female Students</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.student_female" type="text" class="form-control" id="Student">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Employed">Employed Males</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.employed_male" type="text" class="form-control" id="Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Employed">Employed Females</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.employed_female" type="text" class="form-control" id="Employed">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="Not Employed">Unemployed Males</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.not_employed_male" type="text" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">Unemployed Females</label>
                        <input [(ngModel)]="applicantsByEmploymentStatusData.not_employed_female" type="text" class="form-control" id="Not Employed">
                    </div>

                    <div class="col-md-12">
                        <div class="flex-container">
                            <button (click)="saveApplicantsByEmploymentStatus()" class="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hasData" class="container">
                <h4 class="d-flex">
                    <span class="ml-auto" style="transform: translate(15px);">Knowledge on Family Planning among PMC Applicants (%)</span>
                    <span (click)="knowledgeInFP = true" *ngIf="!knowledgeInFP" class="ml-auto">
                        <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span (click)="knowledgeInFP = false" *ngIf="knowledgeInFP" class="ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </h4>
                <canvas *ngIf="!knowledgeInFP" baseChart [datasets]="knowLedgeOnFP.data" [labels]="knowLedgeOnFP.labels" [options]="knowLedgeOnFP.options" [legend]="knowLedgeOnFP.legend" [chartType]="knowLedgeOnFP.type">
                </canvas>
                <div *ngIf="knowledgeInFP" class="row flex-container">

                    <div class="form-group col-md-5">
                        <label for="Employed">Males</label>
                        <input [(ngModel)]="knowLedgeOnFPData.males" type="number" class="form-control" id="Employed">
                    </div>

                    <div class="form-group col-md-5">
                        <label for="Employed">Females</label>
                        <input [(ngModel)]="knowLedgeOnFPData.females" type="number" class="form-control" id="Employed">
                    </div>

                    <div class="col-md-2">
                        <button (click)="saveknowLedgeOnFP()" style="margin-top: 25px;" class="button">Save</button>
                    </div>
                </div>
            </div>

            <div *ngIf="hasData" class="container">
                <h4 class="d-flex">
                    <span class="ml-auto" style="transform: translate(15px);">Percentage Distribution of PMC Applicants by Civil Status</span>
                    <span (click)="byCivilStatusEdit = true" *ngIf="!byCivilStatusEdit" class="ml-auto">
                        <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span (click)="byCivilStatusEdit = false" *ngIf="byCivilStatusEdit" class="ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </h4>
                <canvas *ngIf="!byCivilStatusEdit" baseChart [datasets]="byCivilStatus.data" [labels]="byCivilStatus.labels" [options]="byCivilStatus.options" [legend]="byCivilStatus.legend" [chartType]="byCivilStatus.type">
                </canvas>
                <div *ngIf="byCivilStatusEdit" class="row flex-container">

                    <div class="form-group col-md-6">
                        <label for="Student">Single (Males)</label>
                        <input [(ngModel)]="byCivilStatusData.single_male" type="number" class="form-control" id="Student">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Student">Single (Females)</label>
                        <input [(ngModel)]="byCivilStatusData.single_female" type="number" class="form-control" id="Student">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Employed">Co-Habiting/Live-in (Males)</label>
                        <input [(ngModel)]="byCivilStatusData.live_in_male" type="number" class="form-control" id="Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Employed">Co-Habiting/Live-in (Females)</label>
                        <input [(ngModel)]="byCivilStatusData.live_in_female" type="number" class="form-control" id="Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">Widow/er  (Males)</label>
                        <input [(ngModel)]="byCivilStatusData.widow_male" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">Widow/er  (Females)</label>
                        <input [(ngModel)]="byCivilStatusData.widow_female" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">Divorced/Separated (Males)</label>
                        <input [(ngModel)]="byCivilStatusData.separated_male" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">Divorced/Separated (Females)</label>
                        <input [(ngModel)]="byCivilStatusData.separated_female" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="col-md-12">
                        <div class="flex-container">
                            <button (click)="savebyCivilStatus()" class="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hasData" class="container">
                <h4 class="d-flex">
                    <span class="ml-auto" style="transform: translate(15px);">PMC Applicants by Average Monthly Income and Sex (%)</span>
                    <span (click)="averageMonthlyIncomeEdit = true" *ngIf="!averageMonthlyIncomeEdit" class="ml-auto">
                        <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span (click)="averageMonthlyIncomeEdit = false" *ngIf="averageMonthlyIncomeEdit" class="ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </h4>
                <canvas *ngIf="!averageMonthlyIncomeEdit" baseChart [datasets]="averageMonthlyIncome.data" [labels]="averageMonthlyIncome.labels" [options]="averageMonthlyIncome.options" [legend]="averageMonthlyIncome.legend" [chartType]="averageMonthlyIncome.type">
                </canvas>
                <div *ngIf="averageMonthlyIncomeEdit" class="row flex-container">
                    <div class="form-group col-md-6">
                        <label for="Student">No Income (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.no_income_male" type="number" class="form-control" id="Student">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Student">No Income (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.no_income_female" type="number" class="form-control" id="Student">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Employed">Under ₱ 5,000 (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.under_5k_male" type="number" class="form-control" id="Employed">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Employed">Under ₱ 5,000 (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.under_5k_female" type="number" class="form-control" id="Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 5,000 - ₱ 9,999 (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['5k_to_10k_male']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 5,000 - ₱ 9,999 (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['5k_to_10k_female']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 10,000 - ₱ 14,999 (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['10k_to_15k_male']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 10,000 - ₱ 14,999 (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['10k_to_15k_female']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 15,000 - ₱ 19,999 (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['15k_to_20k_male']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 15,000 - ₱ 19,999 (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['15k_to_20k_female']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 20,000 - ₱ 24,999 (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['20k_to_25k_male']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 20,000 - ₱ 24,999 (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData['20k_to_25k_female']" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 25,000 Up (Males)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.above_25k_male" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Not Employed">₱ 25,000 Up (Females)</label>
                        <input [(ngModel)]="averageMonthlyIncomeData.above_25k_female" type="number" class="form-control" id="Not Employed">
                    </div>

                    <div class="col-md-12">
                        <div class="flex-container">
                            <button (click)="saveAverageMonthlyIncome()" class="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- --------------PMC TEAM ------------------------- -->

    <div class="col-md-4">
        <h4 class="pop2">
            PMC Team
        </h4>

        <span style="position: absolute;right: 0;transform: translate(-30px,-45px);cursor: pointer;" (click)="wantsToAddPMCTeam = true" *ngIf="!wantsToAddPMCTeam">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
            </svg>
        </span>
        <span style="position: absolute;right: 0;transform: translate(-30px,-45px);cursor: pointer;" (click)="wantsToAddPMCTeam = false" *ngIf="wantsToAddPMCTeam">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
              </svg>
        </span>
        <br>
        <div *ngIf="!wantsToAddPMCTeam">
            <div *ngFor="let team of teams; let i = index" class="container" style="padding-bottom: -20px !important;margin-bottom: -20px;margin-left: 0;">
                <div *ngIf="!activePMCTEAM[i]">
                    <div class="flex" style="transform: translate(0,20px);">
                        <span (click)="toggleProgram(i)" class="edit" style="margin-right: 20px;">
                                <svg style="margin-top: -10px;"  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        <span (click)="deleteTeam(team.id)" class="delete">
                            <svg style="margin-right: 30px; margin-top: -10px;" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </span>
                    </div>
                    <div>
                        <div class="picture">
                            <img [src]="team.photo.uri" alt="">
                        </div>
                        <div class="person-name" style="margin-bottom: 5px;margin-top: 5px;">{{team.name}}</div>
                        <p style="text-align: center;">{{team.position}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="activePMCTEAM[i]" style="padding: 0 20px">
                    <div class="picture">
                        <img (click)="triggerFileInput('image-file')" [src]="placeholder" alt="" style="cursor: pointer;">
                        <input (change)="readURL($event.target.files,$event)" type="file" style="display: none;" id="image-file">
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="Full Name">Full Name</label>
                            <input [(ngModel)]="team.name" type="text" id="Full Name" class="form-control">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="Position">Position</label>
                            <input [(ngModel)]="team.position" type="text" id="Position" class="form-control">
                        </div>
                        <div class="flex col-md-4" style="margin-top: 20px;">
                            <button (click)="updatePMTeam(team)" class="button">Save</button>
                            <button (click)="toggleProgram(i)" class="clickable">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="wantsToAddPMCTeam" class="row container" style="margin-left: 0px;">
            <div class="picture">
                <img (click)="triggerFileInput('image-file')" [src]="placeholder" alt="" style="cursor: pointer;">
                <input (change)="readURL($event.target.files,$event)" type="file" style="display: none;" id="image-file">
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="Full Name">Full Name</label>
                    <input [(ngModel)]="pmcTeam.name" type="text" id="Full Name" class="form-control">
                </div>
                <div class="col-md-4 form-group">
                    <label for="Position">Position</label>
                    <input [(ngModel)]="pmcTeam.position" type="text" id="Position" class="form-control">
                </div>
                <div class="col-md-2 form-group">
                    <button (click)="savePMCTEAM()" style="margin-top: 40px;" class="button">Save</button>
                </div>
            </div>

        </div>


    </div>

</div>