<div class="pmc-component">
    <div class="front">
        <h4>
            PRE-MARRIAGE ORIENTATION AND COUNSELLING
        </h4>
        <hr>
        <br>
        <div class="filters">
            <div class="row">
                <div class="col-md-6">
                    <select type="text" class="form-control">
                    <option selected disabled>Select Municipality..</option>
                </select>
                </div>
                <div class="col-md-6">
                    <select type="text" class="form-control">
                    <option selected disabled>Select Barangay..</option>
                </select>
                </div>
            </div>
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="municipality-name">Number of Sessions Conducted </p>
                <h4>2</h4>
            </li>
            <li class="list-group-item">
                <p class="municipality-name">Number of Couples Oriented </p>
                <h4>2</h4>
            </li>
            <li class="list-group-item">
                <p class="municipality-name">Number of Individuals Interviewd </p>
                <h4>2</h4>
            </li>
        </ul>
        <br>
        <div class="chart">

        </div>
        <br><br>
        <div style="text-align: center;">
            <p>PMOC APPLICANTS BY AGE GROUP</p>
            <h3>5</h3>
            <br>
            <p>PMOC APPLICANTS BY EMPLOYMENT STATUS</p>
            <h3>5</h3>
            <br>
            <p>PMOC APPLICANTS BY INCOME CLASS</p>
            <h3>5</h3>
            <br>
            <p>PMOC APPLICANTS BY KNOWLEDGE ON FP</p>
            <h3>5</h3>
        </div>
    </div>
    <div class="side">
        <h4>
            PMC Team
        </h4>
        <hr>
        <div class="picture">
            <img src="../../../../assets/avatars/boy-blue.png" alt="">
        </div>
        <br>
        <div class="person-name">JAMEL EID YASSIN</div>
        <p style="text-align: center;">Progam Officer 1</p>
    </div>
</div>