span {
    color: #007CED;
    margin-left: 5px;
    font-weight: 500;
}

#map-container:hover>#map,
.coords:hover>#map {
    display: block;
}

#map {
    position: fixed;
    width: 29vw;
    height: 50vh;
    z-index: 999;
    display: none;
}