<div class="articles-wrapper" *ngIf="!show">
    <h5>Featured Articles</h5>
    <hr>

    <div class="article-container">
        <div (click)="showArticle(article)" class="article" *ngFor="let article of articles">
            <h2>{{article.title}}</h2>
            <p>{{article.created_at | date: 'MMMM dd, yyyy - h:ma'}} -- <span>Duds Daquilanea</span></p>
            <div class="body">
                <div *ngIf="article.photos.length != 0" class="image">
                    <img [src]="article.photos[0].file.uri" alt="">
                </div>
                <div class="text">
                    {{tuncateString(article.body)}}
                </div>
            </div>
            <hr>
            <br><br>
        </div>
    </div>

    <p *ngIf="articles.length == 0">No articles to show...</p>

</div>

<app-show-article *ngIf="show"></app-show-article>