.article {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    img {
        height: 150px;
        width: 250px !important;
        margin-right: 20px;
    }
    .text {
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        font: inherit;
        line-height: 1.9;
        flex: 4;
    }
    h5 {
        line-height: 1.3333;
        font-weight: bold;
        width: 70%;
        color: var(--contrast)
    }
}

.nav1 {
    width: 100%;
    border-radius: 30px;
    background: rgba(150, 150, 150, .1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        flex: 1;
    }
    button {
        border-radius: 30px !important;
    }
}