<div class="articles-wrapper" *ngIf="!show">
    <br><br><br>
    <div style="display:flex">
        <div class="article-container " style="display: flex;width: 700px;margin:auto;flex-direction: column;">
            <h3>Featured Articles</h3>
            <br>
            <div class="nav1">
                <div *ngFor="let nav of navs">
                    <button (click)="makeActive(nav)" class="btn rounded" [ngClass]="{'btn-primary': active == nav}">{{nav}}</button>
                </div>
            </div>
            <br>
            <div *ngFor="let article of [1,23,4,4,5,6,7,8]">
                <div *ngIf="isLoading" class="article card">
                    <div style="height: 20px;width: 60%;">
                        <ShimmerPlaceholder></ShimmerPlaceholder>
                        <br>
                        <div style="height: 10px;width: 20%;">
                            <ShimmerPlaceholder></ShimmerPlaceholder>
                        </div>
                    </div>
                    <div style=" display: flex;margin-top: 50px; ">
                        <div style="height: 50px;width: 55%;">
                            <ShimmerPlaceholder></ShimmerPlaceholder>
                        </div>
                        <div style="height: 250px;width:250px;margin-left: 30px;">
                            <ShimmerPlaceholder></ShimmerPlaceholder>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article card" *ngFor="let article of articles">
                <div (click)="showArticle(article)" *ngIf="!isLoading">
                    <h5>{{article.title}} </h5>
                    <p style="color:gray">{{article.created_at | date: 'MMMM dd, yyyy - h:ma'}} </p>
                    <div style=" display: flex; ">
                        <div class="text ">
                            {{tuncateString(article.body)}}
                        </div>
                        <div *ngIf="article.photos.length !=0 " class="image ">
                            <img [src]="article.photos[0].file.uri " alt=" ">
                        </div>
                    </div>
                </div>
                <button (click)="deleteArticle(article.id) " class="btn btn-danger mr-auto ">Delete</button>
            </div>
            <div>
                <p class="text-center" *ngIf="articles.length == 0" style="margin:200px 0;">No Articles found...</p>
            </div>
        </div>
    </div>

</div>

<app-show-article *ngIf="show "></app-show-article>