<app-home></app-home>

<div class="wrapper" style="padding: 0;">
    <div class="content" *ngIf="!wantsToadAnImage ">
        <div *ngIf="!isUser && showModal" class=" carousel-holder overlay1 animated fadeIn fast">
            <button (click)="showModal = false" class="btn close">
                <i class="bi bi-x"></i>
            </button>
            <button (click)="addImageModal()" class="btn btn-primary">Add Image(s)</button>
            <button (click)="editModal()" class="ghost btn">Delete Slider Image(s)</button>
        </div>
        <div *ngIf="!isUser && !showModal" class="show-overlay animated zoomIn fast">
            <i (click)="showModal = true" style="font-size: 16px;color: white;cursor: pointer;" class="bi bi-three-dots"></i>
        </div>

        <div *ngIf="slides.length == 0" class="carousel-holder">
            <shimmer [width]="'100%'" [height]="'100%'" [type]="'square'"></shimmer>
        </div>
        <div *ngIf="slides.length != 0" class="carousel-holder">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let image of slides">
                    <img alt="" [style]="'background-image: url('+ image.photo.uri + ')'">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="quick-links card" style=" background: var(--bg);">
            <p class="pop2 card-header">Quick Links</p>
            <div class="card-body">
                <a *ngFor="let link of links" class="links" target="_blank" [href]="link.url">
                    <div class="icon">
                        <i class="bi bi-folder-symlink-fill"></i>
                    </div>
                    <div class="link-text">
                        <p>{{link.title}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- <button *ngIf="newImages.length == 0 && !isUser" (click)="triggerImage()" class="button">Add Images</button>
    <div *ngIf="wantsToEdit" class="row">
        <div class="col-md-2" *ngFor="let image of slides">
            <img (click)="deletePhoto(image.id)" alt="" tooltip="Click to delete this image" placement="top" show-delay="100" [theme]="theme" [src]="image.photo.uri">
        </div>
    </div>
    <button (click)="editSlider()" *ngIf="!wantsToEdit && newImages.length == 0 && !isUser && slides.length != 0 " class="button">Edit Slider</button> -->

</div>
<div class="wrapper">
    <app-featured-articles></app-featured-articles>
    <br><br><br><br><br><br><br><br>
</div>