<br>
<div class="card">
    <div class="card-header">
        <h5 class="d-flex">
            <p class="card-title" style="margin-top: 10px;">Sanguniang Panlalawigan Members</p>
            <span (click)="addMember = true" *ngIf="!addMember  && !isUser" class="ml-auto">
                <i style="color: #0D6EFD;font-size:20px" class="bi bi-plus-circle"></i>
            </span>
            <span class="ml-auto" (click)="addMember = false" *ngIf="addMember">
                <i  style="color: #0D6EFD;font-size:20px" class="bi bi-x-circle"></i>
            </span>
        </h5>
    </div>
    <div class="card-body">
        <div *ngIf="isLoading" class="row">
            <div *ngFor="let item of [1,2,3,4];let i = index " class="col-md-12">
                <div>
                    <div style="width: 90%;height: 10px;">
                        <ShimmerPlaceholder></ShimmerPlaceholder>
                    </div>
                    <br>
                    <div style="width: 40%;height: 10px;">
                        <ShimmerPlaceholder></ShimmerPlaceholder>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="sb-member" *ngFor="let member of sbMembers;let i = index">
            <div class="flex container" style="margin-bottom: -27px;">
                <h5 style="font-weight: 900; display: flex;" *ngIf="!activeSB[i] && !isLoading">
                    <p style="align-self: flex-start;">
                        <span class="text-primary">  HON.   </span>
                        <span>&nbsp; {{member.name}} </span>
                    </p>
                    <span *ngIf="!isUser" class="close ml-auto mr-2">        
                        <i (click)="editMember(i)" class="bi bi-pencil"></i>
                    </span>
                    <span *ngIf="!isUser" class="close ml-20">
                        <i  (click)="deleteMember(member.id)" class="bi bi-file-minus"></i>
                    </span>
                </h5>
                <div class="container">
                    <div class="row" *ngIf="activeSB[i]">
                        <div class="col-12">
                            <label>Honorable</label>
                            <input [(ngModel)]="member.name" type="text" id="name" class="form-control">
                        </div>
                        <div (click)="saveSBMemberChanges(member.id,member);editMember(i)" class="btn btn-primary  col-3"> Update </div>
                        <div (click)="editMember(i)" class="btn btn-dark col-3 "> Cancel </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="addMember" class="row container " style="margin-left: 0px; ">
            <div class="form-group col-md-10 flex-container " style="transform: translate(-20px,10px); ">
                <label for="name " class="mr-2 ">Honorable </label>
                <input (keyup.enter)="saveMember() " [(ngModel)]="sbMember.name " type="text " id="name " class="form-control ">
            </div>
            <div class="flex-container col-md-1 " style="transform: translateX(10px); ">
                <div (click)="saveMember() " *ngIf="addMember " class="clickable center ">
                    <br>
                    <div class="btn btn-primary ">Add</div>
                </div>
            </div>
        </div>
    </div>