.card-header {
    background: var(--bg) !important;
    background-color: var(--bg) !important;
    border-bottom: 1px solid rgba(150, 150, 150, .1);
}

h5 span {
    cursor: pointer;
}

.list {
    border-bottom: 1px solid rgba(150, 150, 150, .1);
    margin-bottom: 10px;
}