@media only screen and (max-width: 600px) {
	.home-container {
		padding: 10px;
	}
	.header {
		margin: 10px !important;
		padding: 0 !important;
		height: auto;
		.logo-container {
			width: auto;
			img {
				height: 50px;
				width: 50px;
				margin-right: 10px !important;
			}
			.small {
				height: 30px;
				width: 30px;
				margin-top: 20px;
			}
		}
	}
	.texts {
		padding: 0px 0px !important;
	}
	p {
		font-size: 12px !important;
		margin-bottom: -3spx !important;
		font-weight: normal;
		font-size: 2.7vw !important;
	}
	h2 {
		font-size: 3vw !important;
		margin: 0;
	}
	.another-quick-links {
		height: 100px;
		width: 60px;
	}
	.navigation svg {
		width: 14px;
		height: 14px;
	}
	br {
		display: none;
	}
	.im-x-mark {
		width: 30px;
		height: 30px;
		font-size: 14px;
		top: -20px;
		right: -30px;
	}
	.carousel-holder {
		width: 100%;
	}
	.quick-links {
		display: none;
	}
	.nav-list {
		display: inline-block;
		white-space: nowrap;
		width: 100%;
		overflow-x: auto;
	}
	.Item {
		display: inline-block;
	}
	owl-carousel-o img,
	video,
	.carousel-holder {
		height: 200px !important;
	}
}
