.home-container {
    width: 100%;
    height: auto;
    padding: 0 30px;
    display: flexbox;
    position: relative;
    z-index: 2;
    background-color: var(--contrast);
}

.header {
    min-height: 25vh;
    height: auto;
    display: flex;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    img {
        border-radius: 50%;
    }
}

img {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

.small {
    width: 100px;
    height: 100px;
}

.texts {
    padding: 0px 30px;
    font-weight: 800;
    p {
        font-size: 15px;
    }
    h2 {
        font-size: 3vw;
    }
}

.header p {
    font-size: 17px;
    margin-bottom: 2px;
    color: var(--absolute);
}

.header h1 {
    color: var(--absolute) !important;
    text-transform: uppercase;
    font-weight: 900;
}

.nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--absolute) !important;
    border-bottom: 5px solid var(--contrast);
    display: flex;
    padding-bottom: 5px;
}

// .sticky {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//     z-index: 99999;
//     background: var(--bg);
// }
.nav,
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.Item,
a {
    padding: 10px 25px;
    cursor: pointer;
    color: white !important;
    flex: 1;
    font-weight: 500;
    text-decoration: none;
}

input {
    background: var(--bg) !important;
}

input:focus {
    outline: 0;
}

.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
}

.carousel-holder {
    width: 75%;
    height: 50vh;
    background: black;
}

.quick-links {
    width: 25%;
    height: 50vh;
    padding: 20px;
    overflow-y: auto;
    display: flexbox;
    position: relative;
    z-index: 1;
}

.links {
    display: flex;
    height: 20%;
    border-bottom: 1px solid rgba(150, 150, 150, .3);
    margin-bottom: 15px;
    cursor: pointer;
}

.link-images {
    width: 30%;
    height: 100%;
    padding-left: 20px;
}

.link-images img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
}

.link-text {
    width: 70%;
    height: 100%;
    padding: 5px 10px;
}

.placeholder-line {
    height: 5px;
    border-radius: 30px;
    background: var(--bg);
    margin-bottom: 10px;
}

.social-icons-list {
    display: flex;
    height: 30px;
    width: 100px;
    margin-left: 20px !important;
    padding-left: 20px;
}

.im {
    margin-left: 10px;
    cursor: pointer;
}

.im:hover {
    opacity: .6;
}

.im:acttive {
    opacity: .4;
}

owl-carousel-o {
    height: 50vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

owl-carousel-o img,
video {
    height: 50vh;
}

.carousel-holder .center img {
    transform: scaleX(1.5);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-left: -30px;
    margin-top: -60px;
}

.overlay img {
    width: 100%;
    height: 100%;
    opacity: .2;
}

.Item:hover {
    .drop-down-container {
        display: block;
    }
}

.drop-down-item:hover {
    .drop-down-subcategory {
        display: block;
    }
}

.drop-down-container {
    display: none;
}

.drop-down {
    margin-top: 10px;
    width: 250px;
    position: absolute;
    left: -40%;
    background: var(--bg);
}

.drop-down-subcategory {
    right: -114%;
    margin-top: -40px;
    width: 250px;
    position: absolute;
    background: var(--bg);
    top: 0;
    display: none;
}

.drop-down-item {
    padding: 10px;
    border-bottom: 1px solid rgba(150, 150, 150, .2);
    font-size: 13px;
    color: var(--absolute);
    font-weight: normal !important;
    background: var(--contrast);
    color: white;
}

.nav-list .Item:hover {
    color: white !important;
}

.drop-down-item:hover {
    background: var(--bg);
    color: var(--colorPrimary);
}

.chat-container {
    position: fixed;
    bottom: 30px;
    box-shadow: var(--shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--contrast);
    width: 60px;
    height: 60px;
    right: -15%;
    z-index: 9;
    cursor: pointer;
}

.chat-container i {
    color: white;
    border-radius: 50%;
    font-size: 35px;
    margin-left: 0px;
}

.quick-links-container {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.another-quick-links {
    height: 256px;
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
    background: var(--bg);
    box-shadow: 0px 0px 3px rgba(150, 150, 150, .2);
}

.navigation {
    padding: 20px 5vw;
    background: var(--contrast);
    display: flex;
    align-items: center;
}

.navigation p {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.fixed {
    transition: .4s;
    position: fixed;
    background: var(--contrast);
    top: 0;
    .Item {
        color: white !important
    }
    opacity: .99;
    padding: 0 5vw;
    backdrop-filter: blur(51px);
    padding-top: 5px;
    transform: translate(-5vw);
    width: 105vw;
    .nav-list div:hover {
        color: var(--colorPrimary) !important;
        font-weight: 900;
        input {
            color: var(--contrast) !important
        }
    }
    .Item:hover {
        .drop-down-container {
            opacity: .8;
        }
    }
}