<div class="home-container">
    <br>
    <div>
        <div class="header" *ngIf="!hide">
            <div>
                <div class="logo-container">
                    <img src="../../../assets/iloilo-seal.png" class="province-logo" style="margin-right: 20px">
                    <img style="width: 70px;height: 70px;margin-top: 30px;" class="small" src="../../../assets/ipo-logo.png">
                    <div class="texts">
                        <P style="font-family: raleway;">Republic of the Philippines
                        </P>
                        <p style="font-family: raleway;">Province of Iloilo</p>

                        <h2 style=" color:var(--contrast) !important;font-weight: 900;font-family: raleway;">PROVINCIAL POPULATION OFFICE</h2>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="nav" [class.fixed]="hide && isUser">

            <div class="nav-list">
                <div class="Item">
                    <a href="https://www.iloilo.gov.ph/" target="_blank" rel="noopener noreferrer">
                        ILOILO.GOV
                    </a>
                </div>
                <div routerLink="/home" class="Item">
                    HOME
                </div>
                <div class="Item">
                    ABOUT
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/ABOUT/PPO-MADATE" class="drop-down-item">
                                PPO Mandate
                            </div>
                            <div routerLink="/ABOUT/VISION,MISSION,GOALS" class="drop-down-item">
                                Vision, Mision, Goals
                            </div>
                            <div routerLink="/ABOUT/CORE-VALUES" class="drop-down-item">
                                Core Values
                            </div>
                            <div routerLink="/ABOUT/ORGANIZATIONAL-STRUCTURE" class="drop-down-item">
                                Orgnanizational Structure
                            </div>
                            <div routerLink="/ABOUT/PERSONNEL-DIRECTORY" class="drop-down-item">
                                Pernsonnel Directory
                            </div>
                            <div routerLink="/ABOUT/AWARDS" class="drop-down-item">
                                Awards
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    PROGRAM AREAS
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/PROGRAM-AREAS/Responsible-Parenthood-and-Family-Planning-Program" class="drop-down-item">
                                Responsible Parenthood and Family Planning Program
                            </div>
                            <div routerLink="/PROGRAM-AREAS/Adolscent-Health-&-Youth-Development-Program" class="drop-down-item">
                                Adolscent Health & Youth Development Program
                            </div>
                            <div routerLink="/PROGRAM-AREAS/Comprehensive-Population-Data-Banking-and-Management-Project" class="drop-down-item">
                                Comprehensive Population Data Banking and Management Project
                            </div>
                            <div routerLink="/PROGRAM-AREAS/Population-and-Development-Integration" class="drop-down-item">
                                Population and Development Integration
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    SERVICES OFFERED
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/SERVICES-OFFERED/Responsible-Parenthood-and-Family-Planning-Program" class="drop-down-item">
                                Responsible Parenthood and Family Planning Program
                            </div>
                            <div routerLink="/SERVICES-OFFERED/Adolscent-Health-&-Youth-Development-Program" class="drop-down-item">
                                Adolscent Health & Youth Development Program
                            </div>
                            <div routerLink="/SERVICES-OFFERED/Population-and-Development-Integration" class="drop-down-item">
                                Population and Development Integration
                            </div>
                            <div routerLink="/SERVICES-OFFERED/Population Data Managment" class="drop-down-item">
                                Population Data Managment
                            </div>
                        </div>
                    </div>
                </div>
                <div [routerLink]="['/population-data']" class="Item">POPULATION DATA</div>
                <div class="Item">
                    DEMOGRAPHIC DATA
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/demographic-data/births" class="drop-down-item">
                                Births
                            </div>
                            <div routerLink="/demographic-data/deaths" class="drop-down-item">
                                Deaths
                            </div>
                            <div routerLink="/demographic-data/migration" class="drop-down-item">
                                Migrations
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    RPFP DATA
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/PMOC" class="drop-down-item">
                                PRE-MARRIAGE ORIENTATION AND COUNSELLING
                            </div>
                            <div routerLink="/MPC-FDC" class="drop-down-item">
                                MULTI-PURPOSE CONSELLING AND FAMILY DEVELOPMENT CENTER
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    AHYD DATA
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/Teen-Centers" class="drop-down-item">
                                TEEN CENTERS
                            </div>
                            <!-- <div routerLink="/Issues&Concerns" class="drop-down-item">
                                ISSUES AND CONCERNS
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="Item">
                    OTHERS
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div routerLink="/Others" class="drop-down-item">
                                Links
                            </div>
                            <div routerLink="/population-profile-by-municipality" class="drop-down-item">
                                Population Profile By Municipality
                            </div>
                            <div routerLink="/age-distribution-by-municipality" class="drop-down-item">
                                Age Distribution by Municipality
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" Item">
                    <input list="datalist" type="search" placeholder="Search..." class="hide-on-mobile from-control" style="cursor: default;">
                    <datalist id="datalist">
                        <option >datalist</option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>