<app-navbar-mobile></app-navbar-mobile>

<div class="navbar">
    <div class="h3">
        <i (click)="back()" class="bi bi-arrow-left-square-fill"></i>
        <h5> {{nav.name }}</h5>
        <i [class]="'bi ' +nav.icon"></i>
    </div>

    <div style="align-self: flex-end;display: flex;position: absolute;right: 20px;">
        <div (click)="handleClick('Universal Search')" routerLink="/search" class="clickable" tooltip="Universal Search" placement="bottom" show-delay="100" [theme]="theme">
            <i class="bi bi-search"></i>
        </div>

        <div (click)="handleClick('Account Settings')" tooltip="View Account" placement="bottom" show-delay="100" [theme]="theme" class="nav-profile-holder clickable" style="width: auto !important;margin-top: 10px;" [routerLink]="['/account']">
            <img style="height:23px;width: 23px;" [src]="account.user.profile_picture != null ?  account.user.profile_picture.uri : '../../../assets/avatars/boy-blue.png'"> {{ name }}
        </div>

        <div class="clickable" (click)="approval == true ? approval = false : approval = true" tooltip="Approval Requests" placement="bottom" show-delay="100" [theme]="theme">
            <span>
                <i class="bi bi-ui-checks"></i>
            </span>
            <span class="badge badge-danger">0</span>
        </div>

        <span (click)="dropdown == true ? dropdown = false : dropdown = true" class="clickable" tooltip="Account and Settings" placement="bottom" show-delay="100" [theme]="theme" style="width: 50px;border-radius:50%">
            <i class="bi bi-caret-down-fill"></i>
        </span>
    </div>
    <div style="align-self: flex-end;display: flex;">
        <app-approvals *ngIf="approval == true"></app-approvals>
        <app-dropdown *ngIf="dropdown == true"></app-dropdown>
    </div>
</div>