.navbar {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 5px 30px;
    position: fixed;
    z-index: 9;
    width: 100%;
    background: var(--bg);
    box-shadow: none !important;
    opacity: .97;
}

.h3 {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
        transform: translateY(10px);
    }
    i {
        color: #274C67;
        font-size: 26px;
        font-size: 30px;
        text-align: center;
        margin-right: 20px;
        margin-left: 220px;
    }
}

.clickable {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    i {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none !important;
    }
}

* {
    backdrop-filter: blur(100px);
}

.ml-50 {
    margin-left: 100px;
}

img {
    height: 100%;
    margin-right: auto;
    border-radius: 50%;
    cursor: pointer;
}

.clickable:hover,
.nav-profile-holder:hover {
    background: var(--inputBg);
}

.nav-profile-holder {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 30px;
}

.nav-profile-holder img {
    margin-right: 10px;
    height: 30px;
    width: auto;
}

.sync {
    background: transparent !important;
}

.animate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(90de);
    }
    50% {
        transform: rotate(190deg);
    }
    100% {
        transform: rotate(360deg);
    }
}