<div [class.hide]="!hide" class="sidebar-component" [style.background]="'url(' + sidebar.backgroundImage + ')'" [class.removeBackground]="sidebar.background == false">
    <div class="filter" [ngStyle]="{background: sidebar.color}"></div>
    <h1>
        <img src="../../../assets/iloilo-seal.png"> Iloilo Provincial Office
    </h1>
    <br>
    <div class="button-group">
        <br> <br>


        <!-- HOME  -->
        <div (click)="active('Home')" class="sidebar-btn" [class.active]="icons.Home == true" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Home == true" [class.clickable]="icons.Home == false">
               <div class="icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                         <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                </div>
                Home
                <span *ngIf="icons.Home == true" class="triangle">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                    </svg>
                </span>
            </button>
        </div>
        <!-- STATISTICS  -->
        <div (click)="active('Statistics')" class="sidebar-btn" [class.active]="icons.Statistics == true " [routerLink]="['/statistics']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Statistics == true " [class.clickable]="icons.Statistics == false ">
                <div class="icon ">
                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-clipboard-data " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                        <path fill-rule="evenodd " d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z "/>
                        <path fill-rule="evenodd " d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z "/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z "/>
                      </svg>
               </div>
                Population Data
                <span *ngIf="icons.Statistics == true" class="triangle">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                    </svg>
                </span>
            </button>
        </div>


        <!-- DEMOGRAPHIC DATA  -->
        <div (click)="showDropDown('demographics')" class=" sidebar-btn">
            <button [class.clickable]="true ">
                <div class="icon ">
                    <i class="fas fa-users"></i>
               </div>
                Demographic Data   
                <span *ngIf="!dropDown.demographics" style="margin-left: auto;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                    
                </span>   
                <span *ngIf="dropDown.demographics" style="margin-left: auto;">                   
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                    </svg>                        
                </span>   
            </button>
        </div>

        <!-- STATISTICS  -->
        <div class="demographics" *ngIf="dropDown.demographics">
            <!-- RECORDS  -->
            <div (click)="active('Profiling')" class=" sidebar-btn" [class.active]="icons.Profiling == true " [routerLink]="['/profiling']" routerLinkActive="router-link-active">
                <button [class.button]="icons.Profiling == true" [class.clickable]="icons.Profiling == false ">                  
                    <div class="icon ">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layout-split" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd" d="M7.5 14V2h1v12h-1z"/>
                        </svg>
                </div>
                    Records
                    <span style="margin-left: auto;" class="badge badge-danger"><span style="font-size: 8px !important;"> {{pendingCount}}</span> </span>
                    <span *ngIf="icons.Profiling == true" class="triangle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div (click)="showDropDown('Statistics')" class=" sidebar-btn">
                <button [class.button]="!true" [class.clickable]="!false">                  
                    <div class="icon ">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pie-chart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M7.5 7.793V1h1v6.5H15v1H8.207l-4.853 4.854-.708-.708L7.5 7.793z"/>
                        </svg>
                </div>
                    Statistics                 
                    <span *ngIf="!dropDown.Statistics" style="margin-left: auto;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>
                        
                    </span>   
                    <span *ngIf="dropDown.Statistics" style="margin-left: auto;">                   
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                        </svg>                        
                    </span>   
                </button>
            </div>
            <div class="records" *ngIf="dropDown.Statistics">
                <!-- DEATHS  -->
                <div (click)="active('Deaths Statistics')" class=" sidebar-btn" [class.active]="icons.DeathStat == true " [routerLink]="['/statistics/deaths']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.DeathStat == true" [class.clickable]="icons.DeathStat == false ">
                        <div class="icon ">
                            <i class="fas fa-skull-crossbones"></i>
                    </div>
                        Deaths
                        <span *ngIf="icons.DeathStat == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- BIRTHS  -->
                <div (click)="active('Births  Statistics')" class=" sidebar-btn" [class.active]="icons.BirthStat == true " [routerLink]="['/statistics/births']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.BirthStat == true" [class.clickable]="icons.BirthStat == false ">
                        <div class="icon ">
                            <i class="fas fa-baby"></i>
                    </div>
                        Births
                        <span *ngIf="icons.BirthStat == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- MIGRATION  -->
                <div (click)="active('Migration  Statistics')" class=" sidebar-btn" [class.active]="icons.MigrationStat == true " [routerLink]="['/statistics/migration']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.MigrationStat == true" [class.clickable]="icons.MigrationStat == false ">
                        <div class="icon ">
                            <i  class="fas fa-plane-arrival"></i>
                    </div>
                        Migration
                        <span *ngIf="icons.MigrationStat == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>

            </div>






            <div (click)="showDropDown('addData')" class=" sidebar-btn">
                <button [class.button]="!true" [class.clickable]="!false">                  
                    <div class="icon ">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                </div>
                    Add Data                    
                    <span *ngIf="!dropDown.addData" style="margin-left: auto;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>
                        
                    </span>   
                    <span *ngIf="dropDown.addData" style="margin-left: auto;">                   
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                        </svg>                        
                    </span>   
                </button>
            </div>
            <div class="records" *ngIf="dropDown.addData">
                <!-- CENSUS  -->
                <div (click)="active('CPDB')" class=" sidebar-btn" [class.active]="icons.CPDB == true " [routerLink]="['/cpdb']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.CPDB == true" [class.clickable]="icons.CPDB == false ">
                        <div class="icon ">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-bounding-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                    </div>
                        Census
                        <span *ngIf="icons.CPDB == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- DEATHS  -->
                <div (click)="active('Deaths')" class=" sidebar-btn" [class.active]="icons.Deaths == true " [routerLink]="['/deaths']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.Deaths == true" [class.clickable]="icons.Deaths == false ">
                        <div class="icon ">
                            <i class="fas fa-skull-crossbones"></i>
                    </div>
                        Deaths
                        <span *ngIf="icons.Deaths == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- BIRTHS  -->
                <div (click)="active('Births')" class=" sidebar-btn" [class.active]="icons.Births == true " [routerLink]="['/births']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.Births == true" [class.clickable]="icons.Births == false ">
                        <div class="icon ">
                            <i class="fas fa-baby"></i>
                    </div>
                        Births
                        <span *ngIf="icons.Births == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- INMIGRATION  -->
                <div (click)="active('InMig')" class=" sidebar-btn" [class.active]="icons.InMig == true " [routerLink]="['/in-mig']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.InMig == true" [class.clickable]="icons.InMig == false ">
                        <div class="icon ">
                            <i  class="fas fa-plane-arrival"></i>
                    </div>
                        In-Migration
                        <span *ngIf="icons.InMig == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- OUTMIGRATION  -->
                <div (click)="active('OutMig')" class=" sidebar-btn" [class.active]="icons.OutMig == true " [routerLink]="['/out-mig']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.OutMig == true" [class.clickable]="icons.OutMig == false ">
                        <div class="icon ">
                            <i style="transform: scaleX(-1);" class="fas fa-plane-departure"></i>
                    </div>
                        Out-Migration
                        <span *ngIf="icons.OutMig == true" class="triangle">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <!-- MARRIAGES  -->
                <div (click)="active('Marriages')" class=" sidebar-btn" [class.active]="icons.Marriages == true " [routerLink]="['/marriages']" routerLinkActive="router-link-active">
                    <button [class.button]="icons.Marriages == true" [class.clickable]="icons.Marriages == false ">
                        <div class="icon ">
                            <svg  style="margin-left: -5px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                            </svg>
                    </div>
                        Marriages
                        <span *ngIf="icons.Marriages == true" class="triangle">
                             <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>

        </div>

        <!-- RPFP  -->
        <div (click)="showDropDown('RPFP')" class=" sidebar-btn">
            <button [class.clickable]="true ">
                <div class="icon ">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755S12 12 8 12s-5 1.755-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                    </svg>
               </div>
               RPFP Data   
                <span *ngIf="!dropDown.RPFP" style="margin-left: auto;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                    
                </span>   
                <span *ngIf="dropDown.RPFP" style="margin-left: auto;">                   
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                    </svg>                        
                </span>   
            </button>
        </div>

        <div class="demographics" *ngIf="dropDown.RPFP">
            <!-- PMOC  -->
            <div (click)="active('PMOC')" class=" sidebar-btn" [class.active]="icons.PMOC == true " [routerLink]="['/PMOC']" routerLinkActive="router-link-active">
                <button [class.button]="icons.PMOC == true" [class.clickable]="icons.PMOC == false ">                  
                    <div class="icon ">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layout-split" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd" d="M7.5 14V2h1v12h-1z"/>
                        </svg>
                    </div>
                    PMOC Data
                  
                    <span *ngIf="icons.PMOC == true" class="triangle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                        </svg>
                    </span>
                </button>
            </div>
            <!-- MPCFDC  -->
            <div (click)="active('MPCFDC')" class=" sidebar-btn" [class.active]="icons.MPCFDC == true " [routerLink]="['/MPC-FDC']" routerLinkActive="router-link-active">
                <button [class.button]="icons.MPCFDC == true" [class.clickable]="icons.MPCFDC == false ">                  
                    <div class="icon ">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        </svg>
                    </div>
                    MPC-FDC                   
                    <span *ngIf="icons.MPCFDC == true" class="triangle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>

        <!-- AHYD  -->
        <div (click)="showDropDown('AHYD')" class=" sidebar-btn">
            <button [class.clickable]="true ">
                <div class="icon ">
                    <i class="fas fa-people-carry"></i>
               </div>
               AHYD Data   
                <span *ngIf="!dropDown.AHYD" style="margin-left: auto;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                    
                </span>   
                <span *ngIf="dropDown.AHYD" style="margin-left: auto;">                   
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                    </svg>                        
                </span>   
            </button>
        </div>

        <div class="demographics" *ngIf="dropDown.AHYD">
            <!-- TeenCenters  -->
            <div (click)="active('TeenCenters')" class=" sidebar-btn" [class.active]="icons.TeenCenters == true " [routerLink]="['/Teen-Centers']" routerLinkActive="router-link-active">
                <button [class.button]="icons.TeenCenters == true" [class.clickable]="icons.TeenCenters == false ">                  
                    <div class="icon ">
                        <i class="fas fa-university"></i>
                    </div>
                    Teen Centers              
                    <span *ngIf="icons.TeenCenters == true" class="triangle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                        </svg>
                    </span>
                </button>
            </div>
            <!-- IssuesAndConerns  -->
            <div (click)="active('IssuesAndConerns')" class=" sidebar-btn" [class.active]="icons.IssuesAndConerns == true " [routerLink]="['/Issues&Concerns']" routerLinkActive="router-link-active">
                <button [class.button]="icons.IssuesAndConerns == true" [class.clickable]="icons.IssuesAndConerns == false ">                  
                    <div class="icon ">
                        <i class="fas fa-universal-access"></i>
                    </div>
                    Issues & Concerns                   
                    <span *ngIf="icons.IssuesAndConerns == true" class="triangle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>

        <!-- Others  -->
        <div (click)="active( 'Others')" class="sidebar-btn" [class.active]="icons.Others == true" [routerLink]="['/Others']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Others == true" [class.clickable]="icons.Others == false">
             <div class="icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <rect width="4" height="5" x="1" y="10" rx="1"/>
                    <rect width="4" height="9" x="6" y="6" rx="1"/>
                    <rect width="4" height="14" x="11" y="1" rx="1"/>
                </svg>
            </div>
             Others
             <span *ngIf="icons.Others == true" class="triangle">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                 </svg>
             </span>
         </button>
        </div>

        <hr>

        <!-- CMS  -->
        <div (click)="active( 'CMS')" class="sidebar-btn" [class.active]="icons.CMS == true" [routerLink]="['/cms']" routerLinkActive="router-link-active">
            <button [class.button]="icons.CMS == true" [class.clickable]="icons.CMS == false">
             <div class="icon">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-blockquote-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                     <path d="M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z"/>
                 </svg>
            </div>
             Content Management
             <span *ngIf="icons.CMS == true" class="triangle">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                 </svg>
             </span>
         </button>
        </div>
        <!-- ADMIN ACCOUNTS  -->
        <div (click)="active('AdminAccounts')" class=" sidebar-btn" [class.active]="icons.AdminAccounts == true " [routerLink]="['/admin-accounts']" routerLinkActive="router-link-active">
            <button [class.button]="icons.AdminAccounts == true" [class.clickable]="icons.AdminAccounts == false ">
             <div class="icon ">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </div>
             Admin Accounts
             <span *ngIf="icons.AdminAccounts == true" class="triangle">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                 </svg>
             </span>
         </button>
        </div>
        <!-- NEW ADMINISTRATOR  -->
        <div (click)="active('Administrators')" class=" sidebar-btn" [class.active]="icons.Administrators == true " [routerLink]="['/new-admin']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Administrators == true" [class.clickable]="icons.Administrators == false ">
             <div class="icon ">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
             New Administrator
             <span *ngIf="icons.Administrators == true" class="triangle">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                 </svg>
             </span>
         </button>
        </div>
        <!--Roles  -->
        <div (click)="active('Roles')" class=" sidebar-btn" [class.active]="icons.Roles == true " [routerLink]="['/new-admin']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Roles == true" [class.clickable]="icons.Roles == false ">
             <div class="icon ">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-lock2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                    <path fill-rule="evenodd" d="M8 5a1 1 0 0 0-1 1v1h2V6a1 1 0 0 0-1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                  </svg>
            </div>
             Roles
             <span *ngIf="icons.Roles == true" class="triangle">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                 </svg>
             </span>
         </button>
        </div>
        <!-- LOGS  -->
        <div (click)="active('Logs')" class=" sidebar-btn" [class.active]="icons.Logs == true" [routerLink]="['/logs']" routerLinkActive="router-link-active">
            <button [class.button]="icons.Logs == true" [class.clickable]="icons.Logs == false ">
             <div class="icon ">
                 <svg width="23px" height="23px" viewBox="0 0 16 16" class="bi bi-watch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86A5.985 5.985 0 0 1 14 8a5.985 5.985 0 0 1-2 4.472v1.861c0 .92-.746 1.667-1.667 1.667H5.667C4.747 16 4 15.254 4 14.333zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
                     <path d="M13.918 8.993A.502.502 0 0 0 14.5 8.5v-1a.5.5 0 0 0-.582-.493 6.044 6.044 0 0 1 0 1.986z"/>
                     <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"/>
                 </svg>
            </div>
            History Logs
            <span *ngIf="icons.Logs == true" class="triangle">
             <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="#EEF1F5" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
             </svg>
         </span>
         </button>
        </div>
    </div>
</div>