<div class="add-new-teen-center-component container">
    <h5 class="pop2">ADD MULTI-PURPOSE CONSELLING AND FAMILY DEVELOPMENT CENTER</h5>
    <div class="row">
        <div class="col-md-12">
            <br> <br>
        </div>
        <div class="col-md-6">
            <label for="">Name</label>
            <input [(ngModel)]="teenCenter.name" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="">District</label>
            <select [(ngModel)]="teenCenter.district" type="text" class="form-control">
                <option [value]="district" *ngFor="let district of districtS">{{district}}</option>
            </select>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <label for="">Muncipality</label>
            <select [(ngModel)]="teenCenter.municipality" type="text" class="form-control">
                <option [value]="municipality.name" *ngFor="let municipality of municipalities">{{municipality.name}}</option>
                </select>
        </div>
        <div class="col-md-6">
            <label for="">Services Offered</label>
            <textarea [(ngModel)]="teenCenter.services" autosize class="form-control"></textarea>
        </div>
        <div class="col-md-12">
            <br> <br>
        </div>
        <div class="col-md-12 flex-container">
            <button (click)="create()" class="button">Save MPC-FDC</button>
        </div>
    </div>
</div>