.wrapper {
    padding: 20px 50px;
}

h2 {
    font-weight: 600
}

* {
    word-break: break-word;
    word-wrap: break-word;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}

p,
li {
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 200;
}

span {
    font-weight: 900;
}

a {
    margin-bottom: 50px;
}

h5 {
    margin-top: 50px;
}