<app-home *ngIf="isUser"></app-home>


<div class="wrapper">
    <h2 class="pop2">OTHER LINKS FOR PRESS RELEASES:</h2>

    <!-- <p>2015
    </p> -->

    <h5>21 Iloilo Teen Centers to Rise Soon</h5>
    <a target="_blank" href="http://iloilo.gov.ph/social-welfare/21-iloilo-teen-centers-rise-soon">(http://iloilo.gov.ph/social-welfare/21-iloilo-teen-centers-rise-soon)
</a>

    <h5>Iloilo Teen Center Finalist in 2015 Galing Pook</h5>
    <a target="_blank" href="http://iloilo.gov.ph/democracy-and-governance-awards-and-recognition/iloilo-teen-center-finalist-2015-galing-pook">(http://iloilo.gov.ph/democracy-and-governance-awards-and-recognition/iloilo-teen-center-finalist-2015-galing-pook)</a>    2016

    <h5>Gov. Art at BSPO Congress</h5>
    <a target="_blank" href="http://iloilo.gov.ph/health-and-sanitation/gov-art-bspo-congres">(http://iloilo.gov.ph/health-and-sanitation/gov-art-bspo-congres)</a>

    <h5>Inauguration of Teen Center in Zarraga National High School </h5>
    <a href="http://iloilo.gov.ph/social-welfare-and-development-population/inauguration-teen-center-zarraga-national-high-school">(http://iloilo.gov.ph/social-welfare-and-development-population/inauguration-teen-center-zarraga-national-high-school)</a>

    <h5>
        Inauguration of 42nd Teen Center in Bingawan,Iloilo </h5>
    <a target="_blank" href="http://iloilo.gov.ph/inauguration-42nd-teen-center-bingawaniloilo">(http://iloilo.gov.ph/inauguration-42nd-teen-center-bingawaniloilo)</a>

    <h5>36th Teen Center Inaugurated in Banate, Iloilo </h5>
    <a href="http://iloilo.gov.ph/rural-development-infrastructure-education/36th-teen-center-inaugurated-banate-iloilo">(http://iloilo.gov.ph/rural-development-infrastructure-education/36th-teen-center-inaugurated-banate-iloilo)</a>

    <h5>
        Turn-over of Teen Center @ San Rafael National High School </h5>
    <a target="_blank" href="http://iloilo.gov.ph/population-rural-development-education/turn-over-teen-center-san-rafael-national-high-school">(http://iloilo.gov.ph/population-rural-development-education/turn-over-teen-center-san-rafael-national-high-school)</a>

    <h5>28th Multi-purpose Teen Center in Balasan Inaugurated </h5>
    <a target="_blank" href="http://iloilo.gov.ph/social-welfare-and-development-population/28th-multi-purpose-teen-center-balasan-inaugurated">(http://iloilo.gov.ph/social-welfare-and-development-population/28th-multi-purpose-teen-center-balasan-inaugurated)</a>

    <h5>MOA Signing for Tech4Ed in Teen Centers</h5>
    <a target="_blank" href="http://iloilo.gov.ph/education-population-information-technology-computers/moa-signing-tech4ed-teen-centers">(http://iloilo.gov.ph/education-population-information-technology-computers/moa-signing-tech4ed-teen-centers)</a>    2017

    <h5>Iloilo to pilot test counseling centers for couples in crisis</h5>
    <a target="_blank" href="http://iloilo.gov.ph/multipurpose-counseling-and-family-development-center/iloilo-pilot-test-counseling-centers-couples">(http://iloilo.gov.ph/multipurpose-counseling-and-family-development-center/iloilo-pilot-test-counseling-centers-couples)</a>

    <h5>
        Pototan hosts BSPO Congress 2017</h5>
    <a target="_blank" href="http://iloilo.gov.ph/rural-development/pototan-hosts-bspo-congress-2017">(http://iloilo.gov.ph/rural-development/pototan-hosts-bspo-congress-2017)</a>

    <h5>Iloilo PPO holds BSPO Congress 2017</h5>
    <a target="_blank" href="(http://iloilo.gov.ph/iloilo-ppo-holds-bspo-congress-2017)
">http://iloilo.gov.ph/iloilo-ppo-holds-bspo-congress-2017
</a>

    <h5>Guimbal NHS wins Capitol’s short film contest</h5>
    <a target="_blank" href="http://iloilo.gov.ph/information-education-campaign-materials-sa-sine/guimbal-nhs-wins-capitol’s-short-film-contest">(http://iloilo.gov.ph/information-education-campaign-materials-sa-sine/guimbal-nhs-wins-capitol’s-short-film-contest)</a>

    <h5>Teen Center finalist in 2017 Galing Pook Awards</h5>
    <a target="_blank" href="http://iloilo.gov.ph/teen-center-finalist-2017-galing-pook-awards">(http://iloilo.gov.ph/teen-center-finalist-2017-galing-pook-awards)</a>

    <h5>44th Teen Center Opens in Batad</h5>
    <a target="_blank" href="http://iloilo.gov.ph/education/44th-teen-center-opens-batad">(http://iloilo.gov.ph/education/44th-teen-center-opens-batad)</a>

    <h5>Gov. Defensor @ Opening of Teen Center in Palangguia Pototan</h5>
    <a target="_blank" href="http://iloilo.gov.ph/education/gov-defensor-opening-teen-center-palangguia-pototan">(http://iloilo.gov.ph/education/gov-defensor-opening-teen-center-palangguia-pototan)</a>

    <h5>Galing Pook Visitors</h5>
    <a target="_blank" href="(http://iloilo.gov.ph/education/galing-pook-visitors)">(http://iloilo.gov.ph/education/galing-pook-visitors)</a>
    <h5>Opening of Teen Center in Estancia National High School</h5>
    <a target="_blank" href="http://iloilo.gov.ph/education/opening-teen-center-estancia-national-high-school">(http://iloilo.gov.ph/education/opening-teen-center-estancia-national-high-school)</a>

    <h5>Inauguration of Teen Center in Tambaliza, Concepcion </h5>
    <a target="_blank" href="http://iloilo.gov.ph/education-population/inauguration-teen-center-tambaliza-concepcion">(http://iloilo.gov.ph/education-population/inauguration-teen-center-tambaliza-concepcion)</a> 2018

    <h5>BSPO Gives Tribute to Gov. Defensor</h5>
    <a target="_blank" href="http://iloilo.gov.ph/democracy-and-governance/bspo-gives-tribute-gov-defensor">(http://iloilo.gov.ph/democracy-and-governance/bspo-gives-tribute-gov-defensor)</a>

    <h5>Gov Art at 4th Youth Congress Opening</h5>
    <a target="_blank" href="http://iloilo.gov.ph/youth/gov-art-4th-youth-congress-opening">(http://iloilo.gov.ph/youth/gov-art-4th-youth-congress-opening)</a>

    <h5>Iloilo opens 49th teen center</h5>
    <a target="_blank" href="http://iloilo.gov.ph/school-based-multipurpose-teen-center/iloilo-opens-49th-teen-center">(http://iloilo.gov.ph/school-based-multipurpose-teen-center/iloilo-opens-49th-teen-center)</a>


    <h5>ART 5M trees survive in Iloilo’s re-greening project </h5>
    <a target="_blank" href="http://iloilo.gov.ph/tree-planting-re-greening-project-art-cca/5m-trees-survive-iloilo’s-re-greening-project">(http://iloilo.gov.ph/tree-planting-re-greening-project-art-cca/5m-trees-survive-iloilo’s-re-greening-project)</a>

    <h5>Teen Center Iloilo Province to Strengthen Programs vs Suicide </h5>
    <a target="_blank" href="http://iloilo.gov.ph/health-and-sanitation/iloilo-province-strengthen-programs-vs-suicide">(http://iloilo.gov.ph/health-and-sanitation/iloilo-province-strengthen-programs-vs-suicide)</a>
</div>