<div class="mobile-authenticate-container">
    <div class="logo-container">
        <img class="animated bounceIn slow" src="../../../../assets/iloilo-seal.png" alt="">
    </div>
    <div class="col-md-12 right">

        <div class="animated zoomInLeft fast">
            <label for="mobile-username">Username</label>
            <input (keyup.enter)="login()" [(ngModel)]="account.username" type="text" id="mobile-username" class="form-control">
        </div>
        <br>
        <div class="animated zoomInRight fast">
            <label for="mobile-passsworde">Password</label>
            <input (keyup.enter)="login()" [(ngModel)]="account.password" class="form-control" type="password" id="mobile-password">

        </div>
        <p class="animated zoomInLeft slow">I will use pin instead</p>

        <button class="button" (click)="login()">Login</button>
        <br>

    </div>
</div>