<div class="mpc-component container row" style="padding: 20px;">
    <div class="col-md-12">
        <h3 class="d-flex">
            <span> {{teenCenter.name}} </span>
            <span (click)="hideShow()" class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </span>
        </h3>
        <p>{{teenCenter.municipality}}</p>
        <br> <br>
        <h5 class="d-flex">
            <span>Images of {{teenCenter.name}}</span>
            <button (click)="triggerInput()" class="ml-auto button">Images</button>
            <input (change)="readURL($event.target.files,$event)" multiple accept="image/*" type="file" style="display: none;" id="file1">
        </h5>
        <hr>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let image of teenCenter.files">
                <img alt="" title="slide.title " src="../../../assets/avatars/boy-blue.png">
            </ng-template>
        </owl-carousel-o>
        <br>
        <h5>SERVICE OFFERED</h5>
        <hr>
        <br>
        <p>{{teenCenter.services}}</p>
    </div>


    <!-- -----personnel inchare------- -->
    <div class="col-md-12">
        <h3 class="col-md-12" style="text-align: left;margin-top: 50px;display: flex;">
            <span> Personnel In-charge</span>
            <span (click)="addPersnalInCharge = true" *ngIf="!addPersnalInCharge" class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
            </span>
            <span (click)="addPersnalInCharge = false" *ngIf="addPersnalInCharge" class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </span>
        </h3>
        <hr>
        <div *ngIf="addPersnalInCharge" class="flex-container">
            <div class="container flex-container">
                <img (click)="triggerFile()" [src]="src" alt="" class="mr-2" style="width: 50px;height: 50px;border-radius: 50%;">
                <input [(ngModel)]="personnel.photo" (change)="readUrl($event.target,$event)" accept="image/*" id="personnel" type="file" style="display: none;">
                <label style="margin-right: 10px;transform: translateY(5px);" for="Name">Name</label>
                <input [(ngModel)]="personnel.name" type="text" class="form-control mr-2" id="Name">
                <label style="margin-right: 10px;transform: translateY(5px);" for="Position">Position</label>
                <input [(ngModel)]="personnel.position" type="text" class="form-control" id="Position">
                <button (click)="savePersonnel()" class="clickable">
                    <i class="fa fa-check text-success"></i>
                </button>
            </div>
        </div>
        <div *ngIf="!addPersnalInCharge" class="col-md-12  m-4 row">
            <div class="col-md-3 personnel" *ngFor="let item of [1,2,2,2,2,2]">
                <div class="picture">
                    <img src="../../../../assets/avatars/boy-blue.png" alt="">
                </div>
                <br>
                <div class="person-name">JAMEL EID YASSIN</div>
                <p style="text-align: center;">Provincial Teen Center Coordinator</p>
            </div>
        </div>
    </div>
</div>