.mpc-component {
    display: flex;
    padding: 20px;
    max-width: auto !important;
}

.images {
    min-height: 30vh;
    max-height: 30vh;
}

.front {
    width: 70%;
}

.personnel {
    box-sizing: 0px 0px 5px lightgray;
    padding: 20px;
    border-radius: 5px !important;
}

.side {
    width: 30%;
    text-align: center;
}

h3,
.person-name {
    font-weight: 800;
    text-align: center;
}

.carousel-holder .center img {
    transform: scaleX(1.5);
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        align-self: center;
    }
}