<p style="text-align: center;" *ngIf="mpc.name == undefined">
    No data yet..</p>
<div *ngIf="mpc.name != undefined" class="mpc-component col-md-12 row">
    <div class="col-md-8">

        <h3>
            {{mpc.name}} MPC-FDC
        </h3>
        <p style="text-align: center;">{{mpc.location}}</p>
        <!-- <hr>
        <br>
        <app-dynamic-mapping></app-dynamic-mapping>
        <br> -->
        <br>
        <h5>Images of {{mpc.name}} </h5>
        <hr>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let image of [1,2]">
                <img alt="" title="slide.title " src="../../../assets/home/3.jpg">
            </ng-template>
        </owl-carousel-o>
        <div class="flex-container">
            <button class="button">Add Images</button>
            <button class="button">Edit Images</button>
        </div>
        <br>
        <h5 style="text-align: center;">SERVICE OFFERED</h5>
        <hr>
        <p style="text-align: center;">{{mpc.services}}</p>
    </div>
    <div class="col-md-4" style="float: right; transform: translate(100px);">
        <h3 class="pop2">
            Personnel In-charge
        </h3>

        <div class="flex-container container" style="flex-direction: column;margin-left: 0;">
            <div class="picture">
                <img src="../../../../assets/avatars/boy-blue.png" alt="">
            </div>
            <br>
            <div class="person-name">JAMEL EID YASSIN</div>
            <p style="text-align: center;">Provincial Teen Center Coordinator</p>
        </div>
    </div>
</div>