<app-home>
</app-home>
<div class="wrapper">
    <h2>ADOLESCENT HEALTH AND YOUTH DEVELOPMENT PROGRAM</h2>
    <br>
    <p>
        The Adolescent Health and Youth Development Program is one of the key component of the Philippine Population Management Program. The province’s objective is to help in the development and growth of adolescents and youth for them to become responsible
        and productive members of the society, through the establishment of the School-Based Multi-Purpose Teen Centers and Information, Education & Communication (IEC) Advocacies.
    </p>

    <ul>
        <li>
            School-Based Multi-Purpose TeenCenters
            <p>(Description)
            </p>
        </li>
        <li>
            IEC Advocacies
            <p>(insert activities and description)
            </p>
        </li>
    </ul>
</div>