<app-home>
</app-home>
<div class="wrapper">
    <div class="animated fadeInLeftBig">
        <br><br><br><br>
        <button (click)="wantsToAddanAwardFunction(true)" *ngIf="!wantsToAddanAward && isAdmin" class="button add-an-award">Add Activity</button>
        <div *ngIf="!wantsToAddanAward && isAdmin">

            <h2>{{programArea.title }}</h2>
            <hr>

            <div>
                <div class="flex absolute" *ngIf="isAdmin">
                    <div *ngIf="!wantsToEditDescription" (click)="wantsToEditDescriptionFunction()" class="edit">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-vector-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                    <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                  </svg>
                    </div>

                </div>
                <br> <br>
                <p *ngIf="!wantsToEditDescription">{{programArea.description }}</p>
            </div>

            <div *ngIf="wantsToEditDescription">
                <div class="form-group">
                    <label for="form7">New RPFP Description</label>
                    <textarea autosize #textarea [(ngModel)]="programArea.description" placeholder="Aa" class="md-textarea form-control"></textarea>

                </div>
                <button (click)="wantsToEditDescription = false" class="clickable">Cancel</button>
                <button (click)="updateProgramArea()" class="button">Save</button>
            </div>


            <br> <br>
            <ul>
                <li *ngFor="let program of programArea.activities; let i = index">
                    <div class="flex absolute" *ngIf="isAdmin">
                        <div *ngIf="!acitveProgram[i]" (click)="toggleProgram(i)" class="edit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-vector-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                                <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                            </svg>
                        </div>
                        <div *ngIf="!acitveProgram[i]" (click)="deleteRPFP(program.id)" class="edit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                    </div>
                    <p *ngIf="!acitveProgram[i]" class="title">{{program.title}}</p>
                    <p *ngIf="!acitveProgram[i]" class="description">
                        {{program.description}}
                    </p>
                    <div *ngIf="acitveProgram[i]">
                        <div class="form-group col-md-12">
                            <label for="title">New Actiivty Title</label>
                            <textarea autosize #textarea [(ngModel)]="program.title" id="title" class="form-control"></textarea>
                        </div>
                        <br>
                        <div class="form-group col-md-12">
                            <label for="link">New Actiivty Description</label>
                            <textarea autosize #textarea [(ngModel)]="program.description" id="link" class="form-control"></textarea>
                        </div>

                        <div class="form-group col-md-12">
                            <button (click)="triggerMediaInput('slider','i')" class="clickable">Add an Image</button>
                            <button (click)="triggerMediaInput('videoslider','i')" class="clickable ">Add a Video</button>
                            <button *ngIf="files.images.length != 0 || files.videos.length != 0" (click)="clearSlider()" (click)="triggerMediaInput('videoslider',i)" class="clickable ">Clear Slider</button>
                            <input multiple type="file" (change)="readSliderURL( $event.target.files, $event, 'image' )" accept="image/*" style="display: none ; " [id]=" 'slider' + 'i' ">
                            <input multiple type="file" (change)="readSliderURL( $event.target.files, $event, 'video' )" accept="video/*" style="display:none " [id]=" 'videoslider' + 'i' ">
                        </div>
                        <owl-carousel-o *ngIf="files.images.length != 0 || files.videos.length != 0" [options]=" customOptions">
                            <ng-template carouselSlide *ngFor="let image of files.images">
                                <img alt="" title="slide.title " [src]="image">
                            </ng-template>
                            <ng-template carouselSlide *ngFor="let video of files.videos">
                                <video autoplay [src]="video"></video>
                            </ng-template>
                        </owl-carousel-o>
                        <div style="margin-left: 70px;">
                            <button (click)="updateRPFP(program.id, program,i)" class="button ">Save</button> &nbsp;
                            <button (click)="toggleProgram(i)" class="clickable ">Cancel</button>
                        </div>
                        <br> <br> <br> <br>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row" *ngIf="wantsToAddanAward">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="title">Actiivty Title</label>
                    <textarea [(ngModel)]="activity.title" autosize #textarea tid="title" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="link">Actiivty Description</label>
                    <textarea [(ngModel)]="activity.description" autosize #textarea id="link" class="form-control"></textarea>
                </div>
            </div>
            <br><br>
            <owl-carousel-o *ngIf="files.images.length != 0 || files.videos.length != 0" [options]=" customOptions">
                <ng-template carouselSlide *ngFor="let image of files.images">
                    <img alt="" title="slide.title " [src]="image">
                </ng-template>
                <ng-template carouselSlide *ngFor="let video of files.videos">
                    <video autoplay [src]="video"></video>
                </ng-template>
            </owl-carousel-o>


            <div class="form-group col-md-12">
                <button (click)="triggerMediaInput('slider','i')" class="clickable">Add an Image</button>
                <button (click)="triggerMediaInput('videoslider','i')" class="clickable ">Add a Video</button>
                <button *ngIf="files.images.length != 0 || files.videos.length != 0" (click)="clearSlider()" (click)="triggerMediaInput('videoslider',i)" class="clickable ">Clear Slider</button>
                <input multiple type="file" (change)="readSliderURL( $event.target.files, $event, 'image' )" accept="image/*" style="display: none ; " [id]=" 'slider' + 'i' ">
                <input multiple type="file" (change)="readSliderURL( $event.target.files, $event, 'video' )" accept="video/*" style="display:none " [id]=" 'videoslider' + 'i' ">
            </div>
            <div style="margin-left: 70px;">
                <button (click)="createRPFP()" class="button ">Save</button> &nbsp;
                <button (click)="wantsToAddanAwardFunction(false)" class="clickable ">Cancel</button>
            </div>
        </div>


    </div>
</div>