<app-home>
</app-home>
<div class="wrapper">

    <h5>PROVINCIAL POPULATION OFFICE</h5>
    <table class="table">
        <tr>
            <th>Ramon C. Yee, MPG</th>
            <td>Provincial Population Officer ppo@iloilo.gov.ph, (033) 509-5081
            </td>
        </tr>
    </table>
    <br>
    <h5>ADMINISTRATIVE DIVISION</h5>
    <table class="table">
        <tr>
            <th>Ma. Hayde P. Padilla</th>
            <td>OIC - Administrative Division (insert contact details)
            </td>
        </tr>
        <tr>
            <th>Gilda M. Borja</th>
            <td>OIC - Records Section, Administrative Assistant I</td>
        </tr>
        <tr>
            <th>
                Lynde Q. Dadivas
            </th>
            <td>
                OIC - Administrative Division (insert contact details)
            </td>
        </tr>
        <tr>
            <th>
                Carlos N. Alli
            </th>
            <td>
                Administrative Aide V
            </td>
        </tr>
        <tr>
            <th>
                Melody T. Gomez
            </th>
            <td>
                Administrative Aide VI
            </td>
        </tr>
        <tr>
            <th>
                Rufino P. Sancho
            </th>
            <td>
                Driver II (detailed)
            </td>
        </tr>
        <tr>
            <th>
                Reygen P. Adelantar
            </th>
            <td>
                Administrative Aide I (detailed)
            </td>
        </tr>
    </table>
    <br>
    <h5>TRAINING AND RESEARCH DIVISION</h5>
    <table class="table">
        <tr>
            <th>
                Shiela Mae C. Tuares
            </th>
            <td>
                OIC – Training and Research Division
            </td>
        </tr>
        <tr>
            <th>
                Ma. Hayde P. Padilla
            </th>
            <td>
                Statistician II
            </td>
        </tr>
        <tr>
            <th>
                Jessa P. Salido
            </th>
            <td>
                Population Program Officer I
            </td>
        </tr>
    </table>
    <br>
    <h5>FIELD OPERATIONS DIVISION</h5>
    <table class="table">
        <tr>
            <th>
                District I
            </th>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                Janel T. Tejida
            </th>
            <td>
                Population Program Officer II
            </td>
        </tr>
        <tr>
            <th>
                Pete Mhee G. Grajales
            </th>
            <td>
                Population Program Officer I – Guimba
            </td>
        </tr>
        <tr>
            <th>
                John Niño T. Escorpion
            </th>
            <td>
                Population Program Officer I – Igbaras
            </td>
        </tr>
        <tr>
            <th>
                Eireen P. Digcabo-on
            </th>
            <td>
                Population Program Officer I – Miag-ao
            </td>
        </tr>
        <tr>
            <th>
                Sheina Marie G. Gacho
            </th>
            <td>
                Population Program Officer I – Oton
            </td>
        </tr>
        <tr>
            <th>
                Elah Dar Elijah Sandig
            </th>
            <td>
                Population Program Officer I – San Joaquin
            </td>
        </tr>
        <tr>
            <th>
                Lenny C. Somblingo
            </th>
            <td>
                Population Program Officer I – Tigbauan
            </td>
        </tr>
        <tr>
            <th>
                Edgar Voltaire T. Garcia
            </th>
            <td>
                Population Program Officer I – Tubungan
            </td>
        </tr>
        <tr>
            <th>
                District II
            </th>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                Ma. Mininia S. Naranja
            </th>
            <td>
                Population Program Officer II
            </td>
        </tr>
        <tr>
            <th>
                April Kate K. Amada
            </th>
            <td>
                Population Program Officer I – Alimodian
            </td>
        </tr>
        <tr>
            <th>
                Barry T. Basiya
            </th>
            <td>
                Population Program Officer I – Leganes
            </td>
        </tr>
        <tr>
            <th>
                Mary Ann E. Cambalo
            </th>
            <td>
                Population Program Officer I – Leon
            </td>
        </tr>
        <tr>
            <th>
                Ma. Simar P. Simora
            </th>
            <td>
                Population Program Officer I – New Lucena
            </td>
        </tr>
        <tr>
            <th>
                May M. Robles
            </th>
            <td>
                Population Program Officer I – Pavia
            </td>
        </tr>
        <tr>
            <th>
                Ruth A. Lujan
            </th>
            <td>
                Population Program Officer I – San Miguel
            </td>
        </tr>
        <tr>
            <th>
                Eve Chacel S. Mondeja
            </th>
            <td>
                Population Program Officer I – Sta. Barbara
            </td>
        </tr>
        <tr>
            <th>
                Hazel P. Defensor
            </th>
            <td>
                Population Program Officer I – Zarraga
            </td>
        </tr>
        <tr>
            <th>
                District III
            </th>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                PreciosaGallaron
            </th>
            <td>
                Population Program Officer II, Population Program Officer I – Janiuay
            </td>
        </tr>
        <tr>
            <th>
                Lilibeth M. Cachite
            </th>
            <td>
                Population Program Officer I – Bingawan
            </td>
        </tr>
        <tr>
            <th>
                Shiela Mae C. Tuares
            </th>
            <td>
                Population Program Officer I – Cabatuan
            </td>
        </tr>
        <tr>
            <th>
                Chona Lynn C. Contreras
            </th>
            <td>
                Population Program Officer I – Calinog
            </td>
        </tr>
        <tr>
            <th>
                Concepcion E. Gerardino
            </th>
            <td>
                Population Program Officer I – Lambunao
            </td>
        </tr>
        <tr>
            <th>
                Richard S. Magullado
            </th>
            <td>
                Population Program Officer I – Maasin
            </td>
        </tr>
        <tr>
            <th>
                Richard S. Magullado
            </th>
            <td>
                Population Program Officer I – Maasin
            </td>
        </tr>
        <tr>
            <th>
                Jera Mae L. Alojado
            </th>
            <td>
                Population Program Officer I – Mina
            </td>
        </tr>
        <tr>
            <th>
                Genalyn P. Villa
            </th>
            <td>
                Population Program Officer I – Pototan
            </td>
        </tr>
        <tr>
            <th>
                District IV
            </th>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                Rhea L. Decasa
            </th>
            <td>
                Population Program Officer II
            </td>
        </tr>
        <tr>
            <th>
                Ma. Sherrybel P. Decastillo
            </th>
            <td>
                Population Program Officer I – Anilao
            </td>
        </tr>
        <tr>
            <th>
                Ma. Airis S. Penetrante
            </th>
            <td>
                Population Program Officer I – Banate
            </td>
        </tr>
        <tr>
            <th>
                Chalea D. Cabayao
            </th>
            <td>
                Population Program Officer I – Dingle
            </td>
        </tr>
        <tr>
            <th>
                Jemar Harold G. Jison
            </th>
            <td>
                Population Program Officer I – Dueñas
            </td>
        </tr>
        <tr>
            <th>
                Reajean Diaz
            </th>
            <td>
                Population Program Officer I – Dumangas
            </td>
        </tr>
        <tr>
            <th>
                Helen C. Casama
            </th>
            <td>
                Population Program Officer I – San Enrique
            </td>
        </tr>
        <tr>
            <th>
                Reajean Diaz
            </th>
            <td>
                Population Program Officer I – Dumangas
            </td>
        </tr>


    </table>



</div>