<app-home>
</app-home>
<div class="wrapper">
    <div class="animated fadeInLeftBig">
        <br><br><br><br>
        <h2>PERSONNEL DIRECTORY</h2>
        <hr>
        <br>
        <h5>PROVINCIAL POPULATION OFFICE</h5>
        <table class="table">
            <tr>
                <th>Ramon C. Yee, MPG</th>
                <td>Provincial Population Officer ppo@iloilo.gov.ph, (033) 509-5081
                </td>
            </tr>
        </table>
        <br>
        <h5>ADMINISTRATIVE DIVISION</h5>
        <table class="table">
            <tr>
                <th>Ma. Hayde P. Padilla</th>
                <td>OIC - Administrative Division (insert contact details)
                </td>
            </tr>
            <tr>
                <th>Gilda M. Borja</th>
                <td>OIC - Records Section, Administrative Assistant I</td>
            </tr>
            <tr>
                <th>
                    Lynde Q. Dadivas
                </th>
                <td>
                    OIC - Administrative Division (insert contact details)
                </td>
            </tr>
            <tr>
                <th>
                    Carlos N. Alli
                </th>
                <td>
                    Administrative Aide V
                </td>
            </tr>
            <tr>
                <th>
                    Melody T. Gomez
                </th>
                <td>
                    Administrative Aide VI
                </td>
            </tr>
            <tr>
                <th>
                    Rufino P. Sancho
                </th>
                <td>
                    Driver II (detailed)
                </td>
            </tr>
            <tr>
                <th>
                    Reygen P. Adelantar
                </th>
                <td>
                    Administrative Aide I (detailed)
                </td>
            </tr>
        </table>
        <br>
        <h5>TRAINING AND RESEARCH DIVISION</h5>
        <table class="table">
            <tr>
                <th>
                    Shiela Mae C. Tuares
                </th>
                <td>
                    OIC – Training and Research Division
                </td>
            </tr>
            <tr>
                <th>
                    Ma. Hayde P. Padilla
                </th>
                <td>
                    Statistician II
                </td>
            </tr>
            <tr>
                <th>
                    Jessa P. Salido
                </th>
                <td>
                    Population Program Officer I
                </td>
            </tr>
        </table>
        <br>
        <h5>FIELD OPERATIONS DIVISION</h5>
        <table class="table">
            <tr>
                <th>
                    District I
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Janel T. Tejida
                </th>
                <td>
                    Population Program Officer II
                </td>
            </tr>
            <tr>
                <th>
                    Pete Mhee G. Grajales
                </th>
                <td>
                    Population Program Officer I – Guimba
                </td>
            </tr>
            <tr>
                <th>
                    John Niño T. Escorpion
                </th>
                <td>
                    Population Program Officer I – Igbaras
                </td>
            </tr>
            <tr>
                <th>
                    Eireen P. Digcabo-on
                </th>
                <td>
                    Population Program Officer I – Miag-ao
                </td>
            </tr>
            <tr>
                <th>
                    Sheina Marie G. Gacho
                </th>
                <td>
                    Population Program Officer I – Oton
                </td>
            </tr>
            <tr>
                <th>
                    Elah Dar Elijah Sandig
                </th>
                <td>
                    Population Program Officer I – San Joaquin
                </td>
            </tr>
            <tr>
                <th>
                    Lenny C. Somblingo
                </th>
                <td>
                    Population Program Officer I – Tigbauan
                </td>
            </tr>
            <tr>
                <th>
                    Edgar Voltaire T. Garcia
                </th>
                <td>
                    Population Program Officer I – Tubungan
                </td>
            </tr>
            <tr>
                <th>
                    District II
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Ma. Mininia S. Naranja
                </th>
                <td>
                    Population Program Officer II
                </td>
            </tr>
            <tr>
                <th>
                    April Kate K. Amada
                </th>
                <td>
                    Population Program Officer I – Alimodian
                </td>
            </tr>
            <tr>
                <th>
                    Barry T. Basiya
                </th>
                <td>
                    Population Program Officer I – Leganes
                </td>
            </tr>
            <tr>
                <th>
                    Mary Ann E. Cambalo
                </th>
                <td>
                    Population Program Officer I – Leon
                </td>
            </tr>
            <tr>
                <th>
                    Ma. Simar P. Simora
                </th>
                <td>
                    Population Program Officer I – New Lucena
                </td>
            </tr>
            <tr>
                <th>
                    May M. Robles
                </th>
                <td>
                    Population Program Officer I – Pavia
                </td>
            </tr>
            <tr>
                <th>
                    Ruth A. Lujan
                </th>
                <td>
                    Population Program Officer I – San Miguel
                </td>
            </tr>
            <tr>
                <th>
                    Eve Chacel S. Mondeja
                </th>
                <td>
                    Population Program Officer I – Sta. Barbara
                </td>
            </tr>
            <tr>
                <th>
                    Hazel P. Defensor
                </th>
                <td>
                    Population Program Officer I – Zarraga
                </td>
            </tr>
            <tr>
                <th>
                    District III
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    PreciosaGallaron
                </th>
                <td>
                    Population Program Officer II, Population Program Officer I – Janiuay
                </td>
            </tr>
            <tr>
                <th>
                    Lilibeth M. Cachite
                </th>
                <td>
                    Population Program Officer I – Bingawan
                </td>
            </tr>
            <tr>
                <th>
                    Shiela Mae C. Tuares
                </th>
                <td>
                    Population Program Officer I – Cabatuan
                </td>
            </tr>
            <tr>
                <th>
                    Chona Lynn C. Contreras
                </th>
                <td>
                    Population Program Officer I – Calinog
                </td>
            </tr>
            <tr>
                <th>
                    Concepcion E. Gerardino
                </th>
                <td>
                    Population Program Officer I – Lambunao
                </td>
            </tr>
            <tr>
                <th>
                    Richard S. Magullado
                </th>
                <td>
                    Population Program Officer I – Maasin
                </td>
            </tr>
            <tr>
                <th>
                    Richard S. Magullado
                </th>
                <td>
                    Population Program Officer I – Maasin
                </td>
            </tr>
            <tr>
                <th>
                    Jera Mae L. Alojado
                </th>
                <td>
                    Population Program Officer I – Mina
                </td>
            </tr>
            <tr>
                <th>
                    Genalyn P. Villa
                </th>
                <td>
                    Population Program Officer I – Pototan
                </td>
            </tr>
            <tr>
                <th>
                    District IV
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Rhea L. Decasa
                </th>
                <td>
                    Population Program Officer II
                </td>
            </tr>
            <tr>
                <th>
                    Ma. Sherrybel P. Decastillo
                </th>
                <td>
                    Population Program Officer I – Anilao
                </td>
            </tr>
            <tr>
                <th>
                    Ma. Airis S. Penetrante
                </th>
                <td>
                    Population Program Officer I – Banate
                </td>
            </tr>
            <tr>
                <th>
                    Chalea D. Cabayao
                </th>
                <td>
                    Population Program Officer I – Dingle
                </td>
            </tr>
            <tr>
                <th>
                    Jemar Harold G. Jison
                </th>
                <td>
                    Population Program Officer I – Dueñas
                </td>
            </tr>
            <tr>
                <th>
                    Reajean Diaz
                </th>
                <td>
                    Population Program Officer I – Dumangas
                </td>
            </tr>
            <tr>
                <th>
                    Helen C. Casama
                </th>
                <td>
                    Population Program Officer I – San Enrique
                </td>
            </tr>
            <tr>
                <th>
                    District V
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Rose Grace January V. Azucena
                </th>
                <td>
                    Population Program Officer II
                </td>
            </tr>
            <tr>
                <th>
                    Mary Ann M. Dignadice
                </th>
                <td>
                    Population Program Officer I – Ajuy
                </td>
            </tr>
            <tr>
                <th>
                    Joyce B. Miane
                </th>
                <td>
                    Population Program Officer I – Balasan
                </td>
            </tr>
            <tr>
                <th>
                    Queenie Lou E. Baban
                </th>
                <td>
                    Population Program Officer I – Barotac Viejo
                </td>
            </tr>
            <tr>
                <th>
                    John Gilbert M. Rubias
                </th>
                <td>
                    Population Program Officer I – Batad
                </td>
            </tr>
            <tr>
                <th>
                    Verjie C. Dela Cruz
                </th>
                <td>
                    Population Program Officer I – Carles
                </td>
            </tr>
            <tr>
                <th>
                    Mary Nel P. Franco
                </th>
                <td>
                    Population Program Officer I – Concepcion
                </td>
            </tr>
            <tr>
                <th>
                    Bernadine Adaniel
                </th>
                <td>
                    Population Program Officer I – Estancia
                </td>
            </tr>
            <tr>
                <th>
                    Roselo S. Porras
                </th>
                <td>
                    Population Program Officer I – Lemery
                </td>
            </tr>
            <tr>
                <th>
                    Ria B. Figura
                </th>
                <td>
                    Population Program Officer I – San Dionisio
                </td>
            </tr>
            <tr>
                <th>
                    Lynnie B. Jemena
                </th>
                <td>
                    Population Program Officer I – San Rafael
                </td>
            </tr>
            <tr>
                <th>
                    Jayson A. Esteba
                </th>
                <td>
                    Population Program Officer I – Sara
                </td>
            </tr>
        </table>
        <br>
        <h5>Association of Population Volunteer Workers-Iloilo, Inc</h5>
        <p>Province of Iloilo</p>
        <table class="table">
            <tr>
                <th>
                    President
                </th>
                <td>
                    Margarita R. Lacerna
                </td>
            </tr>
            <tr>
                <th>
                    Vice President
                </th>
                <td>
                    Anecia Parcon
                </td>
            </tr>
            <tr>
                <th>
                    Secretary
                </th>
                <td>
                    Rose Mary Galvan
                </td>
            </tr>
            <tr>
                <th>
                    Treasurer
                </th>
                <td>
                    Rovema Palma
                </td>
            </tr>
            <tr>
                <th>
                    Asst. Treasurer
                </th>
                <td>
                    Vacant
                </td>
            </tr>
            <tr>
                <th>
                    Auditor
                </th>
                <td>
                    Nelly Ausan
                </td>
            </tr>
            <tr>
                <th>
                    P.R.O.
                </th>
                <td>
                    Catherine Pamulag
                </td>
            </tr>
            <tr>
                <th>
                    Board of Directors
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    District I
                </th>
                <td>
                    Francisca Tanallon
                </td>
            </tr>
            <tr>
                <th>
                    District II
                </th>
                <td>
                    LidaCanaman
                </td>
            </tr>
            <tr>
                <th>
                    District III
                </th>
                <td>
                    Mary Ann Lelis
                </td>
            </tr>
            <tr>
                <th>
                    District IV
                </th>
                <td>
                    Sonia Corbadora
                </td>
            </tr>
            <tr>
                <th>
                    District V
                </th>
                <td>
                    Eva Aposaga
                </td>
            </tr>
        </table>
        <br>
        <h5>BARANGAY SERVICE POINT OFFICERS (BSPOs)</h5>
        <p>Municipal Federation Presidents</p>
        <table class="table">
            <tr>
                <th>
                    DISTRICT I
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Guimbal
                </th>
                <td>
                    ResureccionGegrimal
                </td>
            </tr>
            <tr>
                <th>
                    Igbaras
                </th>
                <td>
                    Ma. Corazon Macalalag
                </td>
            </tr>
            <tr>
                <th>
                    Miag-ao
                </th>
                <td>
                    Rose Mary Galvan
                </td>
            </tr>
            <tr>
                <th>
                    Oton
                </th>
                <td>
                    Renato Dalida
                </td>
            </tr>
            <tr>
                <th>
                    San Joaquin
                </th>
                <td>
                    Rita Francisco
                </td>
            </tr>
            <tr>
                <th>
                    Tigbauan
                </th>
                <td>
                    LilibethTantiado
                </td>
            </tr>
            <tr>
                <th>
                    Tubungan
                </th>
                <td>
                    Francisca Tanallon
                </td>
            </tr>
            <tr>
                <th>
                    DISTRICT II
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Alimodian
                </th>
                <td>
                    LidaCanaman
                </td>
            </tr>
            <tr>
                <th>
                    Leganes
                </th>
                <td>
                    MaximiniGumayan, Jr.
                </td>
            </tr>
            <tr>
                <th>
                    Leon
                </th>
                <td>
                    Daisy C. Camacho
                </td>
            </tr>
            <tr>
                <th>
                    New Lucena
                </th>
                <td>
                    Elizabeth Sindol
                </td>
            </tr>
            <tr>
                <th>
                    Pavia
                </th>
                <td>
                    Ma. Rosanna Bugna
                </td>
            </tr>
            <tr>
                <th>
                    San Miguel
                </th>
                <td>
                    Gloria Salcedo
                </td>
            </tr>
            <tr>
                <th>
                    Sta. Barbara
                </th>
                <td>
                    LuzmindaSolas
                </td>
            </tr>
            <tr>
                <th>
                    Zarraga
                </th>
                <td>
                    ErdelindaDefensor
                </td>
            </tr>
            <tr>
                <th>
                    DISTRICT III
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Badiangan
                </th>
                <td>
                    Arlene A. Arenga
                </td>
            </tr>
            <tr>
                <th>
                    Bingawan
                </th>
                <td>
                    Ma. ZenaidaLensig
                </td>
            </tr>
            <tr>
                <th>
                    Cabatuan
                </th>
                <td>
                    LinieCañasare
                </td>
            </tr>
            <tr>
                <th>
                    Calinog
                </th>
                <td>
                    Catherine P. Pamulag
                </td>
            </tr>
            <tr>
                <th>
                    Janiuay
                </th>
                <td>
                    GeneleneBaldia
                </td>
            </tr>
            <tr>
                <th>
                    Lambunao
                </th>
                <td>
                    April Rose Carman
                </td>
            </tr>
            <tr>
                <th>
                    Maasin
                </th>
                <td>
                    Margarita Lacerna
                </td>
            </tr>
            <tr>
                <th>
                    Mina
                </th>
                <td>
                    Mary Ann Lelis
                </td>
            </tr>
            <tr>
                <th>
                    Pototan
                </th>
                <td>
                    Ronnie C. Boluai
                </td>
            </tr>
            <tr>
                <th>
                    DISTRICT IV
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Anilao
                </th>
                <td>
                    Ernie Desa
                </td>
            </tr>
            <tr>
                <th>
                    Banate
                </th>
                <td>
                    Mina Bacabac
                </td>
            </tr>
            <tr>
                <th>
                    Barotac Nuevo
                </th>
                <td>
                    Sonia Carbadura
                </td>
            </tr>
            <tr>
                <th>
                    Dingle
                </th>
                <td>
                    Merlyn Figueroa
                </td>
            </tr>
            <tr>
                <th>
                    Dueñas
                </th>
                <td>
                    ConsolacionLaguartilla
                </td>
            </tr>
            <tr>
                <th>
                    Dumangas
                </th>
                <td>
                    Rose Marie D. Ombao
                </td>
            </tr>
            <tr>
                <th>
                    San Enrique
                </th>
                <td>
                    Melende Padilla
                </td>
            </tr>
            <tr>
                <th>
                    Passi City
                </th>
                <td>
                    Rovema A. Palma
                </td>
            </tr>
            <tr>
                <th>
                    DISTRICT V
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    Ajuy
                </th>
                <td>
                    Remedios Villanueva
                </td>
            </tr>
            <tr>
                <th>
                    Balasan
                </th>
                <td>
                    Rebecca V. Veloso
                </td>
            </tr>
            <tr>
                <th>
                    Barotac Viejo
                </th>
                <td>
                    Merlyn Barreto
                </td>
            </tr>
            <tr>
                <th>
                    Batad
                </th>
                <td>
                    Lucile Cordero
                </td>
            </tr>
            <tr>
                <th>
                    Carles
                </th>
                <td>
                    Liza D. Medina
                </td>
            </tr>
            <tr>
                <th>
                    Concepcion
                </th>
                <td>
                    Estela Valeriano
                </td>
            </tr>
            <tr>
                <th>
                    Estancia
                </th>
                <td>
                    Nelly C. Ausan
                </td>
            </tr>
            <tr>
                <th>
                    Lemery
                </th>
                <td>
                    Eva Aposaga
                </td>
            </tr>
            <tr>
                <th>
                    San Dionisio
                </th>
                <td>
                    Roy Blancaflor
                </td>
            </tr>
            <tr>
                <th>
                    San Rafael
                </th>
                <td>
                    Liezyl Abarro
                </td>
            </tr>
            <tr>
                <th>
                    Sara
                </th>
                <td>
                    Anecia Parcon
                </td>
            </tr>
        </table>

    </div>



</div>