<app-home *ngIf="isUser"></app-home>


<div class="birth-stat-component">
    <div class="front col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title d-flex" style="align-items: center;">
                    <p> Province of Iloilo(MIGRATION)</p>
                </h5>
            </div>
            <div class="card-body">
                <div class="container row " style="margin-left: 0px;">
                    <div class="col-md-12 d-flex">
                        <div style="flex: 1;text-align: center;">
                            <p>Total In Migrations</p>
                            <br>
                            <h1 class="text-primary">{{summary.total_in_migrations || 0}}</h1>
                        </div>
                        <div style="flex: 1;text-align: center;">
                            <p>Total Out Migrations</p>
                            <br>
                            <h1 class="text-primary">{{summary.total_out_migrations || 0}}</h1>
                        </div>
                        <div style="flex: 1;text-align: center;">
                            <p>Net Migrations</p>
                            <br>
                            <h1 class="text-primary">{{summary.net_migrations || 0}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="nav1 ">
                    <Municipality></Municipality>
                    <Barangay></Barangay>
                    <Years></Years>
                    <button (click)="fetchData()" class="btn btn-sm btn-primary rounded">Show Data</button>
                    <a (click)="addData = true" class="btn btn-sm btn-primary rounded" style="opacity: .9;" [href]="'https://www.google.com/maps/place/' + getDataParams.municipality + '+' + getDataParams.barangay + ',+Iloilo'" target="_blank">Show Map</a>
                    <button (click)="hasData = false; hasSelectedData = false" *ngIf="hasData && !isUser" class="btn btn-sm btn-primary rounded" style="opacity: .8;">  Add Migration Statistics Data</button>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="!hasData">
            <div class="card-header">
                <h5 class="card-title">Add Birth Statistics Data</h5>
            </div>
            <div class="card-body">
                <div class="filters">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="municipality">
                            <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Municipality
                        </label>
                            <select (load)="getBarangays($event)" (change)="getBarangays($event)" type="text" class="form-control">                       
                            <option  *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                        </select>
                        </div>
                        <div class="col-md-4">
                            <label for="barangay">
                            <div *ngIf="barangayIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Barangay</label>
                            <select [(ngModel)]="data.barangay" type="text" class="form-control">                       
                            <option *ngFor="let barangay of barangays" [value]="barangay.name">{{ barangay.name }}</option>
                        </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Select Year</label>
                            <select [(ngModel)]="data.year" type="text" class="form-control">                       
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Total In Migration</label>
                            <input [(ngModel)]="data.total_in_migrations" type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="">Total Out Migration</label>
                            <input [(ngModel)]="data.total_out_migrations" type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="">Total Net Migration</label>
                            <input [(ngModel)]="data.net_migrations" type="text" class="form-control">
                        </div>
                    </div><br><br>
                    <div style="display:flex;align-items: center;justify-content: center;">
                        <button (click)="save()" class="btn btn-primary">Save</button>
                        <button (click)="hasData = true; hasSelectedData = true" class="btn btn-dark">Cancel</button>

                    </div>
                </div><br>
            </div>
        </div>

        <div *ngIf="hasData" class="hasData">

            <p *ngIf="migrationStatistics == null" style="text-align: center;">No data to show....</p>
            <div *ngIf="hasSelectedData && migrationStatistics != null" class="showAfterFilter container">
                <div class="chart" *ngIf="!editChartData">
                    <canvas baseChart [datasets]="MONTHbarChartData" [labels]="MONTHbarChartLabels" [options]="MONTHbarChartOptions" [legend]="MONTHbarChartLegend" [chartType]="MONTHbarChartType">
                    </canvas>
                </div>
                <div style="display: flex;align-items: center;justify-content: center;">
                    <button (click)="editChartData = true" *ngIf="!editChartData && !isUser" class="btn btn-primary">Edit Chart Data</button>
                </div>
                <div *ngIf="editChartData" class="card">
                    <div class="card-header">
                        <h5 class="card-title">Edit Chart Data</h5>
                    </div>
                    <div class="card-body row">
                        <div *ngIf="editChartData" class="flex-container d-flex col-md-12" style="align-items: center;justify-content: center;">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input (change)="check('female')" [checked]="checked.female" type="checkbox" class="custom-control-input" id="defaultInline2">
                                <label class="custom-control-label" for="defaultInline2">Female</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input (change)="check('male')" [checked]="checked.male" type="checkbox" class="custom-control-input" id="defaultInline1">
                                <label class="custom-control-label" for="defaultInline1">Male</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="January">January</label>
                            <input [(ngModel)]="data[getChecked()].January" type="text" class="form-control" id="January">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="February">February</label>
                            <input [(ngModel)]="data[getChecked()].February" type="text" class="form-control" id="February">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="March">March</label>
                            <input [(ngModel)]="data[getChecked()].March" type="text" class="form-control" id="March">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="April">April</label>
                            <input [(ngModel)]="data[getChecked()].April" type="text" class="form-control" id="April">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="May">May</label>
                            <input [(ngModel)]="data[getChecked()].May" type="text" class="form-control" id="May">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="June">June</label>
                            <input [(ngModel)]="data[getChecked()].June" type="text" class="form-control" id="June">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="July">July</label>
                            <input [(ngModel)]="data[getChecked()].July" type="text" class="form-control" id="July">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="August">August</label>
                            <input [(ngModel)]="data[getChecked()].August" type="text" class="form-control" id="August">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="September">Sep[getChecked()]mber</label>
                            <input [(ngModel)]="data[getChecked()].September" type="text" class="form-control" id="September">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="October">October</label>
                            <input [(ngModel)]="data[getChecked()].October" type="text" class="form-control" id="October">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="November">November</label>
                            <input [(ngModel)]="data[getChecked()].November" type="text" class="form-control" id="November">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="December">December</label>
                            <input [(ngModel)]="data[getChecked()].December" type="text" class="form-control" id="December">
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex;align-items: center;justify-content: center;padding-left: 20px;">
                                <button (click)="updateChart()" class="btn btn-primary">Save</button> &nbsp;
                                <button (click)="editChartData = false" *ngIf="editChartData" class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div style="padding-left: 20px;">
                    <br><br>
                    <div>
                        <p style="display: flex;" class="center"><span style="margin-left: auto;font-weight: 900;text-align: center;">TOTAL POPULATION</span>
                            <span [class.unclicable]="isUser" style="margin-left: auto;opacity: 0;pointer-events: none;" class=" btn-sm">
                                                                  <i class="bi bi-pencil"></i>

                            </span>
                        </p>
                        <h1 class="center text-primary">{{popTtotal || 0}}</h1>
                    </div>

                    <br>
                    <div *ngIf="!inMigrations">
                        <p style="display: flex;" class="center"><span style="margin-left: auto;font-weight: 900;text-align: center;">IN MIGRATIONS</span>
                            <span style="margin-left: auto;cursor: pointer;" *ngIf="!inMigrations" [class.unclicable]="isUser" (click)="inMigrations = true" class=" btn-sm">
                                                                <i class="bi bi-pencil"></i>

                            </span>
                        </p>
                        <h1 class="center text-primary">{{migrationStatistics.total_in_migrations || 0}}</h1>
                    </div>
                    <div *ngIf="inMigrations" class="row flex-container">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px;" for="Total Deaths">In Migrations</label>
                            <input style="margin-left: 30px;" [(ngModel)]="migrationStatistics.total_in_migrations" type="text" class="form-control" id="Total Deaths">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <div class=" flex-container">
                                <button (click)="update()" class="clickable">
                                    <i class="fa fa-check text-success"></i>
                                </button> &nbsp;
                                <button (click)="inMigrations = false" class="clickable">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="!outMigration">
                        <p style="display: flex;" class="center"><span style="margin-left: auto;font-weight: 900;text-align: center;">OUT MIGRATIONS</span>
                            <span style="margin-left: auto;cursor: pointer;" *ngIf="!outMigration" [class.unclicable]="isUser" (click)="outMigration = true" class=" btn-sm">
                                <i class="bi bi-pencil"></i>
                         </span>
                        </p>
                        <h1 class="center text-primary">{{migrationStatistics.total_out_migrations || 0}}</h1>
                    </div>
                    <div *ngIf="outMigration" class="row flex-container">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px;" for="Total Deaths">Out Migrations</label>
                            <input style="margin-left: 30px;" [(ngModel)]="migrationStatistics.total_out_migrations" type="text" class="form-control" id="Total Deaths">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <div class=" flex-container">
                                <button (click)="update()" class="clickable">
                                    <i class="fa fa-check text-success"></i>
                                </button> &nbsp;
                                <button (click)="outMigration = false" class="clickable">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="!netMigration">
                        <p style="display: flex;" class="center"><span style="margin-left: auto;font-weight: 900;text-align: center;">NET MIGRATIONS</span>
                            <span [class.unclicable]="!isUser" style="margin-left: auto;cursor: pointer;" *ngIf="!netMigration" [class.unclicable]="isUser" (click)="netMigration = true" class=" btn-sm">
                                <i class="bi bi-pencil"></i>
                            </span>
                        </p>
                        <h1 class="center text-primary">{{migrationStatistics.net_migrations || 0}}</h1>
                    </div>
                    <div *ngIf="netMigration" class="row flex-container">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 900;text-align: center !important;width: 100%;margin-left: 25px;" for="Total Deaths">Net Migrations</label>
                            <input style="margin-left: 30px;" [(ngModel)]="migrationStatistics.net_migrations" type="text" class="form-control" id="Total Deaths">
                        </div>
                        <div class="flex-container" style="margin-left: 30px;margin-top:10px">
                            <div class=" flex-container">
                                <button (click)="update()" class="clickable">
                                    <i class="fa fa-check text-success"></i>
                                </button> &nbsp;
                                <button (click)="netMigration = false" class="clickable">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="chart" *ngIf="!migrationData">
                        <canvas baseChart [datasets]="MIGRATIONbarChartData " [labels]="MIGRATIONChartLabels " [options]="MIGRATIONbarChartOptions " [legend]="MIGRATIONbarChartLegend " [chartType]="MIGRATIONbarChartType ">
                       </canvas>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="front col-md-4">
        <app-provincial-officials *ngIf="!hasBarangaysAndMunicipalities"></app-provincial-officials>
        <app-sb-members *ngIf="!hasBarangaysAndMunicipalities"></app-sb-members>
        <municipality-officials *ngIf="hasBarangaysAndMunicipalities"></municipality-officials>
        <br>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">TECHNICAL NOTES</h5>
            </div>
            <div class="card-body">
                <p><span class="fw-bold ">Migration</span> - tmovement of people form one place to another with the purpose of establishing a new residence</p>

                <p><span class="fw-bold ">In-migration Rate</span> - the number of migrants arriving at a destination per 1000 population at that destination in a given year</p>

                <p><span class="fw-bold ">Out-migration Rate</span> - the number of migrants departing from an area of origin per 1000 population at that area of origin in a given year</p>

                <p><span class="fw-bold ">Net Migration Rate</span> -the net effect of in-migration and out-migration on an area’s population, expressed as increase or decrease per 1000 population of the area in a given year</p>
            </div>
        </div>

    </div>
</div>