<app-create *ngIf="pinLogin == true"></app-create>

<app-mobile-authentication></app-mobile-authentication>

<div *ngIf="isLoading == true" class="loader"></div>

<div class="sign-in-container">
    <img class="overlay-bg" src="../../../assets//home/2.jpg" />

    <div class="sign-in-panel">
        <div>
            <div class="overlay1"></div>
        </div>
        <div class="row">
            <div class="col-md-5 right animated zoomInRight fast">

                <h2 class="" style="font-weight: 900;color:#0B4FAC">Iloilo Provincial Population Office</h2>
                <p style="color:gray">Login with your username and password given by the administrator</p>
                <br>
                <br>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input (keyup.enter)="login()" [(ngModel)]="account.username" type="search" id="username" class="form-control" />
                    <br>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input (keyup.enter)="login()" [(ngModel)]="account.password" type="password" id="password" class="form-control" />
                </div>
                <br>

                <button [disabled]="isLoading" class="btn btn-primary" (click)="login()">
                    <div *ngIf="isLoading" class="spinner-border text-light spinner-border-sm fast"role="status"          >
                        <span class="sr-only">Loading...</span>
                    </div>
                    &nbsp;
                    <span style="color: white">
                        {{  isLoading ? "Logging in..." : "Login"}}
                    </span>
                </button>

                <p (click)="loginWithPin()" style="text-align: center;">Forgot Password? I will use pin instead</p>

            </div>
            <div class="col-md-7 left">
                <img class="animated zoomIn fast" src="../../../assets//home/1.jpg" />
            </div>
        </div>
    </div>
</div>