.list-group-item {
    background: var(--bg);
}

.filedrop,
.ngx-file-drop__drop-zone {
    height: 100px;
    margin: auto;
    border: 2px dashed gray !important;
    border-radius: 0px !important;
}

.ngx-pagination {
    margin-left: -50px !important;
}

.ngx-pagination .current {
    background: var(--contrast) !important;
    * {
        color: white !important;
    }
}

.headline {
    font-weight: 800;
    margin-left: 40px;
}

owl-carousel-o img,
video {
    min-width: 100%;
    object-fit: fill;
    background-position: center;
    background-size: 100% 100%;
    max-width: initial;
    background-repeat: no-repeat;
}

.ag-table-col .ag-table-filter-input,
.ag-table-col .ag-table-filter-select {
    box-shadow: none !important;
    height: calc(1.5em + .75rem + 2px);
}

.ag-header-cell-text {
    color: var(--contrast) !important;
    font-weight: bold !important;
    line-height: 1.34;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Raleway;
}

ag-table-cell {
    color: var(--colorPrimary) !important;
}

tbody tr td,
thead tr th {
    border-bottom: 1px solid rgba(150, 150, 150, .3) !important;
}

html {
    min-height: 100%;
    background: var(--bg);
    overflow-y: scroll !important;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    background: var(--bg1);
    padding-right: none !important;
}

tbody tr:hover,
.ag-table-body .ag-table-row:hover {
    outline: px solid #149ef8 !important;
    box-shadow: inset 0px 0px 5px #149ef8;
    border-radius: 4px;
}

select:focus {
    outline: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 20px;
}

.ag-text-field-input {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    color: var(--bg) !important;
    color: var(--colorPrimary) !important;
    margin-top: 10px;
}

.form-control,
.custom-select,
.form-control:focus,
.custom-select:focus {
    color: var(--colorPrimary) !important;
}

select,
select:selected {
    color: var(--colorPrimary);
}

.secondary {
    color: var(--colorSecondary);
}

.sub-heading {
    font-size: 16px;
}

body {
    font-size: 14px;
}

input,
select,
textarea {
    background: var(--bg) !important;
    border: 1px solid rgba(150, 150, 150, .4) !important;
}

h1 {
    font-size: 52px !important;
}

* {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    direction: ltr;
    line-height: 1.34;
    color: var(--colorPrimary);
}

label {
    text-transform: uppercase !important;
    font-size: 12px;
}

.form-control:focus,
.custom-select:focus {
    border-color: #149ef8 !important;
}



.clickable {
    padding: 7px 12px;
    background: none;
    color: var(--colorPrimary);
    border: none white !important;
    box-shadow: none !important;
    cursor: pointer;
}

input {
    text-rendering: auto;
    color: var(--colorPrimary);
    padding: 5px 20px;
    font-weight: 400;
    font-stretch: normal;
    border-width: 2px;
    border-style: inset;
}

select:selected {
    color: var(--colorPrimary);
}

.search {
    border-radius: 30px;
    background: var(var(--inputBg));
    padding: 5px 40px;
}

button:focus,
div:focus {
    outline: 0 !important;
}

.loader {
    width: 70%;
    height: 3px;
    background: #149ef8;
    animation: loader 1s linear infinite;
    margin-top: -10px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: var(--contrast) !important;
    opacity: .7 !important;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: white !important;
    left: 20px;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    background: var(--bg) !important;
}

.pop2 {
    text-align: center;
    color: var(--colorPrimary);
    width: 100%;
    font-weight: 500 !important;
    font-size: 1rem !important;
    background-color: var(--bg);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border-bottom: 1px solid rgba(150, 150, 150, .1);
    padding: 7px;
    z-index: 9;
    background-color: var(--bg);
}

.card {
    background-color: var(--bg);
}

.rounded {
    * {
        color: white !important;
        fill: white !important;
    }
}

.unclicable {
    visibility: hidden;
    pointer-events: none;
}
.btn{
    margin:.5rem
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: var(--bg) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    .bi,
    i {
        font-size: 30px;
        color: var(--colorPrimary);
        transform: translate(0px, -2px);
    }
    
    .card-header{
        background: var(--bg) !important;
        background-color: var(--bg) !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(150,150,150,.1);
    }
}