<br>

<div class="d-flex align-items-center justify-content-center " style="flex-direction: column;">
    <div>
        <h2>Age Distribution and Age Dependency Ratio by Municipality</h2>

        <table class="table table-striped table-responsive w-100">
            <thead>
                <tr>
                    <th>Municiplality</th>
                    <th>HH Population</th>
                    <th>0-14</th>
                    <th>15-64</th>
                    <th>65 and Over</th>
                    <th>Young Dependency</th>
                    <th>Old Dependency</th>
                    <th>Dependency</th>
                </tr>
            </thead>
            <tbody>
                <td>Ajuy</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tbody>
        </table>
        <br>
        <br>
    </div>
    <div class="tech-notes">
        <h3 style="font-weight: 700;">TECHNICAL NOTES</h3>
        <br>
        <p><span>Age Dependency Ratio</span>- ratio of persons in the dependent ages to those in the econimacally productiove ages (15-64) in a population</p>
        <br>
        <p><span>Young Age Dependency Ration</span>- ratio of persons in the young dependent ages (0-14) to those in the econimacally productiove ages in a population</p>
        <br>
        <p><span>Old Age Dependency Ration</span>- ratio of persons in the old dependent ages (65 and over) to those in the econimacally productive ages (15-64) in a population</p>
    </div>
</div>