<div class="container cpdb-component">

    <br>
    <div class="inputs">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sorting-number">Sorting Number</label>
                <input type="number" [(ngModel)]="field.sorting_number" class="form-control" id="sorting-number" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="municipality">Municipality</label>
                <select class="custom-select" [(ngModel)]="field.municipality" id="municipality" required>
                    <option selected disabled >Choose...</option>                   
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="barangay">Barangay</label>
                <select class="custom-select" id="barangay" [(ngModel)]="field.barangay" required>
                    <option selected disabled >Choose...</option>
                    <option>...</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="zone">Purok or Zone</label>
                <input [(ngModel)]="field.zone" class="custom-select" id="zone" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Householdnum">Household Number</label>
                <input [(ngModel)]="field.household_number" class="custom-select" id="Householdnum" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="Characterisitcs">Household Characterisitcs</label>
                <input [(ngModel)]="field.household_characteristics" class="custom-select" id="Characterisitcs" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="houseHoldSizeBracket">Household Size Bracket</label>
                <select [(ngModel)]="field.household_size_bracket" class="custom-select" id="houseHoldSizeBracket" required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let houseHoldSizeBracket of select.houseHoldSizeBrackets">{{ houseHoldSizeBracket }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Number of Families</label>
                <input [(ngModel)]="field.number_of_families" class="custom-select" id="numofFamilies" type="number" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- <div class="col-md-4 mb-3">
                <label for="numofFamiliesBracket">Number of Families Bracket</label>
                <select [(ngModel)]="field.numofFamiliesBracket" class="custom-select" id="numofFamiliesBracket" required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let houseHoldSizeBracket of select.houseHoldSizeBrackets">{{ houseHoldSizeBracket }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="lineNumber">Line number of Household Member</label>
                <input [(ngModel)]="field.line_number_of_household_member" class="custom-select" id="lineNumber" type="text" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numOfHosehold">Name of Household Members</label>
                <input [(ngModel)]="field.name_of_household_member" class="custom-select" id="numOfHosehold " type="text" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="relationshipToHH">Relationship to Household Head</label>
                <select [(ngModel)]="field.relationship_to_household_head" class="custom-select" id="relationshipToHH " required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let RelationshiptoHouseholdHead of select.RelationshiptoHouseholdHeads">{{ RelationshiptoHouseholdHead }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sex">Sex</label>
                <select [(ngModel)]="field.sex" class="custom-select" id="sex" required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let Sex of select.Sexes">{{ Sex }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="dateOfBirth">Date of Birth</label>
                <input [(ngModel)]="field.date_of_birth" class="custom-select" id="dateOfBirth" type="date" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="ageAsLastBirthDay">Age as of Last Birthday</label>
                <input [(ngModel)]="field.age" class="custom-select" id="ageAsLastBirthDay" type="number" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="AgeBracket">Age Bracket</label>
                <select [(ngModel)]="field.age_bracket" class="custom-select" id="AgeBracket" required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let AgeBrackets of select.AgeBrackets">{{ AgeBrackets }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="civilStatus">Civil Status</label>
                <select [(ngModel)]="field.civil_status" class="custom-select" id="civilStatus" required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let CivilStatuses of select.CivilStatuses">{{ CivilStatuses }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="educationalAttainment">Highest Educational Attainment</label>
                <select [(ngModel)]="field.highest_educational_attainment" class="custom-select" id="educationalAttainment " required>
                    <option value="" selected disabled>Choose..</option>
                    <option *ngFor="let HighestEducationalAttainments of select.HighestEducationalAttainments">{{ HighestEducationalAttainments }}</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="field.school_attendance">School Attendance</label>
                <select [(ngModel)]="field.school_attendance" class="custom-select" id="numofFamilies " required>
                        <option value="" selected disabled>Choose..</option>
                    </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Grade/Year Level of School Attendance</label>
                <select [(ngModel)]="field.level_of_school_attendance" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Reason for Not Attending School</label>
                <select [(ngModel)]="field.reason_for_not_attending_school" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Specify Reasons for Not Attending School</label>
                <input [(ngModel)]="field.reason_for_not_attending_school" class="custom-select" id="numofFamilies " type="text" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Religious Affiliation</label>
                <select [(ngModel)]="field.religious_affiliation" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-6 mb-3">
                <label for="numofFamilies">SpecifyReligion)</label>
                <input [(ngModel)]="field.religious_affiliation" class="custom-select" id="numofFamilies " type="text" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Have special skills</label>
                <input [(ngModel)]="field.have_special_skills" class="custom-select" id="numofFamilies " type="text" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Type of Special Skills</label>
                <select [(ngModel)]="field.type_of_special_skill" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Skills Specify</label>
                <select [(ngModel)]="field.skills_specify" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Presence of Disability</label>
                <select [(ngModel)]="field.presence_of_disability" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Type of Disability</label>
                <select [(ngModel)]="field.type_of_disability" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Indigenous group or tribe</label>
                <select [(ngModel)]="field.indigenous_group_or_tribe" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Name of Indigenous or Tribe</label>
                <select [(ngModel)]="field.name_of_group_or_tribe" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">IP Specify Tribe</label>
                <input [(ngModel)]="field.specify_tribe" class="custom-select" id="numofFamilies " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Active PhilHealth Member (18 years old & above)</label>
                <select [(ngModel)]="field.active_philhealth_member" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">PhilHealth Membership-Specify</label>
                <select [(ngModel)]="field.philhealth_membership_specify" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Usual Occupation of Working HH Member</label>
                <select [(ngModel)]="field.usual_occupation_of_working_household_member" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Specify Usual Occupation</label>
                <select [(ngModel)]="field.specify_usual_occupation" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Gross Monthly Income</label>
                <select [(ngModel)]="field.gross_monthly_income" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Place of Work/Employment  of the Earning HH Member</label>
                <select [(ngModel)]="field.place_of_work" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">No. of Years Stay (in Current Address)</label>
                <input [(ngModel)]="field.number_of_years_stay" type="number" class="custom-select" id="numofFamilies " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">No. of Years Stay Bracket</label>
                <select [(ngModel)]="field.number_of_years_bracket" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">FP Currently Used (By Women 10-50 yrs old)</label>
                <select [(ngModel)]="field.fp_currently_used" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Total Household Monthly Income</label>
                <input [(ngModel)]="field.total_household_monthly_income" type="number" class="custom-select" id="numofFamilies " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Household Income Bracket</label>
                <select [(ngModel)]="field.household_income_bracket" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">House Ownership</label>
                <select [(ngModel)]="field.house_ownership" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">How many stories/level is the house?</label>
                <select [(ngModel)]="field.house_levels" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-3 mb-3">
                <label for="numofFamilies">House Construction Material</label>
                <select [(ngModel)]="field.house_construction_material" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">Homelot Ownership/Tenure Status</label>
                <select [(ngModel)]="field.homelot_ownership_or_tenure_status" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="numofFamilies">HH Usual Source of Water for Drinking</label>
                <select [(ngModel)]="field.source_of_drinking_water" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">HH Usual Source of Water for Drinking</label>
                <select [(ngModel)]="field.source_of_drinking_water" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">Type of Toilet the Household Owns</label>
                <select [(ngModel)]="field.type_of_toilet" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="numofFamilies">Household's Garbage Disposal</label>
                <select [(ngModel)]="field.garbage_disposal" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Type of Fuel Use for Lighting</label>
                <select [(ngModel)]="field.type_of_lighting_fuel" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Type of Fuel for Cooking</label>
                <select [(ngModel)]="field.type_of_cooking_fuel" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="numofFamilies">Specify Fuel for Cooking</label>
                <input [(ngModel)]="field.specify_cooking_fuel" class="custom-select" id="numofFamilies " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="numofFamilies">Specify Fuel for Cooking</label>
                <input [(ngModel)]="field.specify_cooking_fuel" class="custom-select" id="numofFamilies " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!--    <div class="col-md-6 mb-3">
                <label for="numofFamilies">Water Level in flood prone area</label>
                <select [(ngModel)]="field.geohazard_area" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div> -->

            <hr>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="numofFamilies">Access to Information Technology</label>
                    <input [(ngModel)]="field.access_to_infotech" class="custom-select" id="numofFamilies " required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="numofFamilies">4Ps Beneficiary Household</label>
                    <select [(ngModel)]="field.forps_beneficiary_household" class="custom-select" id="numofFamilies " required>
                    <option value="" selected disabled>Choose..</option>
                </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <br><br> <br><br>

            <div class="button-container">
                <button (click)="submit()" class="button">Submit Record</button>
            </div>

            <br><br> <br><br>

        </div>

    </div>