.map-component {
    position: absolute;
    z-index: 99999999999;
}

.exampleModalPreview {
    background: rgba(150, 150, 150, .5);
}

#mapContainer {
    height: 400px;
    width: 100%;
    margin: auto;
}

.modal-body {
    padding: 20px;
}