<div class="card">
    <div class="card-header">
        <h5 class="d-flex">
            <p class="card-title" style="margin-top: 10px;">Provincial Officials</p>
            <span (click)="addOfficial = true" *ngIf="!addOfficial && !isUser" class="ml-auto">
                <i style="color: #0D6EFD;font-size:20px" class="bi bi-plus-circle"></i>
            </span>
            <span class="ml-auto" (click)="addOfficial = false" *ngIf="addOfficial">
                <i  style="color: #0D6EFD;font-size:20px" class="bi bi-x-circle"></i>
            </span>
        </h5>
    </div>
    <div class="card-body">
        <div *ngIf="isLoading" class="row">
            <div *ngFor="let item of [1,2,3,4];let i = index " class="col-md-12">
                <div>
                    <div style="width: 90%;height: 10px;">
                        <ShimmerPlaceholder></ShimmerPlaceholder>
                    </div>
                    <br>
                    <div style="width: 40%;height: 10px;">
                        <ShimmerPlaceholder></ShimmerPlaceholder>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="flex container list" [class.selected]="activeOfficials[provincialOfficial.id]" *ngFor="let provincialOfficial of officials;let i = index">
            <div class="flex">
                <div *ngIf="!activeOfficials[provincialOfficial.id]  && !isLoading">
                    <h5 style="font-weight: 900; display: flex;">
                        {{provincialOfficial.name}}
                        <span *ngIf="!isUser" class="close ml-auto mr-2">        
                            <i  (click)="editOfficial(provincialOfficial.id)" class="bi bi-pencil"></i>
                        </span>
                        <span *ngIf="!isUser" class="close ml-20">
                            <i (click)="deleteOfficial(provincialOfficial.id)" class="bi bi-file-minus"></i>
                        </span>
                    </h5>
                    <p>{{provincialOfficial.position}}</p>
                </div>
                <div class="container">
                    <div class="row" *ngIf="activeOfficials[provincialOfficial.id]">
                        <div class="col-6">
                            <label for="name">New Name</label>
                            <input (keyup.enter)="saveOfficialChanges(provincialOfficial.id,provincialOfficial)" [(ngModel)]="provincialOfficial.name" type="text" id="name" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="name">New Position</label>
                            <input (keyup.enter)="saveOfficialChanges(provincialOfficial.id,provincialOfficial)" [(ngModel)]="provincialOfficial.position" type="text" id="name" class="form-control">
                        </div>
                        <div (click)="saveOfficialChanges(provincialOfficial.id,provincialOfficial)" class="btn btn-primary  col-3">
                            Update
                        </div>
                        <div (click)="editOfficial(provincialOfficial.id)" class="btn btn-dark col-3">
                            Cancel
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="addOfficial" class="row flex-container container" style="margin-left: 0;">
            <div class="row">
                <div class="col-6">
                    <label for="name">Name</label>
                    <input (keyup.enter)="saveOfficial()" [(ngModel)]="official.name" type="text" id="name" class="form-control">
                </div>
                <div class="col-6">
                    <label for="position">Position</label>
                    <input (keyup.enter)="saveOfficial()" [(ngModel)]="official.position" type="text" id="position" class="form-control ">
                </div>
                <div class="col-12">
                    <div (click)="saveOfficial()" *ngIf="addOfficial" class="btn btn-primary flex-container">
                        Save Provincial Official
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>