<div class="flex container" style="margin-bottom: -10px;" [class.selected]="activeOfficials[provincialOfficial.id]" *ngFor="let provincialOfficial of officials;let i = index">
    <div class="flex">
        <img *ngIf="!activeOfficials[provincialOfficial.id]" class="sideImag" src="../../../assets/avatars/girl-black.png" alt="">
        <div *ngIf="!activeOfficials[provincialOfficial.id]">
            <h5 style="font-weight: 900;">{{provincialOfficial.name}}</h5>
            <p>{{provincialOfficial.position}}</p>
        </div>
        <div class="row" *ngIf="activeOfficials[provincialOfficial.id]">

            <div class="form-group col-md-5">
                <label for="name">New Name</label>
                <input [(ngModel)]="provincialOfficial.name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <label for="name">New Position</label>
                <input [(ngModel)]="provincialOfficial.position" type="text" id="name" class="form-control">
            </div>

            <div (click)="saveOfficialChanges(provincialOfficial.id,provincialOfficial)" class="clickable center col-md-1" style="margin-top: 30px;">
                <i class="fa fa-check text-success"></i>
            </div>

            <div (click)="editOfficial(provincialOfficial.id)" class="clickable center col-md-1" style="margin-top: 30px;">
                <i class="fa fa-times"></i>
            </div>


        </div>
    </div>

    <span class="close ml-auto">        
          <svg  (click)="editOfficial(provincialOfficial.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
    </span>
    <span class="close ml-20">
        <svg  (click)="deleteOfficial(provincialOfficial.id)"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
            <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
        </svg>
    </span>
</div>
<div *ngIf="addOfficial" class="row flex-container" style="flex-direction: column;">
    <div class="form-group col-md-12">
        <label for="name">Name</label>
        <input [(ngModel)]="official.name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group col-md-12">
        <label for="position">Position</label>
        <input [(ngModel)]="official.position" type="text" id="position" class="form-control">
    </div>
</div>
<div class="flex-containr">
    <div (click)="saveOfficial()" *ngIf="addOfficial" class="button center">Save</div>
</div>
<div class="flex-container">
    <div (click)="addOfficial = true" *ngIf="!addOfficial" class="button center" style="width: 150px !important;">Add Official</div>

    <div (click)="addOfficial = false" *ngIf="addOfficial" class="clickable center">Cancel</div>
</div>