a {
    display: flex;
    * {
        margin-right: 5px;
        flex: 1;
    }
    p {
        color: var(--colorPrimary);
        align-self: flex-start;
        flex: 4
    }
    a:active {
        color: white !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: white;
        margin-right: 10px;
    }
}