<div *ngIf="isShowing" class="back-drop ">
    <div class="modal-preview">
        <div class="custom-modal-header">
            <h4>{{title}}</h4>
            <div (click)="closeModal()" class="modal-close"></div>
        </div>
        <div class="modal-body">
            <!-- home -->
            <AddSlider *ngIf="type == 'Add Image'"></AddSlider>
            <EditSlider *ngIf="type == 'Edit Image'"></EditSlider>
            <!-- statitistics -->
            <AddPopulationData *ngIf="type == 'AddPopulationData'" ></AddPopulationData>




        </div>
    </div>
</div>