<div class="row card">
    <div class="form-group col-md-12">
        <div class="card-header">
            <h5 class="pop2 d-flex" style="align-items: center;">
                <span>Top Populated Municipalties </span>
                <span class="ml-auto">
                    <button (click)="addTopPopulated = true;" *ngIf="!addTopPopulated" class="ml-auto btn btn-sm btn-primary">
                       <i style="color:white" class="bi bi-plus"></i>
                    </button>
                    <button (click)="addTopPopulated = false" *ngIf="addTopPopulated" class="ml-auto btn btn-sm btn-primary">
                        <i  style="color:white" class="bi bi-x"></i>
                    </button>
                      
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div *ngIf="topPopulateds.length == 0" class="row">
                    <div *ngFor="let item of [1,2,3,4,5,6,7,8];let i = index " class="col-md-6">
                        <div>
                            <div style="width: 90%;height: 10px;">
                                <ShimmerPlaceholder></ShimmerPlaceholder>
                            </div>
                            <br>
                            <div style="width: 40%;height: 10px;">
                                <ShimmerPlaceholder></ShimmerPlaceholder>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div (click)="deletetopPopulateds( municipality )" *ngFor="let municipality of topPopulateds" class="col-6 d-flex list" style="cursor: pointer;">
                        <i style="color: #FD582C;transform: translateY(-5px);font-size: 35px;" class="bi bi-shop-window"></i>
                        <div style="flex: 5">
                            <p s>{{municipality.data.name || 0}}</p>
                            <p style="font-weight: 400;" class="text-warning">{{municipality.data.percent || 0}}%</p>
                        </div>
                        <div style="flex: 1;display: flex;">
                            <h3 style="font-weight: 200;" class="text-success">{{municipality.data.total || 0}}</h3>
                            <i style="font-size: 1rem;align-self: center;margin-left: 10px;" class="bi bi-people"></i>
                        </div>
                    </div>
                    <div *ngIf="addTopPopulated" class="list-group-item barangays d-flex">
                        <select [(ngModel)]="topPulated.data.name" class="form-control" id="Municipality">
                            <option *ngFor="let municipality of municipalities">{{municipality.name}}</option>
                        </select>
                        <input [(ngModel)]="topPulated.data.total" type="number" placeholder="Total Population" class="form-control" id="Total Population">
                        <input [(ngModel)]="topPulated.data.percent" type="number" placeholder="Percent" class="form-control" id="Percentage">
                        <div (click)="createtopPopulateds()" style="transform: translate(20px,-5px);">
                            <i style="cursor: pointer;" class="bi bi-save2 text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>