p {
    margin: 0
}

i {
    font-size: 30px;
    margin-right: 15px;
}

.list {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 20px
}

.card-header {
    background: var(--bg) !important;
    background-color: var(--bg) !important;
    border-bottom: 1px solid rgba(150, 150, 150, .1);
}

.btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    i {
        font-size: 20px;
    }
}