<div class="mpc-fdc-component">
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-7"></div>
            <div class="col-md-4">
                <button (click)="addMPCFDC = true" *ngIf="!addMPCFDC" class="button rounded"><i class="fa fa-plus"></i></button>
                <button (click)="addMPCFDC = false" *ngIf="addMPCFDC" class="button rounded"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <h4 class="pop2">
                    MULTI-PURPOSE CONSELLING AND FAMILY DEVELOPMENT CENTER
                </h4>


                <div *ngIf="!addMPCFDC" class="row container col-md-12" style="margin-left: 0;">

                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="barangay">District</label>
                            <select [(ngModel)]="mpc.district" type="text" class="form-control">
                                <option *ngFor="let district of districtS">{{district}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="municipality">
                                <div *ngIf="municipalityIsLoading" class="spinner-border text-light  spinner-border-sm fast" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Municipality
                            </label>
                            <select [(ngModel)]="mpc.municipality" class="form-control" id="municipality">
                                <option  selected disabled>Choose Municipality</option>
                                <option *ngFor="let municipality of municipalities" >{{municipality.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-2 mt-3 d-flex">
                            <button (click)="getMPCFDC()" class="button rounded" style="height: 40px;">
                                <i class="fa fa-search"></i>
                            </button>
                            <button (click)="getMPCFDC()" class="button rounded" style="height: 40px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                                    <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                                  </svg>
                            </button>
                        </div>

                    </div>



                    <ul *ngIf="!addMPCFDC" lass="list-group col-md-12 row">
                        <li (click)="showMPC(mpc)" class="list-group-item col-md-12 d-flex" *ngFor="let mpc of mpcs">
                            <p class="municipality-name">{{ mpc.name }}</p>
                            <h4 class="ml-auto">{{ mpc.location }}</h4>
                        </li>
                    </ul>
                    <div *ngIf="show" class="flex-container col-md-12">
                        <button (click)='show = false' class="button">Back</button>
                    </div>
                    <div class="row col-md-12">
                        <app-show-mpc-fdc class="col-md-12" style="max-width: auto !important;" *ngIf="show"></app-show-mpc-fdc>
                    </div>

                </div>







                <div class="col-md-12" *ngIf="addMPCFDC">
                    <app-add-mpc-fdc></app-add-mpc-fdc>
                </div>
            </div>
            <div class="col-md-4">
                <app-mpc-fdc-team></app-mpc-fdc-team>
            </div>
        </div>

    </div>
    <!-- <app-dynamic-mapping></app-dynamic-mapping>-->