<div *ngIf="!show" class="mpc-fdc-component">
    <div class="front">
        <h4 class="pop2">
            MULTI-PURPOSE CONSELLING AND FAMILY DEVELOPMENT CENTER
        </h4>
        <div class="front" *ngIf="addMPCFDC">
            <app-add-mpc-fdc></app-add-mpc-fdc>
        </div>
        <div *ngIf="!addMPCFDC">
            <button (click)="addMPCFDC = true" class="button">Add MPC-FDC</button>

            <app-dynamic-mapping></app-dynamic-mapping>
            <br>


            <div class="w-100" style="float: left;">
                <br> <br> <br>
                <ul class="list-group">
                    <li (click)="showMPC(mpc.id)" class="list-group-item" *ngFor="let mpc of mpcs">
                        <p class="municipality-name">{{ mpc.name }}</p>
                        <h4>{{ mpc.location }}</h4>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="side">
        <app-mpc-fdc-team></app-mpc-fdc-team>
    </div>
</div>

<app-show-mpc-fdc *ngIf="show"></app-show-mpc-fdc>