.mpc-fdc-component {
    padding: 10px 50px;
    padding-right: 15px;
}

ul {
    margin-left: -40px;
    margin-top: 30px;
    flex: 1;
    .list-group-item {
        .municipality-name {
            width: 70%;
        }
        cursor: pointer;
        border: 1px solid rgba($color: gray, $alpha: .2);
    }
    .list-group-item:hover {
        border: 1px solid rgba($color: lightgray, $alpha: .9);
        background: rgba($color: gray, $alpha: .2);
    }
}