<div class="home-container">
    <br>
    <div>
        <div class="header" *ngIf="!hide">
            <div>
                <div class="logo-container">
                    <img src="../../../assets/iloilo-seal.png" class="province-logo" style="margin-right: 20px">
                    <img style="width: 70px;height: 70px;margin-top: 30px;" class="small" src="../../../assets/ipo-logo.png">
                    <div class="texts">
                        <P style="font-family: raleway;">Republic of the Philippines
                        </P>
                        <p style="font-family: raleway;">Province of Iloilo</p>

                        <h2 style=" color:var(--contrast) !important;font-weight: 900;font-family: raleway;">PROVINCIAL POPULATION OFFICE</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav" [class.fixed]="hide && isUser">
            <div class="nav-list">
                <div class="Item">
                    <a href="https://www.iloilo.gov.ph/" target="_blank" rel="noopener noreferrer">
                        Iloilo.gov
                    </a>
                </div>
                <div routerLink="/home" class="Item"> Home </div>
                <div [routerLink]="['/population-data']" class="Item">Population</div>
                <div *ngFor="let nav of navs" class="Item">
                    {{nav.name}}
                    <div class="drop-down-container" style="position: relative;">
                        <div class="drop-down">
                            <div *ngFor="let child of nav.children" class="drop-down-container animated fadeIn fast" [routerLink]="'/' + child.route" class="drop-down-item">
                                <i class="bi bi-folder"></i>
                                <p style="flex: 3;"> {{child.name}}</p>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>