<ag-table #table paginate="100" clickable height="500px" min-width="650px">
    <ag-table-header>
        <ag-table-col width="50px">
            Image
        </ag-table-col>
        <ag-table-col filter="date" field="date" placeholder="Set a area" width="200px">
            Fullname
        </ag-table-col>
        <ag-table-col filter="select" field="profType" width="150px">
            Role
        </ag-table-col>
        <ag-table-col filter="select" field="profType" width="150px">
            Muncipality
        </ag-table-col>
        <ag-table-col filter="select" field="profType" width="150px">
            Barangay
        </ag-table-col>
    </ag-table-header>
    <ag-table-body row-height="90px">
        <ag-table-row *ngFor="let item of table.items" (click)="onClick(item)">
            <ag-table-cell class="name">
                <img [src]="item.avatar" />
                <div>
                    <span>{{item.name}}</span><br/> {{item.phone}}
                    <br/> {{item.email}}
                </div>
            </ag-table-cell>
            <ag-table-cell>
                {{item.profArea}}
            </ag-table-cell>
            <ag-table-cell>
                {{item.profType}}
            </ag-table-cell>
        </ag-table-row>
    </ag-table-body>
</ag-table>