<div *ngIf="isLoading" class="flex-container">
    <div class="spinner-border text-warning fast" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="!isLoading">
    <br>
    <h2 class="headline">CPDB</h2>
    <br>
    <div class="search-container">
        <div class="icon-holder">
            <div style="position: relative;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
            </div>
        </div>

        <input (keyup)="searchHandler($event)" (keyup.enter)="search()" [(ngModel)]="keyword" type="text" class="form-control w-50" placeholder="CPDB Global Search">

        <div (click)="search()" *ngIf="keyword != ''" class="icon-holder-button">
            <div style="position: relative;">
                <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
            </div>
        </div>

        <button class="btn" (click)="multipleDelete()" tooltip="Delete Checked" placement="left" [theme]="theme" style="margin-left: auto;">
            <i class="bi bi-trash2"></i>
        </button>

        <button class="btn" (click)="refresh()" tooltip="Refresh Table / Clear Searches" placement="left" [theme]="theme">      
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>

        <button class="btn" (click)="print()" *ngIf="searched && searchResults.length != 0" tooltip="Export all Results of {{ keyword }} (All Pages) to .xslsx" placement="left" [theme]="theme">        
            <i  style="color:greenyellow"  class="bi bi-save"></i>
        </button>
    </div>
    <p class="search-results" style="margin-left: 50px;" *ngIf="searched ">Search results for <i> {{ keyword }}...</i></p>
    <div class="cpdpb-component container">
        <app-table-cpdb></app-table-cpdb>
    </div>

    <nav>
        <ul>
            <p *ngFor="let page of pagination.totalPages | paginate: { itemsPerPage: 1, currentPage: pagination.currentPage, totalItems: pagination.totalPages.length  }"></p>
        </ul>
        <pagination-controls (pageChange)="paginate($event)" [maxSize]="maxSize" directionLinks="true" autoHide="true" [previousLabel]="paginationLabel.Previous" [nextLabel]="paginationLabel.Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </nav>
    <div class="loader-holder">
        <div *ngIf="isPaginating" class="spinner-border text-light  spinner-border-sm fast" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>
</div>