.new-administrator-component {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    background: var(--bg);
    overflow-y: hidden;
}

.button-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    margin: auto;
}

.button:hover {
    opacity: .6;
}

.button:active {
    opacity: .4;
}

h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    display: flex;
}

label span {
    margin-left: auto !important;
}

svg {
    fill: red;
}

.is-invalid {
    border: 1px solid rgba(250, 0, 0, 0.4) !important;
    box-shadow: 0px 0px 3px rgba(250, 53, 0, .25);
}

.is-valid {
    border: 1px solid rgba(0, 250, 0, 0.4) !important;
    box-shadow: 0px 0px 3px rgba(53, 250, 0, .25);
}

img {
    width: 150px;
    height: 150px;
    transition: .5s linear;
}

.icon-container {
    width: 50px;
    height: 50px;
    left: 130px;
    background: var(--inputBg);
    border-radius: 50px;
    position: absolute;
    transform: translateY(-40px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clickable:hover {
    opacity: .9;
}

.clickable:active {
    opacity: .5;
}

.hidden {
    display: none;
}