.back-up-and-restore-component {
    padding: 20px;
}

img {
    height: 35vh;
    margin-bottom: 20px;
}

h3 {
    margin-left: 20px;
}

h4 {
    width: 60%;
    padding-left: 20px;
    font-size: 1.1em;
}

.button {
    width: 150px;
    margin-left: 20px;
}

.button:hover {
    opacity: .8;
}

.button:active {
    opacity: .4;
}

li {
    display: flex;
}

.icon {
    margin-right: auto;
    margin-right: auto!important;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.texts {
    text-align: right;
}

.texts h2 {
    margin-top: -15px;
    font-weight: 500;
}

.barangays {
    display: flex;
    border-left: none !important;
    border-right: none !important;
}

.barangays p {
    width: 30%;
}

.action-button {
    border-radius: 10px;
    cursor: pointer;
}

.action-button:hover {
    opacity: .5;
}

li {
    background: var(--bg);
}