<div class="back-up-and-restore-component">
    <img src="../../../assets/login/back-up.svg" alt="">
    <br>
    <h3>Notice</h3>
    <h4>
        Frequently backing-up database saves you from unexpected system crash, data errors, glitches, or bugs. Furthermore, Restoring database will delete new data and restore to it's previous state
    </h4>
    <br>
    <div class="col-md-4 mb-3">
        <label for="residence-address">Enter your back-Up filename</label>
        <input type="text" class="form-control" id="residence-address" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="button">Save</button>
    <br><br><br><br>
    <h3>Restore Points</h3>
    <hr>
    <ul class="list-group">
        <li *ngFor="let item of [0,1,1,1,1]" class="list-group-item barangays">
            <i style="color:#199CF8;font-size: 20px;margin-top: 10px;margin-left: 15px;" class="fas fa-database mr-auto"></i>
            <p>My Back Up name <br>
                <small style="color:gray">January 20, 2020</small></p>
            <p class="action-button"><i class="fas fa-undo"></i> Restore</p>
            <p class="action-button"><i class="far fa-minus-square"></i> Delete</p>
        </li>
    </ul>
</div>


<br><br><br><br><br>