<th scope="row">
    <i (click)="approve()" tooltip="Approve this data" placement="top" show-delay="100" [theme]="theme" style="color:#00C34F" class="bi bi-hand-thumbs-up"></i>
    <i (click)="disapprove()" tooltip="Disapprove this data" placement="top" show-delay="100" [theme]="theme" style="color:black" class="bi bi-hand-thumbs-down"></i>
    <i [routerLink]="['/comments/migration/' + params.id]" routerLinkActive="router-link-active" tooltip="Comment, View or Edit Data" placement="top" show-delay="100" [theme]="theme" style="color:palevioletred" class="bi bi-card-list"></i>
    <i (click)="needsEditing()" tooltip="Needs editing" placement="top" show-delay="100" [theme]="theme" class="bi bi-pen"></i>
    <i (click)="noted()" tooltip="Mark as noted" placement="top" show-delay="100" [theme]="theme" class="bi bi-patch-check"></i>
    <span tooltip="Encoded by {{params.record.user.fullname}}" placement="top" show-delay="100" [theme]="theme" style="transform: translateY(6px);">
        <img  [src]="params.record.user.profile_picture != null ? params.record.user.profile_picture.uri : '../../../../../assets/avatars/boy-blue.png'" alt="">
    </span>
</th>