<app-home>
</app-home>
<div class="wrapper">
    <div class="animated fadeInLeftBig"> <br><br><br><br>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title d-flex" style="align-items: center;">
                    {{services.title}}
                    <button *ngIf="!wantsToAdd && !isUser" (click)="wantsToAdd = true" class="btn btn-primary ml-auto">Add Service</button>
                    <button *ngIf="wantsToAdd && !isUser" (click)="wantsToAdd = false" class="btn btn-dark ml-auto">Cancel</button>
                </h5>
            </div>
            <div class="card-body">
                <ul>
                    <li *ngFor="let service of services.offers; let i = index">

                        <p *ngIf="!acitveServices[i]" class="d-flex">
                            <span>{{service.title}}</span>
                            <span *ngIf="!acitveServices[i] && !isUser" class="ml-auto">
                            <span (click)="toggleServices(i)" class="edit">
                                <i style="font-size: 20px;" class="bi bi-pencil-square"></i>
                            </span>
                            <span (click)="deleteService(service.id)" class="remove">
                                <i style="font-size: 20px;" class="bi bi-dash-square"></i>
                            </span>
                            </span>
                        </p>
                        <div *ngIf="acitveServices[i]" class="d-flex ">
                            <textarea autofocus autosize [(ngModel)]="service.title" id="service" class="form-control w-50"></textarea>
                            <button (click)="update(service.id, service, i)" class="btn btn-primary">Save</button>
                            <button (click)="toggleServices(i)" class="btn btn-dark">Cancel</button>
                        </div>
                    </li>
                    <div *ngIf="wantsToAdd">
                        <label for="service">New Service Name</label>
                        <textarea autosize [(ngModel)]="data.title" id="service" class="form-control"></textarea>
                        <br>
                        <button (click)="create()" class="btn btn-primary">Save</button>
                        <br> <br> <br>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>