h2 {
    font-weight: 600
}

* {
    word-break: break-word;
    word-wrap: break-word;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}

p,
li {
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 200;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

span {
    font-weight: 900;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
    right: 0;
}

.remove,
.edit {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    svg {
        height: 20px;
        width: 20px;
    }
}

.remove:hover,
.edit:hover {
    opacity: .8;
}

.remove:active,
.edit:active {
    opacity: .5;
}