<app-home>
</app-home>
<div class="wrapper">
    <div class="animated fadeInLeftBig"> <br><br><br><br>
        <h2>RESPONSIBLE PARENTHOOD AND FAMILY PLANNING PROGRAM</h2>
        <hr>
        <br>
        <ul>
            <li>Pre-Marriage Orientation and Counseling</li>
            <li>Establishment of Multi-Purpose Counselling and Family Development Centers</li>
            <li>RP Lectures and Family Development Sessions</li>
            <li>Training for Pre-Marriage Counselors</li>
        </ul>
    </div>
</div>