@media only screen and (max-width: 600px) {
    hr {
        display: none;
    }
    img {
        object-fit: fill;
        background-size: 100% 100%;
    }
    .card {
        display: block !important;
        width: 100% !important;
        margin: 0 !important;
        box-shadow: none !important;
        display: flexbox;
        height: auto !important;
        padding: 0 !important;
        .card-title,
        .card-body,
        h5 {
            text-align: left !important;
            height: auto;
            font-size: 14px;
            align-self: flex-start;
        }
        img {
            height: 200px;
            transform: scaleX(1.2);
        }
    }
    .Sliders,
    .Texts,
    .grids,
    .Cards {
        margin-top: 10px;
        padding: 0 !important;
    }
}