<div class="preview-component" [@listAnimation]=[items.length]>
    <div *ngIf="isLoading" class="loader "></div>
    <i (click)="closePreview()" class="im im-x-mark"></i>

    <div class="header">
        <div class="logo-container">
            <img src="../../../../assets/iloilo-seal.png" style="margin-right: 20px;animation: .3s zoom linear;">
            <img style=" animation: fromleft .5s linear;" class="small" src="../../../../assets/ipo-logo.png">
        </div>
        <div class="texts">
            <P>Republic of the Philippines</P>
            <p>Province of Iloilo</p>
            <h1 style=" animation: fromtop .5s linear;color:#0497F7 !important">PROVINCIAL POPULATION OFFICE</h1>
        </div>
    </div>

    <div class="quick-links-container">
        <div *ngFor="let item of [0,1,1,1,1,1,1,1]" class="another-quick-links">

        </div>
    </div>

    <br> <br> <br>

    <div class="navigation">
        <p>{{ !isLoading && categories.title == '' ? 'No selected Category': categories.title }}</p>
        <svg width="4em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        <p>{{ categories.subcategory }}</p>
    </div>

    <br> <br> <br>

    <div *ngFor="let item of items" class="content row">

        <div *ngIf="item.type == 'article'" class="Sliders" style="min-height: 40vh;">
            <br>
            <div class="container article-container">
                <div class="img-container">
                    <img style="min-height: 100%;" *ngIf="item.image.length !== ''" [src]="item.image " alt="">
                </div>
                <div class="inputs-container">
                    <h4>{{item.title}}</h4>
                    <br>
                    <p class="article-body">{{item.description}}</p>
                </div>
            </div>
        </div>

        <div *ngIf="item.type == 'list'" class="Texts">
            <br>
            <h4>{{item.title}}</h4>
            <ul [@quickLinksAnimation]=[item.items.length]>
                <li class="list-Items" *ngFor="let listitem of item.items;let j = index;">
                    <p *ngIf="listitem != ''">{{listitem.body}}</p>
                </li>
            </ul>
        </div>

        <div *ngIf="item.type == 'slider'" class="Sliders">
            <div class="carousel-holder">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let image of item.images">
                        <img alt="" [style.background]="'url(' + image + ')'">
                    </ng-template>
                    <ng-template carouselSlide *ngFor="let video of item.videos ">
                        <video controls [src]="video " style="margin:0 !important;width:100% !important;height: 50vh !important;  object-fit: fill;    min-height: 40vh;"></video>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="quick-links">
                <p>Quick Links</p>
                <br>
                <div [@quickLinksAnimation]=[items.length]>
                    <div *ngFor="let number of [0,1,2,3]" class="links">
                        <div class="link-images">
                            <img src="../../../assets/iloilo-seal.png">
                        </div>
                        <div class="link-text">
                            <div class="placeholder-line"></div>
                            <div class="placeholder-line"></div>
                            <div class="placeholder-line"></div>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>

        <div *ngIf="item.type == 'text'" class="Texts">
            <br> <br>
            <h4>{{item.title}}</h4>
            <hr>
            <p>{{item.body}}</p>
        </div>

        <div *ngIf="item.type == 'media'" class="media">
            <video controls [src]="item.Media.video " *ngIf="item.Media.video !='' "></video>
            <img [src]="item.Media.image " *ngIf="item.Media.image !='' " alt="">
            <object [data]="cleanURL(item.Media.pdf) " *ngIf="item.Media.pdf !='' "></object>
            <br>
        </div>

        <div *ngIf="item.type == 'grid'" class="grids">
            <div class="inline">
                <div *ngFor="let grid of item.items; let j=index; " class="card grid1 " style="width: 18rem; ">
                    <i *ngIf="grid.image=='' " class="fas fa-image "></i>
                    <img style="height: 35vh;" [src]="grid.image " class="card-img-top " alt=" ">
                    <div class="card-body ">
                        <h5>{{grid.title}}</h5>
                    </div>
                </div>
            </div>

        </div>


        <div *ngIf="item.type == 'card'" class=" ">
            <div class="inline ">
                <div class="card card1 " *ngFor="let card of item.items; let j=index; ">
                    <i *ngIf="card.image=='' " class="fas fa-image "></i>
                    <img style="height: 40%;" [src]="card.image " class="card-img-top " alt=" ">
                    <div class="card-body ">
                        <h5 class="card-title ">{{card.title}}</h5>
                        <p>{{card.description}}</p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <h3 *ngIf="!isLoading && items.length==0 " style="text-align: center;margin-top: 30px; ">Nothing to Preview...</h3>
    <br><br><br>
</div>