<div *ngIf="!show" class="mpc-fdc-component">
    <div class="front" *ngIf="addTeenCenter">
        <app-add-new-teen-center></app-add-new-teen-center>
    </div>

    <div *ngIf="!addTeenCenter" class="front">
        <button (click)="addTeenCenter = true" class="button">Add Teen Center</button>
        <br> <br>
        <h4>
            SHCOOL BASE MULTI-PURPOSE TEEN CENTER
        </h4>
        <!-- <div class="filters">
                <div class="row">
                    <div class="col-md-6">
                        <select type="text" class="form-control">
                            <option selected disabled>Select Municipality..</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select type="text" class="form-control">
                            <option selected disabled>Select Barangay..</option>
                        </select>
                    </div>
                </div>
            </div>
            <br> -->
        <app-dynamic-mapping></app-dynamic-mapping>
        <br>
        <div class="district-container">
            <div class="district container">
                <div class="district-name">District I</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">{{district.I.data.length}}</h2>
                <p>Teen Centers</p>
            </div>


        </div>

        <div class="w-100" style="float: left;">
            <br> <br> <br>
            <ul (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let item of [1,2,3,4,5,6]">
                    <p class="municipality-name">Barotac Nuevo </p>
                    <h4>2</h4>
                </li>

            </ul>
        </div>
    </div>
    <div class="side">
        <app-teen-center-ahyd-team></app-teen-center-ahyd-team>
    </div>

</div>

<app-show-teen-centers *ngIf="show"></app-show-teen-centers>