<div *ngIf="!show" class="mpc-fdc-component">
    <div class="front">
        <h4>
            SHCOOL BASE MULTI-PURPOSE TEEN CENTER
        </h4>
        <!-- <div class="filters">
            <div class="row">
                <div class="col-md-6">
                    <select type="text" class="form-control">
                        <option selected disabled>Select Municipality..</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select type="text" class="form-control">
                        <option selected disabled>Select Barangay..</option>
                    </select>
                </div>
            </div>
        </div>
        <br> -->
        <app-dynamic-mapping></app-dynamic-mapping>
        <br>
        <div class="district-container">
            <div class="district container" *ngFor="let item of [1,2,3,4,5,6]">
                <div class="district-name">DISTRICT I</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">15</h2>
                <p>Teen Centers</p>
            </div>
        </div>

        <div class="w-100" style="float: left;">
            <br> <br> <br>
            <ul (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let item of [1,2,3,4,5,6]">
                    <p class="municipality-name">Barotac Nuevo </p>
                    <h4>2</h4>
                </li>

            </ul>
        </div>
    </div>
    <div class="side">
        <h3>
            AHYD TEAM
        </h3>
        <hr>
        <div class="person-name">JAMEL EID YASSIN</div>
        <p>Provincial Teen Center Coordinator</p>
        <br>
        <p>AHYD Focal Persons</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of [1,2,3,4,5,6]"> RYAN VILLANUEVA </li>
        </ul>
    </div>
</div>

<app-show-teen-centers *ngIf="show"></app-show-teen-centers>