.mpc-fdc-component {
    display: flex;
    width: 100%;
    padding: 40px;
}

.front {
    width: 60%;
}

.side {
    width: 30%;
    padding: 1rem;
    margin-left: 50px;
}

h5 {
    font-size: .9rem;
    font-weight: 300;
}

h3,
h4,
.person-name {
    font-weight: 500;
    font-size: 1.1rem;
}

.district-container {
    width: 100%;
}

.district {
    width: 205px;
    height: 125px;
    float: left;
    margin: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center !important;
    overflow: hidden;
}

.district:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.number-of-teen-centers,
.person-name {
    font-weight: 600;
}

.list-group-item {
    display: flex;
    .municipality-name {
        width: 70%;
    }
    cursor: pointer;
}

.active {
    border-color: #149ef8 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}