<div *ngIf="!show" class="mpc-fdc-component">
    <div class="front" *ngIf="addTeenCenter">
        <app-add-new-teen-center></app-add-new-teen-center>
    </div>

    <div *ngIf="!addTeenCenter" class="front">
        <button (click)="addTeenCenter = true" class="button">Add Teen Center</button>
        <br> <br>
        <h4>
            SHCOOL BASE MULTI-PURPOSE TEEN CENTER
        </h4>
        <!-- <div class="filters">
                <div class="row">
                    <div class="col-md-6">
                        <select type="text" class="form-control">
                            <option selected disabled>Select Municipality..</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select type="text" class="form-control">
                            <option selected disabled>Select Barangay..</option>
                        </select>
                    </div>
                </div>
            </div>
            <br> -->
        <app-dynamic-mapping></app-dynamic-mapping>
        <br>
        <div class="district-container">
            <div [class.active]="activeDistrict['I']" class="district container" (click)="makeDistrictActive('I')">
                <div class="district-name">District I</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">{{district.I.data.length + 0}}</h2>
                <p>Teen Centers</p>
            </div>

            <div [class.active]="activeDistrict['II']" class="district container" (click)="makeDistrictActive('II')">
                <div class="district-name">District II</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">{{district.II.data.length + 0}}</h2>
                <p>Teen Centers</p>
            </div>

            <div [class.active]="activeDistrict['III']" class="district container" (click)="makeDistrictActive('III')">
                <div class="district-name">District III</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">{{district.III.data.length + 0}}</h2>
                <p>Teen Centers</p>
            </div>

            <!-- <div class="district container" (click)="makeDistrictActive(IV)">
                <div class="district-name">District IV</div>
                <br>
                <h2 class="number-of-teen-centers" style="color:var(--contrast)">{{district.IV.data.length + 0}}</h2>
                <p>Teen Centers</p>
            </div> -->


        </div>

        <div class="w-100" style="float: left;">
            <br> <br> <br>
            <ul *ngIf="activeDistrict['I']" (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let municipality of district.I.municipalities">
                    <p class="municipality-name">{{municipality.name}} </p>
                    <h4>{{municipality.teen_center_count}}</h4>
                </li>

            </ul>

            <ul *ngIf="activeDistrict['II']" (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let municipality of district.II.municipalities">
                    <p class="municipality-name">{{municipality.name}} </p>
                    <h4>{{municipality.teen_center_count}}</h4>
                </li>

            </ul>


            <ul *ngIf="activeDistrict['III']" (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let municipality of district.III.municipalities">
                    <p class="municipality-name">{{municipality.name}} </p>
                    <h4>{{municipality.teen_center_count}}</h4>
                </li>

            </ul>


            <ul *ngIf="activeDistrict['IV']" (click)="showMPC()" class="list-group">
                <li class="list-group-item" *ngFor="let municipality of district.IV.municipalities">
                    <p class="municipality-name">{{municipality.name}} </p>
                    <h4>{{municipality.teen_center_count}}</h4>
                </li>

            </ul>
        </div>
    </div>
    <div class="side">
        <app-teen-center-ahyd-team></app-teen-center-ahyd-team>
    </div>

</div>

<app-show-teen-centers *ngIf="show"></app-show-teen-centers>