<app-home>
</app-home>
<div class="wrapper">
    <ul>
        <li>Insert national KPA Article(refer to Home Featured article)</li>
        <li>Iloilo Provincial Population Office is best in Region 6(http://iloilo.gov.ph/awards-and-recognition/iloilo-provincial-population-office-best-region-6)</li>
        <li>Iloilo named Best LGU Advocate for Statistics(http://iloilo.gov.ph/awards-and-recognition/iloilo-named-best-lgu-advocate-statistics)</li>
        <li>Iloilo Provincial Population Office is best in Region 6(http://iloilo.gov.ph/awards-and-recognition/iloilo-provincial-population-office-best-region-6)</li>
        <li>Teen Center finalist in 2017 GalingPook Awards (http://iloilo.gov.ph/teen-center-finalist-2017-galing-pook-awards)
        </li>
        <li>Hall of Fame Award NSM</li>
        <li>Iloilo Teen Center Finalist in 2015 GalingPook (http://iloilo.gov.ph/democracy-and-governance-awards-and-recognition/iloilo-teen-center-finalist-2015-galing-pook)
        </li>
    </ul>
</div>