.profiling-component {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background: var(--bg);
    margin-top: -15px;
}

ul {
    padding: 10px 30px;
}

svg,
i {
    margin-right: 10px;
}

.active svg,
.active i {
    fill: white;
    color: white;
}

.active {
    background: var(--contrast);
    color: white;
    border-radius: 2px !important;
    transition: none !important;
}

.active:hover {
    color: white !important;
    opacity: 1;
    transition: none !important;
}

li {
    border-radius: 2px !important;
    margin-right: 20px;
    transition: none !important;
}

li:hover {
    background: var(--inputBg);
}

.badge {
    font-size: 9px;
}