<div class=" profiling-component">
    <br>

    <ul class="nav nav-pills nav-fill  mobile-nav">
        <li (click)="maekActive('CPDB')" class="nav-item">
            <a [class.active]="tabs.CPDB == true" class="nav-link">
               CPDB 
                <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.CPDB}}
                </span>       
            </a>
        </li>
        <li (click)="maekActive('Deaths')" class="nav-item">
            <a [class.active]="tabs.Deaths == true" class="nav-link">
                 Deaths       
                <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.Death}}
                </span>      
            </a>
        </li>
        <li (click)="maekActive('Births')" class="nav-item">
            <a [class.active]="tabs.Births == true" class="nav-link">
               Births 
               <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.Birth}}
                </span>             
            </a>
        </li>
        <li (click)="maekActive('InMigs')" class="nav-item">
            <a [class.active]="tabs.InMigs == true" class="nav-link">
              In-Migration    
                <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.InMigration}}
                </span>           
            </a>

        </li>
        <li (click)="maekActive('OutmiGS')" class="nav-item">
            <a [class.active]="tabs.OutmiGS == true" class="nav-link">
               Out-Migration    
                <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.OutMigration}}
                </span>
            </a>

        </li>
        <li (click)="maekActive('Marraige')" class="nav-item">
            <a [class.active]="tabs.Marraige == true" class="nav-link">
                Marriage      
                <span class="text-danger">
                    &nbsp; &nbsp; {{ 0 + count.Marriage}}
                </span>       
            </a>

        </li>
        <li (click)="maekActive('fileUpload')" class="nav-item">
            <a [class.active]="tabs.fileUpload == true" class="nav-link">
                File Upload             
            </a>
        </li>
    </ul>


    <ul class="nav nav-pills nav-fill hide-on-mobile">
        <li (click)="maekActive('CPDB')" class="nav-item">
            <a [class.active]="tabs.CPDB == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-people"></i> CPDB
                <span class="badge badge-danger">{{ 0 +count.CPDB}}</span>
            </a>
        </li>
        <li (click)="maekActive('Deaths')" class="nav-item">
            <a [class.active]="tabs.Deaths == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-exclude"></i> Deaths
                <span class="badge badge-danger">{{ 0 + count.Death}}</span>
            </a>
        </li>
        <li (click)="maekActive('Births')" class="nav-item">
            <a [class.active]="tabs.Births == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-signpost-2"></i> Births
                <span class="badge badge-danger">{{ 0 + count.Birth}}</span>
            </a>
        </li>
        <li (click)="maekActive('InMigs')" class="nav-item">
            <a [class.active]="tabs.InMigs == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-box-arrow-left"></i> In-Migration
                <span class="badge badge-danger">{{ 0 + count.InMigration}}</span>
            </a>
        </li>
        <li (click)="maekActive('OutmiGS')" class="nav-item">
            <a [class.active]="tabs.OutmiGS == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-box-arrow-right"></i> Out-Migration
                <span class="badge badge-danger">{{ 0 + count.OutMigration}}</span>
            </a>
        </li>
        <li (click)="maekActive('Marraige')" class="nav-item">
            <a [class.active]="tabs.Marraige == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-suit-heart"></i> Marriage
                <span class="badge badge-danger">{{ 0 + count.Marriage}}</span>
            </a>
        </li>

        <li (click)="maekActive('fileUpload')" class="nav-item">
            <a [class.active]="tabs.fileUpload == true" class="nav-link">
                <i style="font-size: 16px;" class="bi bi-folder-plus"></i> File upload
            </a>
        </li>


    </ul>

    <br>

    <div>
        <app-deaths-table *ngIf="tabs.Deaths == true"></app-deaths-table>
        <app-births-table *ngIf="tabs.Births == true"></app-births-table>
        <app-in-migs-table *ngIf="tabs.InMigs == true"></app-in-migs-table>
        <app-out-migs-table *ngIf="tabs.OutmiGS == true"></app-out-migs-table>
        <app-marriage-table *ngIf="tabs.Marraige == true"></app-marriage-table>
        <app-cpdb-table *ngIf="tabs.CPDB == true"></app-cpdb-table>
        <app-file-upload *ngIf="tabs.fileUpload == true"></app-file-upload>
    </div>
</div>