<div *ngIf="isLoading" class="loader"></div>
<div *ngIf="!ViewData" class="comment-container">
    <br>
    <i [routerLink]="['/profiling']" routerLinkActive="router-link-active" class="fa fa-chevron-left back1"></i>

    <div class="textarea-container">
        <textarea autosize #textarea [(ngModel)]="message" placeholder="Aa" class="form-control"></textarea>

        <button *ngIf="message.trim() != ''" (click)="addComment()" class="button send"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
          </svg></button>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="comment-box">
                <div class="comment-box-header">
                    <img [src]="fields.record.user.profile_picture != null ? fields. record.user.profile_picture.uri : '../../../../../assets/avatars/boy-blue.png '" alt="">
                    <div class="encoder-wrapper">Encoded by: <br>
                        <div class="encoder">{{ fields.record.user.fullname }} </div>
                    </div>

                    <span (click)="ViewData = true" tooltip="View the encoded data" placement="right" show-delay="100" [theme]="theme">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                          </svg>
                    </span>
                </div>

                <div class="textarea-container1">
                    <textarea autosize #textarea [(ngModel)]="message" placeholder="Aa" class="form-control"></textarea>

                    <button *ngIf="message.trim() != ''" (click)="addComment()" class="button send">Add Comment</button>
                </div>
            </div>
        </div>

        <div class="col-md-8 comments">
            <br>
            <div class="operaitve-buttons">
                <i (click)="approve()" tooltip="Approve this data" placement="right" show-delay="100" [theme]="theme" style="color:#00C34F" class="im im-thumb-up"></i>

                <i (click)="disapprove()" tooltip="Disapprove this data" placement="right" show-delay="100" [theme]="theme" style="color:black" class="im im-thumb-down"></i>


                <svg (click)="needsEditing()" tooltip="Needs editing" placement="right" show-delay="100" [theme]="theme" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond-fill" fill="orange" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>


                <svg (click)="noted()" tooltip="Mark as noted" placement="right" show-delay="100" [theme]="theme" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="#4285F4" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                </svg>

            </div>
            <br>
            <span *ngIf="fields.record.status == 'Pending'" class="badge badge-danger ">{{ fields.record.status }}</span>
            <span *ngIf="fields.record.status == 'Approved'" class="badge badge-success">{{fields.record.status }}</span>
            <span *ngIf="fields.record.status == 'Needs Editing'" class="badge badge-warning">{{fields.record.status }}</span>
            <span *ngIf="fields.record.status == 'Noted and will edit'" class="badge badge-primary">{{ fields.record.status }}</span>
            <span *ngIf="fields.record.status == 'Disapproved'" class="badge badge-dark">{{ fields.record.status }}</span>
            <span style="background: palevioletred !important;" *ngIf="fields.record.status == 'Requires Revalidation'" class="badge badge-dark">{{ fields.record.status }}!</span>
            <br>
            <p style="text-align: center;" *ngIf="comments.length == 0">No comments yet....</p>
            <br>
            <div class="comment container" *ngFor="let comment of comments">
                <div class="img-container">
                    <img src="../../../../../assets/wallpapers/1.jpg" alt="">
                </div>
                <div class="text">
                    <div class="name">
                        <span>@{{ formatName(comment.user.fullname) }}</span>{{ comment.body }}
                    </div>
                    <div class="time">
                        {{ comment.created_at | date: 'EEEE, h:mm a' }}
                    </div>
                </div>
                <div class="action-buttons">
                    <button (click)="reply()" class="clickable mr-auto" style="color:gray">Reply</button>
                    <button (click)="removeComment(comment.id)" class="clickable mr-auto" style="color:gray">Remove</button>
                    <i tooltip="Mark as noted" placement="right" show-delay="100" [theme]="theme" style="color:gray" class="fas fa-bell clickable"></i>
                    <i tooltip="noted" placement="right" show-delay="100" [theme]="theme" style="color:#4285F4" class="fas fa-bell clickable"></i>
                </div>
            </div>

        </div>

    </div>
</div>


<div *ngIf="ViewData" class="view-data">
    <br>
    <i (click)="ViewData = false" routerLinkActive="router-link-active" class="fa fa-chevron-left" style="font-size: 25px;margin-bottom: 30px;cursor: pointer;"></i>

    <div class="container deaths-component">

        <br>
        <div class="inputs">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="sorting_numberr">Sorting Number</label>
                    <input [(ngModel)]="fields.sorting_number" type="number" class="form-control" id="sorting_numberr">
                    <div class="invalid-feedback">
                        Sorting Number is required
                    </div>
                </div>
            </div>
            <hr>
            <h5>Location</h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="municipality">Municipality: &nbsp; {{fields.municipality}} (Encoded)</label>
                    <select (change)="getBarangays($event)" class="custom-select" id="municipality" required>
                        <option selected disabled value="">Choose...</option>
                        <option style="text-transform:capitalize" *ngFor="let municipality of municipalities" [value]="municipality.code" >{{ municipality.name }}</option>
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="barangay">Barangay : &nbsp; {{fields.barangay}} (Encoded)</label>
                    <select [(ngModel)]="fields.barangay" class="custom-select" id="barangay" required>
                        <option selected disabled value="">Choose...</option>
                        <option *ngFor="let barangay of barangays">{{ barangay.name }}</option>
                    </select>
                </div>
            </div>
            <hr>
            <h5>Household Case</h5>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="household-number">Household Number</label>
                    <input [(ngModel)]="fields.household_number" type="number" class="form-control" id="household-number">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="total-cases">Total Cases</label>
                    <input [(ngModel)]="fields.total_cases" type="number" class="form-control" id="total-cases">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="case-number">Case Number</label>
                    <input [(ngModel)]="fields.number_of_cases" type="number" class="form-control" id="case-number">
                </div>
            </div>
            <hr>
            <h5>Death Details</h5>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="month-of-death">Month of  Deceased Died</label>
                    <select [(ngModel)]="fields.month" class="custom-select" id="month-of-death">
                        <option selected disabled >Choose...</option>
                        <option *ngFor="let month of months">{{ month }}</option>
                    </select>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="case-number">Name of the  Deceased</label>
                    <input [(ngModel)]="fields.name" type="text" class="form-control" id="deaceased-name">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="sex">Sex of the Deceased</label>
                    <select [(ngModel)]="fields.sex" class="custom-select" id="sex">
                        <option selected disabled >Choose...</option>
                        <option *ngFor="let sex of sexs">{{ sex }}</option>
                    </select>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="age-at-death">Age at Death</label>
                    <input [(ngModel)]="fields.age_at_death" type="text" class="form-control" id="age-at-death">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="age-bracket">Age Bracket</label>
                    <select [(ngModel)]="fields.age_bracket" class="custom-select" id="age-bracket">
                        <option selected disabled >Choose...</option>
                        <option *ngFor="let ageBracket of ageBrackets">{{ ageBracket }}</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="place-of-death">Place of Death</label>
                    <select [(ngModel)]="fields.place_of_death" class="custom-select" id="place-of-death">
                        <option selected disabled >Choose...</option>
                        <option *ngFor="let placeOfDeath of placeOfDeaths">{{ placeOfDeath }}</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="registered-lcr">Registered LCR</label>
                    <select [(ngModel)]="fields.registered_lcr" class="custom-select" id="registered-lcr">
                        <option selected disabled >Choose...</option>
                        <option *ngFor="let registeredLCR of registeredLCRs">{{ registeredLCR }}</option>
                    </select>
                </div>
            </div>

            <br>
            <div class="button-container ">
                <button (click)="updateRecord() " class="button ">Update Record</button>
            </div>

            <br> <br>
            <div *ngIf="isLoading" class="loader "></div>
        </div>

    </div>
</div>