<img src="../../../../assets/wallpapers/1.jpg" alt="">

<i class="fas fa-circle"></i>

<span (click)="reactivate(admin.id)" *ngIf="params.iterations >= 5" tooltip="Reactivate {{ params.fullname }}'s account" placement="right" show-delay="100" [theme]="theme">
    <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="#81D340" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
        <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
      </svg>
</span>




<span [routerLink]="['/admin/' + admin.id]" tooltip="Show status of {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme">
  <svg routerLinkActive="router-link-active" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="teal" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
    <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  </svg>
</span>


<i *ngIf="params.iterations <= 4" [class.hide]="params.id == myID || params.role == 'Super Admin'" (click)="blockAdmin(params.id)" tooltip="Block {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme" class="fas fa-user-slash" style="font-size: .8em;"></i>


<span *ngIf="params.role != 'Super Admin'" (click)="deleteAdmin(admin.id)" tooltip="Delete {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
        <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
      </svg>
</span>



<span tooltip="{{ params.fullname }}'s account has been blocked'" placement="right" show-delay="100" [theme]="theme" *ngIf="params.iterations >= 5" style="font-size: 75%;" class="badge badge-danger">Blocked</span>