<img [src]="imgSrc" alt="">

<i class="fas fa-circle"></i>
<span (click)="reactivate(admin.id)" *ngIf="params.iterations >= 5" tooltip="Reactivate {{ params.fullname }}'s account" placement="right" show-delay="100" [theme]="theme">
     <i style="color:#81D340 " class="bi bi-shield-fill-check"></i> 
</span>

<span [routerLink]="['/admin/' + admin.id]" tooltip="Show status of {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme">
    <i class="bi bi-binoculars"></i>
</span>

<i title="Block" i *ngIf="params.iterations <= 4" [class.hide]="params.id == myID || params.role == 'Super Admin'" (click)="blockAdmin(params.id)" tooltip="Block {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme" class="bi bi-slash-circle-fill"
    style="font-size: .8em;"></i>

<span *ngIf="params.role != 'Super Admin'" (click)="deleteAdmin(admin.id)" tooltip="Delete {{ params.fullname }}" placement="right" show-delay="100" [theme]="theme">
     <i title="Delete " title="red " style="color:red " class="bi bi-shield-fill-x"></i>
</span>

<span *ngIf="params.id == myID" style="font-size: 75%;" class="badge badge-dark">You</span>

<span tooltip="{{ params.fullname }}'s account has been blocked'" placement="right" show-delay="100" [theme]="theme" *ngIf="params.iterations >= 5" style="font-size: 75%;" class="badge badge-danger">Blocked</span>