<app-home>
</app-home>
<div class="wrapper">
    <h2>RESPONSIBLE PARENTHOOD AND FAMILY PLANNING PROGRAM</h2>
    <hr>

    <p> The Responsible Parenthood and Family Planning Program is one of the key component of the Philippine Population Management Program. The province objective is to help couples/parents exercise responsible parenting to develop the total well-being of
        children for them to become responsible and capable in contributing to the betterment of society, through the establishment of the Multi-Purpose Counseling and Family Development Centers and Information, Education & Communication (IEC) Advocacies.
    </p>


    <ul>
        <li>
            The Multi-Purpose Counselling and Family Development Centers
            <p>
                (Description)
            </p>
        </li>
        <li>
            IEC Advocacies
            <p>
                (insert activities and description)
            </p>
        </li>
    </ul>

</div>