<br>

<div class="quick-links-componet">
    <div class="container">
        <h5 class="pop2">ADD FEAUTRED ARTICLES HERE</h5>
        <div class="img-container">
            <br>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let image of imagesToRender">
                    <img alt="" title="slide.title " [src]="image">
                </ng-template>
            </owl-carousel-o>
            <br>
            <br>
            <div (click)="triggerInput()" class="icon-container" style="display: flex;align-items: center;justify-content: center;">
                <i style="font-size: 25px;" class="fas fa-camera"></i>
                <input (change)="readURL($event.target.files,$event)" accept="image/*" type="file" class="hidden" id="quick-link-picture" multiple style="display: none;">
            </div>
        </div>
        <div class="inputs-container">
            <textarea [(ngModel)]="article.title" class="form-control" placeholder="Title..." autosize class="title"></textarea>

            <textarea [(ngModel)]="article.body" class="form-control" placeholder="Body..." autosize class="body"></textarea>
        </div>
    </div>


    <br>
    <div class="button-container">
        <button (click)="saveQuicLink()" class="button">Save Article</button>
        <button (click)="clearEverything()" class="clickable">Clear</button>
    </div>
    <br> <br>
</div>